<div class="b-invest-infr">
    <h2 class="b-invest-infr__title">Готовая инженерная инфраструктура</h2>

    <div class="b-invest-infr__row">
        <div class="b-invest-infr__item">
            <img src="/images/invest-infr/infr-1.png" class="b-invest-infr__img" alt="">
            <span class="b-invest-infr__name">Электричество</span>
        </div>

        <div class="b-invest-infr__item">
            <img src="/images/invest-infr/infr-2.png" class="b-invest-infr__img" alt="">
            <span class="b-invest-infr__name">Водоснабжение</span>
        </div>

        <div class="b-invest-infr__item">
            <img src="/images/invest-infr/infr-3.png" class="b-invest-infr__img" alt="">
            <span class="b-invest-infr__name">Газоснабжение</span>
        </div>

        <div class="b-invest-infr__item">
            <img src="/images/invest-infr/infr-4.png" class="b-invest-infr__img" alt="">
            <span class="b-invest-infr__name">Тепловые сети</span>
        </div>
    </div>

    <div class="b-invest-infr__description">
        <div class="b-invest-infr__wrap-icon"><span class="b-invest-infr__icon-line"></span></div>
        <div class="b-invest-infr__desc-text">
            Управляющая компания обеспечивает резидентам возможность технологического присоединения к инженерным сетям АО «ОЭЗ», что позволяет <strong>снизить капитальные затраты по проекту на ~ 30%</strong>
        </div>
    </div>
</div>
