<div class="b-useful j-useful-main" data-action="/tests/useful.json" data-method="GET">
    <div class="b-useful__content j-useful-content">
        <div class="b-useful__item j-useful-item">

            {% include '../useful-item/useful-item.twig' with {
                modify: "b-useful-item_gray_date",
                title: "Как составить бизнес-план — образец с расчетами, структура и содержание бизнес-плана",
                text: "Подобный документ создается на основе трех знаний о своей идее, которые и лягут в основу всех ваших последующих действий. Только четкое понимание этих вещей может дать ту стартовую площадку, которая в итоге приведет вас к цели. Вот эти 3 знания — ключевые факторы успеха любого проекта",
                date: "5 декабря"
            } %}

        </div>
        <div class="b-useful__item j-useful-item">

            {% include '../useful-item/useful-item.twig' with {
                modify: "b-useful-item_gray_date",
                title: "Электронная подпись за час без визита в офис",
                text: "Получить квалифицированный сертификат электронной подписи можно в аккредитованных удостоверяющих центрах.",
                date: "5 декабря"
            } %}

        </div>

        <div class="b-useful__item j-useful-item">

            {% include '../useful-item/useful-item.twig' with {
                modify: "b-useful-item_gray_date",
                title: "Стратегия привлечения финансовых ресурсов",
                text: "Выделяют следующие типы стратегий привлечения финансовых средств, которые могут иметь внутреннюю и внешнюю ориентацию (но, как правило, должны органически сочетать ту и другую).",
                date: "5 декабря"
            } %}

        </div>

        <div class="b-useful__item j-useful-item">

            {% include '../useful-item/useful-item.twig' with {
                modify: "b-useful-item_gray_date",
                title: "Как составить бизнес-план — образец с расчетами, структура и содержание бизнес-плана",
                text: "Подобный документ создается на основе трех знаний о своей идее, которые и лягут в основу всех ваших последующих действий. Только четкое понимание этих вещей может дать ту стартовую площадку, которая в итоге приведет вас к цели. Вот эти 3 знания — ключевые факторы успеха любого проекта",
                date: "5 декабря"
            } %}

        </div>

        <div class="b-useful__item j-useful-item">

            {% include '../useful-item/useful-item.twig' with {
                modify: "b-useful-item_gray_date",
                title: "Электронная подпись за час без визита в офис",
                text: "Получить квалифицированный сертификат электронной подписи можно в аккредитованных удостоверяющих центрах.",
                date: "5 декабря"
            } %}

        </div>
    </div>

    <div class="b-useful__load-more">
        <a href="#" class="button button_theme_gray button_icon_refresh j-useful-load-more">Загрузить еще статьи</a>
    </div>
</div>
