.b-footer {
    @include column(36, 36);
    @include prefix(2, 36);
    @include suffix(2, 36);
    @include padding-level(top, green);
    @include padding-level(bottom, cyan);
    position: relative;
    height: 197px;
    background-image: linear-gradient(to right, $blue 0%, $violet 100%);
    overflow: hidden;
    margin-top: -197px;

    @media #{$laptop} {
        @include row();
        @include prefix(1, 36);
        @include suffix(1, 36);
        padding-bottom: 0;
    }
}

.b-footer__left {
    display: none;

    @media #{$laptop} {
        display: block;
        @include column(7, 34);
        @include prefix(1, 34);
        @include suffix(1, 34);
    }

    @media #{$fullhd} {
        @include suffix(2, 34);
        margin-top: -15px;
    }
}

.b-footer__logo {
    display: block;
    max-height: 131px;

    @media #{$fullhd} {
        max-width: 225px;
    }
}

.b-footer__logo img {
    width: 100%;
}

.b-footer__center {
    @media #{$laptop} {
        @include column(21, 34);
        @include padding-level(bottom, cyan);
    }

    @media #{$laptop-wide} {
        @include column(18, 34);
    }

    @media #{$fullhd} {
        @include column(15, 34);
    }
}

.b-footer__nav-list {
    @include row();
    justify-content: space-between;
    margin-bottom: 30px;
}

.b-footer__nav {
    display: none;


    @media #{$tablet-portrait} {
        display: block;
    }
}

.b-footer__nav-item {
    @include font-size("p3");
    font-family: $font-bold;
    color: $white;
}

.b-footer__nav-link {
    @include transition(opacity);
    font-size: inherit;
    color: inherit;

    &:hover {
        opacity: 0.6;
    }
}

.b-footer__copyright {
    @include margin-level(bottom, green);
    @include font-size("p3");
    color: $white;

    @media #{$tablet-portrait} {
        margin-bottom: 0;
    }
}

.b-footer__copyright-text {
    display: block;
    margin-bottom: 10px;

    @media #{$laptop} {
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 0;
        margin-right: 30px;
    }
}

.b-footer__copyright-link {
    @include transition(opacity);
    display: block;
    color: inherit;
    font-size: inherit;
    opacity: 0.48;
    margin-bottom: 10px;

    &:hover {
        opacity: 0.76;
    }

    &:last-of-type {
        margin-bottom: 0;
    }

    @media #{$laptop} {
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 0;
        margin-right: 30px;

        &:last-of-type {
            margin-right: 0;
        }
    }
}

.b-footer__right {
    position: relative;

    @media #{$laptop} {
        @include column(6, 34);
    }

    @media #{$laptop-wide} {
        @include column(9, 34);
        @include suffix(1, 34);
    }

    @media #{$fullhd} {
        @include column(12, 34);
    }
}

.b-footer__right-wrap {
    &:after {
        content: "";
        display: block;
        clear: both;
    }

    @media #{$tablet-portrait} {
        position: absolute;
        bottom: 0;
        right: 0;
        text-align: right;
    }

    @media #{$laptop} {
        position: static;
    }
}

.b-footer__social {
    float: left;

    @media #{$tablet-portrait} {
        float: none;
    }

    @media #{$laptop} {
        margin-top: -10px;
    }
}

.b-footer__social-link {
    @include transition(opacity);
    fill: $white;
    width: 40px;
    height: 40px;
    margin-right: 13px;
    background-image: none;

    &:hover {
        opacity: 0.6;
    }

    &:last-child {
        margin-right: 0;
    }
}

.b-footer__kelnik {
    @include transition(opacity);
    display: block;
    float: right;
    background-image: none;
    padding-top: 10px;

    &:hover {
        opacity: 0.6;
    }

    @media #{$tablet-portrait} {
        float: none;
        padding-top: 5px;
    }

    @media #{$laptop} {
        padding-top: 15px;
    }
}