<div class="b-footer__left">
    <a href="/" class="b-footer__logo">
        <img src="../images/home/logo-white.svg" alt="Особая Экономическая зона">
    </a>
</div>
<div class="b-footer__center">
    <nav class="b-footer__nav">
        <ul class="b-footer__nav-list">
            <li class="b-footer__nav-item">
                <a href="#" class="b-footer__nav-link">
                    Об ОЭЗ
                </a>
            </li>
            <li class="b-footer__nav-item">
                <a href="#" class="b-footer__nav-link">
                    Инфраструктура
                </a>
            </li>
            <li class="b-footer__nav-item">
                <a href="#" class="b-footer__nav-link">
                    Услуги
                </a>
            </li>
            <li class="b-footer__nav-item">
                <a href="#" class="b-footer__nav-link">
                    Резиденты
                </a>
            </li>
            <li class="b-footer__nav-item">
                <a href="#" class="b-footer__nav-link">
                    Инвесторам
                </a>
            </li>
            <li class="b-footer__nav-item">
                <a href="#" class="b-footer__nav-link">
                    Медиа
                </a>
            </li>
            <li class="b-footer__nav-item">
                <a href="#" class="b-footer__nav-link">
                    Контакты
                </a>
            </li>
        </ul>
    </nav>
    <div class="b-footer__copyright">
        <span class="b-footer__copyright-text">&copy; 2018, ОЭЗ &laquo;Санкт-Петербург&raquo;</span>
        <a href="#" class="b-footer__copyright-link">
            Раскрытие информации
        </a>
        <a href="#" class="b-footer__copyright-link">
            Написать сообщение
        </a>
    </div>
</div>
<div class="b-footer__right">
    <div class="b-footer__right-wrap">
        <div class="b-footer__social">
            <a href="#" class="b-footer__social-link">
                {% include "../../sprites/svg/instagram.svg.twig" %}
            </a>
            <a href="#" class="b-footer__social-link">
                {% include "../../sprites/svg/facebook.svg.twig" %}
            </a>
        </div>
        <a href="#" class="b-footer__kelnik">
            {% include "../../sprites/svg/kelnik.svg.twig" %}
        </a>
    </div>
</div>