<div class="b-footer__left">
    <a href="/" class="b-footer__logo">
        <img src="../images/home/logo-white-ru.svg" alt="Особая Экономическая зона">
    </a>
</div>
<div class="b-footer__center">
    <nav class="b-footer__nav">
        <ul class="b-footer__nav-list">
            {% set footerMenuItems = [
                'Об ОЭЗ',
                'Инфраструктура',
                'Услуги',
                'Резиденты',
                'Инвесторам',
                'Медиа',
                'Контакты'
            ] %}

            {% for footerMenuItem in footerMenuItems %}
                <li class="b-footer__nav-item">
                    <a href="#" class="b-footer__nav-link">
                        {{ footerMenuItem }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </nav>
    <div class="b-footer__copyright">
        <span class="b-footer__copyright-text">&copy; 2018, ОЭЗ &laquo;Санкт&nbsp;-&nbsp;Петербург&raquo;</span>
        <a href="#" class="b-footer__copyright-link">
            Раскрытие информации
        </a>
        <a href="#" class="b-footer__copyright-link">
            Политика конфиденциальности
        </a>
        <button class="b-footer__copyright-link j-message-button" data-href="#message">
            Написать сообщение
        </button>
    </div>
</div>
<div class="b-footer__right">
    <div class="b-footer__right-wrap">
        <div class="b-footer__social">
            <a href="#" class="b-footer__social-link">
                {% include "../../sprites/svg/instagram.svg.twig" %}
            </a>
            <a href="#" class="b-footer__social-link">
                {% include "../../sprites/svg/facebook.svg.twig" %}
            </a>
        </div>
        <a href="#" class="b-footer__kelnik">
            {% include "../../sprites/svg/kelnik.svg.twig" %}
        </a>
    </div>
</div>

<div id="#message" class="b-message-popup">
    <h3 class="b-message-popup__header">Написать сообщение</h3>
    <form action="" method="post" enctype="multipart/form-data" class="b-vacancy-response-form j-message-form">
        <div class="b-vacancy-response-form__inputs">
            <div class="b-form-block j-message-text b-input-textarea">
                {% include "../../components/forms/textarea/textarea.twig" with {
                    id: "text",
                    name: "text",
                    rows: "3"
                } %}

                <label for="admin-fio" class="b-form-block__label">Комментарий</label>
                <span class="b-form-block__error-text">Комментарий</span>
            </div>
            <div class="b-form-block j-message-fio">
                {% include "../../components/forms/input-text/input-text.twig" with {
                    id: "message-fio",
                    name: "message-fio"
                } %}

                <label for="message-fio" class="b-form-block__label">ФИО</label>
                <span class="b-form-block__error-text">Имя</span>
            </div>
            <div class="b-form-block j-message-email">
                {% include "../../components/forms/email/email.twig" with {
                    id: "message-email",
                    name: "message-email"
                } %}
                <label for="message-email" class="b-form-block__label">
                    Эл. почта
                </label>
                <span class="b-form-block__error-text">
                            Текст подсказки
                        </span>
            </div>
            <div class="b-form-block j-message-phone">
                {% include "../../components/forms/telephone/telephone.twig" with {
                    id: "message-phone",
                    name: "message-phone"
                } %}

                <label for="message-phone" class="b-form-block__label">Телефон</label>
                <span class="b-form-block__error-text">Текст подсказки</span>
            </div>
        </div>

        <button class="button b-vacancy__button j-message-submit">Написать сообщение</button>
    </form>
</div>
