<div class="l-home__header-left">
    <a href="/" class="b-logo__link lang-en" title="Вернуться на главную"></a>
</div>
<div class="l-home__header-center">
    <nav class="b-nav">
        <ul class="b-nav__list">
            {% set menuItems = [
                'Об ОЭЗ',
                'Инфраструктура',
                'Услуги',
                'Резиденты',
                'Инвесторам',
                'Медиа',
                'Контакты'
            ] %}

            {% for menuItem in menuItems  %}
                <li class="b-nav__item {% if menuItem == 'Об ОЭЗ' %} is-active {% endif %} ">
                    <a href="#" class="b-nav__link">
                        {{ menuItem }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </nav>
</div>
<div class="l-home__header-right">
    <div class="b-account">
        <!--
        Добавляем на класс b-account__link
            1. is-auth - сменится иконка на авторизованную
        -->
        <a href="#" class="b-account__link is-auth">
            <span class="b-account__link-icon">
                <span class="b-account__messages">2</span>
            </span>
            <span class="b-account__link-text">Личный кабинет</span>
        </a>
    </div>
    <div class="b-language">
        <span class="b-language__link">
            Ru
        </span>
        <ul class="b-language__list">
            <li class="b-language__item is-active">
                <a href="#" class="b-language__item-link b-link-line">
                    Рус
                </a>
            </li>
            <li class="b-language__item">
                <a href="#" class="b-language__item-link b-link-line">
                    Eng
                </a>
            </li>
            <li class="b-language__item">
                <a href="#" class="b-language__item-link b-link-line">
                    中國
                </a>
            </li>
        </ul>
    </div>
    <div class="b-burger-wrap j-burger-click">
        <div class="b-burger">
            <div class="b-burger__line"></div>
            <div class="b-burger__line"></div>
            <div class="b-burger__line"></div>
        </div>
    </div>
</div>

