.l-home__header {
    @include row();
    @include suffix(1, 36);
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    width: 100%;
    height: 60px;

    .b-nav__item {
        &.is-active {
            &:before {
                display: none;
            }
        }
    }

    .b-language__list {
        top: 98%;
    }

    @media #{$laptop} {
        @include prefix(1, 36);
        @include suffix(0, 36);
        height: 80px;
    }

    @media #{$fullhd} {
        height: 100px;
    }

    // При скролле
    &.is-scroll {
        background-color: $white;
        box-shadow: 0 1px 0 $dark-white, 0 2px 6px $dark-white;

        .b-logo__link {
            height: 55px;
            margin-top: 0;
            background-image: url("/images/home/logo-color.svg");

            @media #{$laptop} {
                height: 67px;
            }

            @media #{$fullhd} {
                height: 90px;
            }

            &.lang-en {
                background-image: url("/images/home/en-logo/Logo-color.svg");
            }

            &.lang-ch {
                background-image: url("/images/home/ch-logo/Logo-color.svg");
            }
        }

        .l-home__header-right {
            @media #{$laptop} {
                align-items: stretch;
            }
        }

        .b-nav__link,
        .b-account__link,
        .b-language__link {
            color: $blue;
        }

        .b-nav__link {
            &:hover {
                border-color: $blue;
            }
        }

        .b-nav__item.is-active {
            &:before {
                display: block;
            }
        }

        .b-account__link-icon {
            fill: $blue;
        }

        .b-language__list {
            top: 67%;
        }

        .b-burger-wrap {
            padding-top: 5px;
        }

        .b-burger__line {
            height: 2px;
            background-image: linear-gradient($gradient-linear);
        }

        .b-account,
        .b-language,
        .b-burger-wrap {
            height: 100%;

            @media #{$laptop} {
                box-shadow: -1px 0 0 #efeff4;
            }
        }

        .b-account__tooltip-block {
            box-shadow: 0 20px 40px rgba($dark-grey, 0.4);
            border: 1px solid $dark-grey;

            &:after {
                border-top: 1px solid $dark-grey;
                border-left: 1px solid $dark-grey;
            }
        }
    }

    // внутренние страницы
    &.inner-header {
        background-color: $white;
        box-shadow: 0 1px 0 $dark-white, 0 2px 6px $dark-white;

        .b-logo__link {
            height: 55px;
            margin-top: 0;
            background-image: url("/images/home/logo-color.svg");

            @media #{$laptop} {
                height: 67px;
            }

            @media #{$fullhd} {
                height: 90px;
            }

            &.lang-en {
                background-image: url("/images/home/en-logo/Logo-color.svg");
            }

            &.lang-ch {
                background-image: url("/images/home/ch-logo/Logo-color.svg");
            }
        }

        .l-home__header-right {
            @media #{$laptop} {
                align-items: stretch;
            }
        }

        .b-nav__link,
        .b-account__link,
        .b-language__link {
            color: $blue;
        }

        .b-nav__link {
            &:hover {
                border-color: $blue;
            }
        }

        .b-nav__item.is-active {
            &:before {
                display: block;
            }
        }

        .b-account__link-icon {
            fill: $blue;
        }

        .b-language__list {
            top: 67%;
        }

        .b-burger-wrap {
            padding-top: 5px;
        }

        .b-burger__line {
            height: 2px;
            background-image: linear-gradient($gradient-linear);
        }

        .b-account,
        .b-language,
        .b-burger-wrap {
            height: 100%;

            @media #{$laptop} {
                box-shadow: -1px 0 0 #efeff4;
            }
        }

        .b-account__tooltip-block {
            box-shadow: 0 20px 40px rgba($dark-grey, 0.4);
            border: 1px solid $dark-grey;

            &:after {
                border-top: 1px solid $dark-grey;
                border-left: 1px solid $dark-grey;
            }
        }
    }
}

.inner-header {
    .b-nav__item {
        &.is-active {
            .b-nav__link {
                color: $black;
            }
        }
    }
}

.l-home__header-left {
    @include column(27, 36);
    height: 100%;

    @media #{$laptop} {
        flex-basis: auto;
        flex-grow: 0;
        width: 210px;
        min-width: 210px;
        height: 100%;
    }

    @media #{$fullhd} {
        width: 315px;
        min-width: 315px;
        overflow: hidden;

        .b-logo__link {
            margin-left: -20px;
        }
    }
}

.b-logo__link {
    display: block;
    width: 100%;
    height: 68px;
    max-width: 210px;
    background-image: url("/images/home/logo-two.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 94%;
    margin-top: -13px;

    @media #{$laptop} {
        max-width: 100%;
        margin-top: 0;
    }

    @media #{$fullhd} {
        height: 97px;
        margin-top: -10px;
    }

    &.lang-en {
        background-image: url("/images/home/en-logo/Logo-white-text.svg");
    }

    &.lang-ch {
        background-image: url("/images/home/ch-logo/Logo-white-text.svg");
    }
}

.l-home__header-center {
    @include column(23, 36);
    @include prefix(1, 36);
    @include suffix(0.5, 36);
    display: none;

    @media #{$laptop} {
        display: block;
    }

    @media #{$laptop-wide} {
        @include column(20, 35);
    }
}

.b-nav__list {
    @include row();
    @include post(1, 36);
    justify-content: space-between;
    align-items: center;
}

.b-nav__item {
    position: relative;

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(6) {
        &:before {
            display: none;
            content: "";
            width: 10px;
            height: 10px;
            border: 5px solid $dark-white;
            border-bottom-color: transparent;
            border-right-color: transparent;
            transform: rotate(45deg);
            position: absolute;
            bottom: -5px;
            left: 50%;
            margin-left: -5px;
        }
    }

    &.is-active {
        &:before {
            display: block;
        }

        .b-nav__link {
            &:hover {
                border-color: transparent;
            }
        }
    }

    @media #{$laptop} {
        padding-top: 27px;
        padding-bottom: 27px;
    }

    @media #{$fullhd} {
        padding-top: 35px;
        padding-bottom: 35px;
    }
}

.b-nav__link {
    @include font-size("p2");
    @include transition(border);
    font-family: $font-bold;
    color: $white;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    background-image: none;

    &:hover {
        border-color: $white;
    }
}

.l-home__header-right {
    @include row();
    @include column(8, 35);
    align-items: center;
    text-align: right;

    @media #{$laptop} {
        @include column(6, 35);
        justify-content: space-between;
        align-items: stretch;
        height: 100%;
    }

    @media #{$laptop-wide} {
        @include column(9, 35);
    }
}

.l-home__header-right.lang-ch {
    flex: 0 0 auto;
    white-space: nowrap;
    display: block;
    height: 100%;
}

.l-home__header-right.lang-ch .b-language {
    width: 40px;
    display: flex;
    max-width: none;
    flex-basis: auto;
    height: 100%;
    align-items: center;
    flex-wrap: wrap;

    @media #{$laptop} {
        width: 70px;
    }

    @media #{$laptop-wide} {
        width: 88px;
    }

    @media #{$laptop-wide} {
        width: 105px;
    }
}

.l-home__header-right.lang-ch .b-language__list {
    width: 100%;
}

.b-account {
    @include column(4, 8);
    align-items: center;
    justify-content: center;
    text-align: right;
    position: relative;

    .is-auth {
        .b-account__link-icon {
            background-image: url("/images/home/user-auth.svg");
        }
    }

    @media #{$tablet-portrait} {
        @include column(6, 8);
    }

    @media #{$laptop} {
        @include row();
        @include column(2, 6);
    }

    @media #{$laptop-wide} {
        @include column(5, 9);
        @include suffix(0.5, 9);
        text-align: left;
        justify-content: flex-end;
    }
}

.b-account__link {
    position: relative;
    color: $white;
    font-size: 17px;
    text-decoration: none;
    background-image: none;

    @media #{$laptop} {
        display: inline-block;
        vertical-align: top;
    }
}

.b-account__link-icon {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    background-image: url("/images/home/user-not-auth.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.b-account__messages {
    display: block;
    width: 22px;
    height: 22px;
    font-size: 12px;
    color: $white;
    text-align: center;
    line-height: 20px;
    font-weight: 700;
    background-color: $blue;
    border: 1px solid $white;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    right: -10px;
}

.b-account__link-text {
    display: none;

    @media #{$laptop-wide} {
        display: inline-block;
        vertical-align: top;
        padding-top: 5px;
        margin-left: 13px;
    }
}

.b-language {
    @include column(2, 6);
    display: none;
    position: relative;
    text-align: center;
    cursor: pointer;

    &:hover {
        .b-language__list {
            visibility: visible;
            opacity: 1;
        }
    }

    @media #{$laptop} {
        @include row();
        align-items: center;
        justify-content: center;
    }

    @media #{$laptop-wide} {
        @include column(2, 9);
        text-align: left;
    }
}

.b-language__link {
    @include font-size("p3");
    color: $white;
    text-decoration: none;
    background-image: none;
}

.b-language__list {
    @include transition(visibility, opacity);
    width: 80%;
    text-align: center;
    background-color: $white;
    border-radius: 4px;
    box-shadow: 0 4px 10px rgba($blue, 0.16);
    padding: 13px 0;
    position: absolute;
    top: 67%;
    left: 0;
    right: 0;
    z-index: 1;
    margin: auto;
    visibility: hidden;
    opacity: 0;
    cursor: default;
}

.b-language__item {
    margin-bottom: 14px;

    &:last-child {
        margin-bottom: 0;
    }

    &.is-active {
        .b-language__item-link {
            background-image: none;
            color: $black;
            pointer-events: none;
            cursor: default;
        }
    }
}

.b-language__item-link {
    @include font-size("p4");
}

.b-burger-wrap {
    @include column(4, 8);
    display: inline-block;
    vertical-align: top;
    text-align: right;
    padding-top: 15px;

    @media #{$tablet-portrait} {
        @include column(2, 8);
    }

    @media #{$laptop} {
        @include row();
        @include column(2, 6);
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 0;
    }

    @media #{$laptop-wide} {
        @include column(2, 9);
    }
}

.b-burger {
    display: inline-block;
    vertical-align: top;
    width: 16px;
    cursor: pointer;

    @media #{$laptop} {
        width: 24px;
    }
}

.b-burger__line {
    width: 100%;
    height: 1px;
    background-color: $white;
    margin-bottom: 4px;

    &:last-child {
        margin-bottom: 0;
    }

    @media #{$laptop} {
        height: 2px;
        margin-bottom: 7px;
    }

    @media #{$fullhd} {
        height: 3px;
        margin-bottom: 6px;
    }
}
