<div class="l-home__header-left">
    <a href="/" class="b-logo__link" title="Вернуться на главную"></a>
</div>
<div class="l-home__header-center">
    <nav class="b-nav">
        <ul class="b-nav__list">
            {% set menuItems = [
                'Об ОЭЗ',
                'Инфраструктура',
                'Услуги',
                'Резиденты',
                'Инвесторам',
                'Медиа',
                'Контакты'
            ] %}

            {% for menuItem in menuItems  %}
                <li class="b-nav__item {% if menuItem == 'Об ОЭЗ' %} is-active {% endif %} ">
                    <a href="#" class="b-nav__link">
                        {{ menuItem }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </nav>
</div>
<div class="l-home__header-right">
    <div class="b-account">
        <!--
        Добавляем на класс b-account__link
            1. is-auth - сменится иконка на авторизованную
        -->

        <a href="#" class="b-account__link is-auth">
            <div class="b-globalSearch__icon j-globalSearch-icon">
                {% include '../../components/search/media/search.svg' %}
            </div>
            <span class="b-account__link-icon">
                <span class="b-account__messages">2</span>
            </span>
            <span class="b-account__link-text">Личный кабинет</span>
        </a>
    </div>
    <div class="b-language">
        <span class="b-language__link">
            Ru
        </span>
        <ul class="b-language__list">
            <li class="b-language__item is-active">
                <a href="#" class="b-language__item-link b-link-line">
                    Рус
                </a>
            </li>
            <li class="b-language__item">
                <a href="#" class="b-language__item-link b-link-line">
                    Eng
                </a>
            </li>
            <li class="b-language__item">
                <a href="#" class="b-language__item-link b-link-line">
                    中國
                </a>
            </li>
        </ul>
    </div>
    <div class="b-burger-wrap j-burger-click">
        <div class="b-burger">
            <div class="b-burger__line"></div>
            <div class="b-burger__line"></div>
            <div class="b-burger__line"></div>
        </div>
    </div>
</div>

<div class="b-search__mainContainer j-global-search">

    <div class="b-search__overlay">
    </div>

    <div class="b-search__container">
        <form autocomplete="off"
              class="j-search-header">
        <div class="b-search__autocomplete-wrap">
            <div class="b-search__input-wrap">
                <div class="b-search__close j-search-close" aria-label="закрыть поиск"></div>
                <input type="search" name="q" class="b-search__input" placeholder="Поиск по сайту">
                <div class="b-search__icon">
                    {% include '../../components/search/media/search.svg' %}
                </div>
            </div>
            <div class="b-search__result j-globalSearch-result is-result">
                <ul class="b-search__result-wrapp">Популярные запросы
                    <li class="b-search__result-item">
                        <a href="#" class="b-search__result-text j-search-link">Скачать документы бесплатно без смс</a>
                    </li>
                    <li class="b-search__result-item">
                        <a href="#" class="b-search__result-text j-search-link">Как стать резидентом</a>
                    </li>
                    <li class="b-search__result-item">
                        <a href="#" class="b-search__result-text j-search-link">Какие услуги предоставляет РОСОЭЗ</a>
                    </li>
                </ul>
            </div>
        </div>
        </form>
    </div>
</div>

