{#variables#}
{% set color = '#000000' %}

{#component#}
<!doctype html>
<html lang="ru">
<head>
    {% include '_head.twig' %}
    {% block title %}{% endblock %}
</head>
<body>

<div class="l-layout">
    <main class="l-layout__content">
        {% block content %}{% endblock %}
    </main>
</div>

<script async src="/scripts/app.js"></script>
</body>
</html>
