{#variables#}
{% set color = '#000000' %}

{#component#}
<!doctype html>
<html lang="ru">
    <head>
        {% include '_head.twig' %}
        {% block title %}{% endblock %}
    </head>
    <body>


        {% include "../../components/alert-old-browser/alert-old-browser.twig" %}

        <div class="l-layout">
            <header class="l-home__header j-home__header">
                {% include '_header.twig' %}
            </header>

            <main class="l-layout__content">
                {% block content %}{% endblock %}
            </main>

            <footer class="l-home-footer b-footer">
                {% include '_footer.twig' %}
            </footer>

            {# Мобильное меню #}

            {% include '../../components/mobile-menu/mobile-menu.twig' %}
        </div>
        <script async src="/scripts/app.js"></script>

        <div id="j-particles_static" class="background-particles background-particles_theme_static j-bg-static-particles"></div>
        <div id="j-particles_v2" class="background-particles background-particles_theme_dynamic j-bg-dynamic-particles"></div>
    </body>
</html>
