{#variables#}
{% set color = '#000000' %}

{#component#}
<!doctype html>
<html lang="ru">
    <head>
        {% include '_head.twig' %}
        {% block title %}{% endblock %}
    </head>
    <body>

        {% include "../../components/alert-old-browser/alert-old-browser.twig" %}

        <div class="l-layout">
            <header class="l-home__header j-home__header">
                {% include '_header.twig' %}
            </header>

            <main class="l-layout__content">
                {% block content %}{% endblock %}
            </main>

            <footer class="l-home-footer b-footer">
                {% include '_footer.twig' %}
            </footer>
        </div>

        <script async src="/scripts/app.js"></script>
    </body>
</html>
