.l-layout {
    @include row();
    min-height: 100%;
}

.l-layout__content {
    @include column(36, 36);
    min-height: 100vh;
    padding-bottom: 197px;
}

.l-layout__content-inner {
    position: relative;
    padding-top: 60px;

    @media #{$laptop} {
        padding-top: 80px;
    }

    @media #{$fullhd} {
        padding-top: 100px;
    }
}