<a
    class="b-social-link {% if modify %}{{ modify }}{% endif %}"
    href="{{ href }}" title="{{ title }}"
    target="_blank">
        <span class="b-social-link__icon">
            {% include file %}
        </span>
</a>
