<div class="b-add-request__pass__item">
    <button type="button" class="b-profile-block__delete j-delete-pass" data-id="{{ id }}"></button>
    <h4>Пропуск</h4>
    <div class="b-form-block__half-wrap b-form-block__half-wrap_is_top">
        <div class="b-form-block">
            {% include "../../forms/input-text/input-text.twig" with {
                id: "fio",
                name: "pass[fio][]",
                required: "true"
            } %}

            <label for="theme-request" class="b-form-block__label">
                ФИО
            </label>
            <span class="b-form-block__error-text">Текст подсказки</span>
        </div>

        <div class="b-form-block">
            {% include "../../forms/input-text/input-text.twig" with {
                id: "organizationPass",
                name: "pass[organizationPass][]",
                required: "true"
            } %}

            <label for="theme-request" class="b-form-block__label">
                Организация
            </label>
            <span class="b-form-block__error-text">Текст подсказки</span>
        </div>
    </div>

    <div class="b-form-block__half-wrap b-form-block__half-wrap_is_center">
        <div class="b-form-block">
            {% include "../../forms/input-text/input-text.twig" with {
                id: "carModel",
                name: "pass[carModel][]",
                required: "true"
            } %}

            <label for="theme-request" class="b-form-block__label">
                Марка автомобиля
            </label>
            <span class="b-form-block__error-text">Текст подсказки</span>
        </div>

        <div class="b-form-block">
            {% include "../../forms/input-text/input-text.twig" with {
                id: "stateNumber",
                name: "pass[stateNumber][]",
                required: "true"
            } %}

            <label for="theme-request" class="b-form-block__label">
                Гос. номер
            </label>
            <span class="b-form-block__error-text">Текст подсказки</span>
        </div>
    </div>

    <div class="b-form-block">
        {% include "../../forms/input-text/input-text.twig" with {
            id: "accompanying",
            name: "pass[accompanying][]",
            required: "true"
        } %}

        <label for="theme-request" class="b-form-block__label">
            Фамилия и инициалы сопровождающего лица
        </label>
        <span class="b-form-block__error-text">Текст подсказки</span>
    </div>

</div>
