.b-advantages {
    @include padding-level(both, violet);
    @include prefix(2, 36);
    @include suffix(2, 36);
    position: relative;
    z-index: 3;

    @media #{$tablet-portrait} {
        @include row();
        @include prefix(1, 36);
        @include suffix(2, 36);
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    @media #{$laptop} {
        @include suffix(3, 36);
    }

    @media #{$fullhd} {
        @include suffix(4, 36);
    }
}

.b-advantages_theme_gradient {
    background-image: linear-gradient(to right, $blue 0%, $violet 100%);

    @media #{$tablet-portrait} {
        @include prefix(2, 36);
        @include suffix(1, 36);
        flex-direction: row-reverse;
    }

    @media #{$laptop} {
        @include prefix(3, 36);
    }

    @media #{$fullhd} {
        @include prefix(4, 36);
    }

    .b-advantages__title h2,
    .b-advantages__text p {
        color: $white;
    }

    .b-advantages__block {
        @media #{$tablet-portrait} {
            @include post(2, 33);
            margin-left: 0;
        }
    }

    .b-advantages__item {
        color: $white;

        &:before {
            background-image: none;
            background-color: $white;
        }
    }
}

.b-advantages_theme_parking .b-advantages__block {
    @media #{$laptop-only}, #{$laptop-wide-only} {
        @include column(17, 32);
        @include push(4, 32);
    }
}

.b-advantages_theme_gradient.b-advantages_theme_security .b-advantages__block {
    @media #{$laptop-only},  #{$laptop-wide-only} {
        @include column(17, 32);
        @include post(4, 32);
    }
}

.b-advantages__title h2 {
    @include margin-level(top, cyan);
    @include margin-level(bottom, cyan);
    @include font-size("h2");

    @media #{$tablet-portrait} {
        @include margin-level(top, reset);
    }
}

.b-advantages__text p {
    @include font-size("p1");
}

.b-advantages__img {
    width: 80%;

    @media #{$tablet-portrait} {
        @include column(10, 33);
        align-self: center;
    }
    @media #{$laptop} {
        @include column(11, 32);
    }
    @media #{$fullhd} {
        @include column(11, 31);
    }
}

.b-advantages__block {
    @media #{$tablet-portrait} {
        @include column(21, 33);
        @include push(2, 33);
    }
    @media #{$laptop} {
        @include column(19, 32);
        @include push(2, 32);
    }
    @media #{$fullhd} {
        @include column(18, 31);
        @include push(2, 31);
    }
}

.b-advantages__parking-item {
    @media #{$tablet-portrait} {
        @include column(10, 21);
    }

    @media #{$laptop} {
        @include column(6, 21);
    }

    &:not(:last-child) {
        @include margin-level(bottom, green);
        @include post(1, 21);
    }
}


.b-advantages__wrapper {
    @media #{$tablet-portrait} {
        display: flex;
    }
}

.b-advantages__place {
    @include font-size("h4");
    padding-bottom: 22px;
    color: $blue;
    font-weight: 700;
}

.b-advantages__place-text p {
    @include font-size("p3");
    @include padding-level(top, orange);
    position: relative;

    &:before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 52px;
        height: 2px;
        background-image: linear-gradient($gradient-linear);
    }
}

.b-advantages__list {
    @include row();
}

.b-advantages__text + .b-advantages__list {
    @include padding-level(top, cyan);
}

.b-advantages__item {
    @include font-size("p3");
    @include padding-level(top, orange);
    position: relative;
    width: 100%;

    @media #{$tablet-portrait} {
        @include column(10, 21);
    }

    @media #{$laptop} {
        @include column(6, 20);
    }

    &:before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 52px;
        height: 2px;
        background-image: linear-gradient($gradient-linear);
    }

    &:not(:first-child) {
        @include margin-level(top, green);
    }

    &:nth-child(2) {
        @media #{$tablet-portrait} {
            margin-top: 0;
        }
    }

    &:nth-child(3) {
        @media #{$laptop} {
            margin-top: 0;
        }
    }

    &:nth-child(2n + 1) {
        @media #{$tablet-portrait} {
            @include post(1, 21);
        }

        @media #{$laptop} {
            margin-right: 0;
        }
    }

    &:not(:nth-child(3n)) {
        @media #{$laptop} {
            @include post(1, 20);
        }
    }
}
