<div class="b-mobile-menu j-mobile-menu">
    {% include "../navigation/navigation.twig" with {
        items: [{
            href: '/pages/home.html',
            name: 'Главная'
        }, {
            href: '/pages/about.html',
            name: 'О проекте'
        }, {
            href: '/pages/location.html',
            name: 'Расположение',
            active: true
        }, {
            href: '/pages/offers-and-news.html',
            name: 'Акции и новости'
        }, {
            href: '/pages/flats.html',
            name: 'Квартиры'
        }, {
            href: '/pages/parking.html',
            name: 'Паркинги'
        }, {
            href: '/pages/commercial.html',
            name: 'Коммерция'
        }, {
            href: '/pages/how-to-buy.html',
            name: 'Как купить'
        }, {
            href: '/pages/construction-progress.html',
            name: 'Ход строительства'
        }, {
            href: '/pages/documents.html',
            name: 'Документы'
        }, {
            href: '/pages/contacts.html',
            name: 'Контакты'
        } ]
    } %}
</div>
