<div class="b-quote">
    <div class="b-quote__title b-title">
        <h2>Миссия компании</h2>
    </div>
    <div class="b-quote__text">
        <p>
            Содействие реализации государственной политики Российской Федерации по привлечению инвестиций, созданию рабочих мест и оказание содействия развитию реального сектора экономики, производства научно-технической продукции, импортозамещению, формированию новых территорий экономического развития и социального роста в регионе
        </p>
    </div>
</div>