<div class="b-quote">
    <h2 class="b-quote__title b-title">Миссия компании</h2>
    <p class="b-quote__text">
            Содействие реализации государственной политики Российской Федерации по привлечению инвестиций, созданию рабочих мест и оказание содействия развитию реального сектора экономики, производства научно-технической продукции, импортозамещению, формированию новых территорий экономического развития и социального роста в регионе
    </p>
</div>
