<div class="b-share">
    <div class="b-share__caption">Поделиться</div>
    <a href="#" class="b-share__item b-share__item_icon_fb"></a>
    <a href="#" class="b-share__item b-share__item_icon_vk"></a>
    <a href="#" class="b-share__item b-share__item_icon_odk"></a>
</div>
