
.b-share {
    display: flex;
    align-items: center;
}

.b-share__caption {
    @include font-size(p3);
    margin-right: 20px;
    font-weight: 700;

    @media #{$tablet-portrait} {
        margin-right: 33px;
    }
}

.b-share__item,
.ya-share2__link {
    width: 35px;
    height: 35px;
    opacity: 0;

    &:last-child {
        margin-right: 0;
    }

    @media #{$tablet-portrait} {
        margin-right: 24px;
    }
}

.ya-share2__item {
    @include transition(opacity);
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 14px !important; //stylelint-disable-line

    &:last-child {
        margin-right: 0 !important; //stylelint-disable-line
    }

    &:hover {
        opacity: 0.6 !important; //stylelint-disable-line
    }
}

.ya-share2__item.ya-share2__item_service_facebook {
    background-image: url("/images/share/fb.png");
}

.ya-share2__item.ya-share2__item_service_vkontakte {
    background-image: url("/images/share/vk.png");
}

.ya-share2__item.ya-share2__item_service_odnoklassniki {
    background-image: url("/images/share/odk.png");
}
