<IfModule mod_php5.c>
  php_flag engine off
</IfModule>

<IfModule mod_rewrite.c>
  Options +FollowSymLinks
  RewriteEngine On

  RewriteCond %{HTTP_HOST} ^www\.spbsez\.ru [NC]
  RewriteRule (.*) / [R=301,L]
</IfModule>