<div class="b-invest-benefits">
    <div class="b-invest-benefits__content">

        <div class="b-invest-benefits__item-wrap">
            <div class="b-invest-benefits__item b-invest-benefits__item_is_first">
                <h4 class="b-invest-benefits__title">Импорт и экспорт инновационных продуктов</h4>
                <div class="b-invest-benefits__text">Преференции открывают иностранному бизнесу возможности развивать свой продукт на непосредственном рынке сбыта, учитывая его макро- и микрофакторы. ОЭЗ помогает создавать конкурентоспособный продукт для российского потребителя, либо организовывать эффективное производство, ориентированное на экспорт с привлечением высококлассных российских кадров, ресурсов и технологий. </div>
            </div>
        </div>


        <div class="b-invest-benefits__item-wrap" id="investors-benefits">
            <div class="b-invest-benefits__item b-invest-benefits__item_is_second">
                <h4 class="b-invest-benefits__title">Стабильность и безопасность</h4>
                <div class="b-invest-benefits__text">На федеральном уровне проект курирует Министерство экономического развития, а оперативное управление проектом ОЭЗ осуществляется на региональном уровне. Это является гарантией стабильной и безопасной работы инвесторов на российском рынке. </div>
            </div>
        </div>

        <div class="b-invest-benefits__item-wrap">
            <div class="b-invest-benefits__item b-invest-benefits__item_is_third">
                <h4 class="b-invest-benefits__title">Особая экосистема и диалог с органами власти</h4>
                <div class="b-invest-benefits__text">Наряду с преференциями резиденты получают возможности бизнес-взаимодействия внутри создаваемой ОЭЗ экосистемы: налаживать коммуникации с государственными органами и крупным бизнесом, обмениваться опытом. Взаимодействие с государственными регулирующими органами становится максимально простым и прозрачным. </div>
            </div>
        </div>

    </div>
</div>
