.b-invest-conditions {
    @include prefix(2, 36);
    @include suffix(2, 36);
    @include padding-level(top, pink);
    @include padding-level(bottom, pink);
    background-color: $white;

    @media #{$laptop} {
        @include prefix(3, 36);
        @include suffix(3, 36);
    }

    @media #{$fullhd} {
        @include prefix(4, 36);
        @include suffix(4, 36);
    }
}

.b-invest-conditions__title {
    @include margin-level(bottom, blue);
}

.b-invest-conditions__items {
    @include row();
}

.b-invest-conditions__item {
    @include column(32, 32);
    margin-bottom: 40px;

    &:last-child {
        margin-bottom: 0;
    }

    @media #{$tablet-portrait} {
        @include column(13, 28);
        @include post(2, 28);
        margin-bottom: 0;

        &:last-child {
            margin-right: 0;
        }
    }

    @media #{$tablet-portrait} {
        @include column(14, 30);
        @include post(2, 30);

        &:last-child {
            margin-right: 0;
        }
    }

    @media #{$fullhd} {
        @include column(12, 28);
        @include post(1, 28);

        &:last-child {
            margin-right: 0;
        }
    }
}
