<div class="b-input-date j-input-date" data-name="dateVisitFrom">
    <div class="b-input-date__title">С</div>

    <ul class="b-input-date__head">
        <li class="b-input-date__head-item">Пн</li>
        <li class="b-input-date__head-item">Вт</li>
        <li class="b-input-date__head-item">Ср</li>
        <li class="b-input-date__head-item">Чт</li>
        <li class="b-input-date__head-item">Пт</li>
        <li class="b-input-date__head-item b-input-date__head-item_is_disabled">Сб</li>
        <li class="b-input-date__head-item b-input-date__head-item_is_disabled">Вс</li>
    </ul>

    <div class="b-input-date__content">

        <div class="b-input-date__month">
            <div class="b-input-date__month-name">Октябрь, 2018</div>

            <div class="b-input-date__weeks">
                <ul class="b-input-date__week">
                   <li class="b-input-date__day j-input-date-day">1</li>
                   <li class="b-input-date__day j-input-date-day">2</li>
                    <li class="b-input-date__day j-input-date-day">3</li>
                    <li class="b-input-date__day j-input-date-day b-input-date__day_is_disabled">4</li>
                    <li class="b-input-date__day j-input-date-day b-input-date__day_is_disabled">5</li>
                </ul>

                <ul class="b-input-date__week">
                    <li class="b-input-date__day j-input-date-day">6</li>
                    <li class="b-input-date__day j-input-date-day">7</li>
                    <li class="b-input-date__day j-input-date-day">8</li>
                    <li class="b-input-date__day j-input-date-day">9</li>
                    <li class="b-input-date__day j-input-date-day">10</li>
                    <li class="b-input-date__day j-input-date-day b-input-date__day_is_disabled">11</li>
                    <li class="b-input-date__day j-input-date-day b-input-date__day_is_disabled">12</li>
                </ul>

                <ul class="b-input-date__week">
                    <li class="b-input-date__day j-input-date-day">13</li>
                    <li class="b-input-date__day j-input-date-day">14</li>
                    <li class="b-input-date__day j-input-date-day">15</li>
                    <li class="b-input-date__day j-input-date-day">16</li>
                    <li class="b-input-date__day j-input-date-day">17</li>
                    <li class="b-input-date__day j-input-date-day b-input-date__day_is_disabled">18</li>
                    <li class="b-input-date__day j-input-date-day b-input-date__day_is_disabled">19</li>
                </ul>

                <ul class="b-input-date__week">
                    <li class="b-input-date__day j-input-date-day">20</li>
                    <li class="b-input-date__day j-input-date-day">21</li>
                    <li class="b-input-date__day j-input-date-day">22</li>
                    <li class="b-input-date__day j-input-date-day">23</li>
                    <li class="b-input-date__day j-input-date-day">24</li>
                    <li class="b-input-date__day j-input-date-day b-input-date__day_is_disabled">25</li>
                    <li class="b-input-date__day j-input-date-day b-input-date__day_is_disabled">26</li>
                </ul>

                <ul class="b-input-date__week">
                    <li class="b-input-date__day j-input-date-day">27</li>
                    <li class="b-input-date__day j-input-date-day">28</li>
                    <li class="b-input-date__day j-input-date-day">29</li>
                    <li class="b-input-date__day j-input-date-day">30</li>
                    <li class="b-input-date__day j-input-date-day">31</li>
                </ul>
            </div>
        </div>

    </div>

    <div class="b-input-date__addition"></div>
</div>
