<header class="l-header j-header">
    <div class="b-header">
        <div class="b-header__wrap">
            <a href="/" class="b-header__logo">Логотип</a>
            <nav class="b-header__menu"></nav>
            <nav class="b-header__mobile-menu">
                <button class="b-header__mobile-menu-close">
                    {% include 'media/mobile-header-close.svg' %}
                </button>
                <ul>
                    <li>Пункт меню 1</li>
                    <li>Пункт меню 2</li>
                    <li>Пункт меню 3</li>
                    <li>Пункт меню 4</li>
                    <li>Пункт меню 5</li>
                    <li>Пункт меню 6</li>
                    <li>Пункт меню 7</li>
                    <li>Пункт меню 8</li>
                    <li>Пункт меню 9</li>
                    <li>Пункт меню 10</li>
                </ul>
            </nav>
            <button class="b-header__open-menu">
                {% include 'media/mobile-header-open.svg' %}
            </button>
        </div>
    </div>
</header>
<main class="l-main ">
    <div class="b-main">
        <h1>Тестовый текс testт</h1>
        <h2>Абзац 1</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur mollis erat sit amet tellus interdum
            ullamcorper. Nulla vitae arcu tristique arcu tempus viverra. Etiam fringilla ex in metus dignissim porta
            cursus id orci. Vivamus odio leo, tempor sed cursus interdum, viverra sed purus. Nunc tempus eu ligula
            tempor placerat. Vestibulum sed cursus mi, eu convallis tortor. Integer fermentum fermentum elementum. Nunc
            lacus tellus, accumsan eget semper ut, dapibus ut lectus. Phasellus non elit commodo, tincidunt leo non,
            vestibulum turpis. In pharetra iaculis lorem vitae suscipit. Maecenas sed sollicitudin nibh.</p>
        <br>
        <h2>Абзац 2</h2>
        <p>Suspendisse orci tortor, hendrerit vel nulla non, pulvinar molestie nisl. Ut eu neque est. Nam in nisl
            lacinia, blandit nibh at, sollicitudin lacus. Suspendisse pharetra ex accumsan, tincidunt lectus sed, mattis
            urna. Vivamus eu ante nisi. In hac habitasse platea dictumst. Cras velit est, faucibus eu vulputate eget,
            molestie sed felis. Duis efficitur ornare dictum. Donec purus ligula, ultrices nec justo id, sagittis tempus
            est. Mauris augue diam, fringilla et ipsum eu, lobortis dignissim diam. Aenean iaculis quis dui nec
            sollicitudin. In a lorem ut ex euismod dignissim vitae in velit. Quisque bibendum, enim sit amet vehicula
            accumsan, felis metus scelerisque turpis, ac semper felis quam at dui. Fusce nec justo dapibus massa egestas
            scelerisque malesuada ut justo. Curabitur vestibulum sapien eu quam commodo, vitae finibus eros vestibulum.
            Suspendisse quis lorem odio.</p>
        <br>
        <h2>Абзац 3</h2>
        <p>Nunc libero neque, convallis nec mollis eleifend, interdum tristique dui. Morbi facilisis vehicula nulla quis
            elementum. Suspendisse posuere vitae quam vel lacinia. Interdum et malesuada fames ac ante ipsum primis in
            faucibus. Nullam porttitor porta odio, sed vulputate sapien venenatis sed. Proin finibus et nibh non
            dignissim. Phasellus congue enim fringilla mollis tempus. Quisque faucibus tempor eros, sagittis gravida est
            mollis vitae. Nullam pretium lacus eget auctor rhoncus. Pellentesque fringilla convallis quam eu fermentum.
            Praesent feugiat ultricies hendrerit. Proin feugiat lorem ultricies dui commodo, eget commodo magna semper.
            Cras mollis volutpat dui id ullamcorper. Vestibulum pretium orci sed metus semper, in imperdiet nisi
            fringilla.</p>
        <br>
        <h2>Абзац 4</h2>
        <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin ut risus metus. Sed sed gravida augue, a
            dapibus magna. Pellentesque in sapien suscipit, pharetra tellus ac, pellentesque risus. Vivamus tempus nec
            tellus ut feugiat. Aenean viverra eu eros euismod lacinia. Fusce et rhoncus dolor. Donec quis finibus
            tellus. Aenean mattis nunc vel ligula tincidunt, non euismod nibh mattis. Cras non mauris non diam
            consectetur vehicula. Duis mattis urna eu erat consequat efficitur. Integer rhoncus nisi tellus, a placerat
            metus pulvinar eu. Nulla sagittis, erat vitae suscipit venenatis, justo metus mollis mi, quis venenatis ex
            ipsum id sapien. Aenean pretium ex non venenatis mattis. Morbi imperdiet augue nec mi malesuada, vel mattis
            sem egestas.</p>
        <br>
        <h2>Абзац 5</h2>
        <p>Praesent sapien sem, euismod a felis a, interdum semper magna. Phasellus id nulla non diam vehicula porta vel
            ut ipsum. Aenean vel lacinia lectus, in elementum arcu. Integer eu pulvinar metus. Etiam sapien tellus,
            congue in suscipit sit amet, vestibulum vel neque. Aliquam nec pharetra leo. Maecenas vel erat est. Aliquam
            sagittis ligula vel ultrices imperdiet. In nec libero velit. Phasellus et nulla gravida, aliquam augue
            vitae, rhoncus ex. In auctor turpis non mi sodales tincidunt non non lacus. Quisque faucibus urna et metus
            lobortis, vel malesuada mi lacinia. In cursus faucibus eros, a sollicitudin est ultricies ut. Proin
            pellentesque leo massa, maximus suscipit est pulvinar ut. Aenean eros magna, tempus at dictum vel,
            pellentesque quis ligula. Donec arcu odio, fringilla at sem quis, luctus rutrum odio.</p>
    </div>
</main>
