<div class="b-advantage-location">
    <div class="b-advantage-location__container">
        <div class="b-advantage-location__title">Преимущества локации</div>

        <div class="b-advantage-location__content">
            <div class="b-advantage-location__icon-wrap"><span class="b-advantage-location__line"></span></div>
            <div class="b-advantage-location__text">
                Санкт-Петербург — один из крупнейших промышленных, транспортных и экономических центров страны. Город находится на пересечении морских, речных путей и наземных магистралей; он удобен для логистики, располагает благоприятным инвестиционным климатом и стабильной экономикой.
            </div>
        </div>
    </div>


    <div class="b-advantage-location__props">
        <ul class="b-advantage-location__props-list">
            <li><span>Более</span> 7 млн туристов</li>
            <li><span>43 государственных</span> ВУЗа</li>
            <li><span>Выгодное</span> географическое расположение</li>
            <li><span>Крупный</span> финансовый рынок</li>
            <li><span>Развитая транспортная</span> инфраструктура</li>
            <li><span>Более 300</span> научных организаций</li>
            <li><span>Более 5 млн</span> жителей</li>
            <li><span>Успешный опыт локализации</span> ведущих международных компаний</li>
        </ul>
    </div>

</div>
