// Version - 1.1
// Documentation - https:// kelnik.gitbooks.io/kelnik-documentation/content/front-end/components/forms/checkbox-radio.html

// Dependecies
@import "../../../common/styles/mixins";
@import "../../../common/styles/breakpoints";

// Settings
// Checkbox
$checkbox-color-check: #efeff4;
$checkbox-color-notcheck: #efeff4;
$checkbox-color-mark: #30409a;
$checkbox-color-stroke: #b4b7d0;
$checkbox-color-hover: #82b1ff;
$checkbox-color-disable: $checkbox-color-notcheck;
$checkbox-opacity-disable: .7;
$checkbox-color-focus: 0;
$checkbox-opacity-focus: .7;
$checkbox-outline-focus: 0;

// Text
$checkbox-text-color-hover: #000000;
$checkbox-text-color-disable: $checkbox-color-notcheck;
$checkbox-text-opacity-disable: $checkbox-opacity-disable;
$checkbox-text-opacity-hover: 1;
$checkbox-text-decoration-hover: none;


// Component
.b-form__checkbox {
    svg {
        @include transition(opacity);
        width: 16px;
        height: 11px;
        stroke: $checkbox-color-stroke;
        position: absolute;
        top: calc(50% - 6px);
        left: calc(50% - 8px);
    }

    &:focus {
        outline: 0;
    }
}

.b-checkbox-input {
    // Cкрытие дефолтного инпута. Использование миксина обусловлено потребностью сохранения переключаемости TABом.
    @include visually-hidden();
}

.b-checkbox-label {
    cursor: pointer;
    display: flex;

    &:focus {
        outline: 0;
    }

    svg {
        opacity: 0;
    }
}

.b-checkbox-box {
    flex-shrink: 0;
    position: relative;
    display: block;
    width: 24px;
    height: 24px;
    background-color: $checkbox-color-notcheck;
    border: 1px solid $checkbox-color-stroke;
    border-radius: 2px;
}

.b-checkbox-text {
    @include font-size("p3");
    margin-left: 8px;
}

// Checked
.b-checkbox-input:checked + .b-checkbox-label {
    svg {
        opacity: 1;
    }
}

// Disabled
.b-checkbox-input:disabled + .b-checkbox-label {
    cursor: default;

    .b-checkbox-text {
        color: $checkbox-text-color-disable;
        opacity: $checkbox-text-opacity-disable;
    }
}
