// Version - 1.0
// Documentation - https:// kelnik.gitbooks.io/kelnik-documentation/content/front-end/colors.html

// Default Colors
$blue: #30409a;
$violet: #662d91;
$dark-grey: #b4b7d0;
$grey: #d3d4e0;
$light-grey: #e2e3ed;
$white: #efeff4;
$black: #292f30;

// Brand color

// gradient

$gradient-linear: to right $blue, $violet;
$gradient-30deg: 30deg $blue, $violet;