// Версия - 1.2
// Документация - https:// kelnik.gitbooks.io/kelnik-documentation/content/front-end/font-sizes.html
// ЗАВИСИМОСТИ
@import "./breakpoints";

// НАСТРОЙКИ
$font-sizes: (
    //           320  670  960  1280  1600  1920  2560
    h1:         (26,  40,  40,  60,   80,   80,   80,  (32px, 48px, 48px, 64px, 88px, 88px, 88px)),
    h1-inner:   (26,  40,  40,  60,   64,   64,   64,  (32px, 48px, 48px, 64px, 64px, 64px, 64px)),
    h2:         (24,  32,  32,  36,   48,   48,   48,  (32px, 40px, 40px, 40px, 56px, 56px, 56px)),
    h3:         (20,  26,  26,  32,   36,   36,   36,  (28px, 32px, 32px, 40px, 40px, 40px, 40px)),
    h4:         (20,  24,  24,  26,   30,   30,   30,  (24px, 31px, 31px, 34px, 38px, 38px, 38px)),
    menu:       (14,  14,  14,  14,   14,   18,   20,  (36px, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5)),
    p1:         (18,  20,  20,  22,   24,   24,   24,  (24px, 28px, 28px, 33px, 36px, 36px, 36px)),
    p2:         (14,  16,  16,  18,   20,   20,   20,  (21px, 24px, 24px, 27px, 30px, 30px, 30px)),
    p3:         (14,  14,  14,  16,   18,   18,   18,  (21px, 21px, 21px, 24px, 27px, 27px, 27px)),
    p4:         (12,  12,  12,  14,   16,   16,   16,  (16px, 16px, 16px, 21px, 24px, 24px, 24px)),
    quote:      (20,  20,  20,  26,   30,   30,   30,  (32px, 32px, 32px, 36px, 45px, 45px, 45px))
);

$breakpoints: (
    $mobile,
    $tablet-portrait,
    $tablet-landscape,
    $laptop,
    $laptop-wide,
    $fullhd,
    $ultra
);

$line-heights-amount: length(map-get($font-sizes, h1));

// МИКСИНЫ
// Генерирует font-size и line-height для брекпоинта
@mixin generateFontSize($font-size, $i) {
    font-size: #{nth(nth(map-get($font-sizes, $font-size), $i), 1)}px;

    @if length(nth(map-get($font-sizes, $font-size), $line-heights-amount)) > 1 {
        line-height: #{nth(nth(map-get($font-sizes, $font-size), $line-heights-amount), $i)};
    } @else {
        line-height: #{nth(nth(map-get($font-sizes, $font-size), $line-heights-amount), 1)};
    }
}

// Создает всю струтктуру размеров шрифта со всеми брейкпоинтами
@mixin font-size($font-size) {
    @for $i from 1 through length($breakpoints) {
        @if nth($breakpoints, $i) == "only screen" {
            @include generateFontSize($font-size, $i); } @else {
            @media #{nth($breakpoints, $i)} {
                @include generateFontSize($font-size, $i); }
        }
    }
}
