<div class="b-yandex-map__html-marker">
    <div class="b-yandex-map__html-marker-title"> {{ title }} </div>
    <div class="b-yandex-map__html-marker-text"> {{ text }} </div>
    <div class="b-yandex-map__html-marker-icon">
        <img src="{{ icon.src }}" alt="{{ icon.alt }}">
    </div>
</div>