// Version - 1.1
// Documentation - https:// kelnik.gitbooks.io/kelnik-documentation/content/front-end/components/forms/checkbox-radio.html

// Dependecies
@import "../../../common/styles/mixins";
@import "../../../common/styles/breakpoints";

// Classic
.b-input-search {
    @include font-size("p4");
    width: 100%;
    height: 40px;
    border: 1px solid $grey;
    border-radius: 4px;
    background-color: $white;
    outline: none;
    padding-left: 36px;

    @media #{$fullhd} {
        height: 48px;
    }

}

.b-input-search:focus {

}

// Hover
.b-input-search:hover {

}

// Disabled
.b-input-search:disabled {

}

// Invalid
.b-input-search:invalid {

}
