<div class="b-vacancies-popup__success">
    <h3 class="b-vacancies-popup__header">Сообщение успешно отправлено</h3>
    <div class="b-vacancies-popup__text">
        Отдел кадров обработает ваше сообщение в течение 3-х дней и свяжется с Вами.
    </div>
</div>
