{% for item in items %}
    <div class="glide__slide">
        <div class="b-slider-reviews__item">
            {#<div class="b-slider-reviews__item-image" style="background-image:url('{% item.mainImg %}')"></div>#}
            <div class="b-slider-reviews__person">
                <div class="b-slider-reviews__person-img">
                    {#<img src="{% item.personImg %}" alt="картинка">#}
                    <div class="b-slider-reviews__person-name-wrap">
                        <div class="b-slider-reviews__person-name">{% item.personName %}</div>
                        <p>{% item.personDescription %}</p>
                    </div>
                </div>
                <div class="b-slider-reviews__person-content">
                    <div class="b-slider-reviews__person-text">{% item.reviewText %}</div>
                    <a href="#" class="b-slider-reviews__person-link b-link-line-two">
                        Отзыв полностью
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endfor %}