.b-slider-reviews {
    .b-carousel__track {
        border: none;
        border-radius: 0;
    }
}

.b-slider-reviews__dots {
    position: relative;
    top: -20px;
    margin-top: -25px;
    text-align: center;

    @media #{$tablet-portrait} {
        display: none;
    }
}

.b-slider-reviews__dot {
    display: inline-block;
    vertical-align: middle;
    width: 9px;
    height: 9px;
    background-color: $white;
    border: 2px solid $white;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;

    &_is_active {
        background-color: $blue;
    }
}

.b-slider-reviews__item {
    @media #{$tablet-portrait} {
        @include row();
    }

    @media #{$laptop} {
        min-height: 640px;
        align-items: center;
        position: relative;
    }

    @media #{$fullhd} {
        min-height: 1080px;
    }
}

.b-slider-reviews .b-slider-reviews__item-image {
    @include column(18, 36);
    display: none;


    @media #{$tablet-portrait} {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        height: 100%;
        object-fit: cover;
    }

    @media #{$laptop} {
        @include column(36, 36);
        width: 100%;
    }
}

.b-slider-reviews__person {
    @media #{$tablet-portrait} {
        @include column(18, 36);
        margin-left: auto;
    }

    @media #{$laptop} {
        @include column(13.5, 36);
        @include push(19, 36);
        @include post(2, 36);
        background-color: $blue;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    @media #{$laptop-wide} {
        @include column(10, 36);
        @include push(22.5, 36);
    }

    @media #{$fullhd} {
        @include column(9, 36);
        @include push(23.5, 36);
    }
}

.b-slider-reviews__person-img {
    position: relative;
    min-height: 220px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    img {
        width: 100%;
        margin-bottom: -7px;
    }

    @media #{$laptop} {
        max-height: 320px;
        overflow: hidden;
    }

    @media #{$laptop-wide} {
        max-height: 360px;
    }
}

.b-slider-reviews__person-name-wrap {
    @include prefix(2, 36);
    @include suffix(2, 36);
    @include padding-level(bottom, dark-yellow);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 16px;
    color: $white;

    p {
        @include column(24, 36);
        font-size: 16px;
        line-height: 21px;
        opacity: 0.8;
    }

    @media #{$tablet-portrait} {
        @include prefix(2, 18);
        @include suffix(2, 18);
        width: 97%;
        font-size: 14px;

        p {
            @include column(18, 18);
            font-size: 14px;
        }
    }

    @media #{$laptop} {
        p {
            font-size: 16px;
        }
    }

    @media #{$laptop-wide} {
        @include prefix(1, 10);
        @include suffix(1, 10);
    }
}

.b-slider-reviews__person-name {
    font-family: $font-bold;
    font-size: 24px;
    margin-bottom: 5px;

    @media #{$tablet-portrait} {
        font-size: 26px;
    }

    @media #{$laptop-wide} {
        font-size: 36px;
    }
}

.b-slider-reviews__person-content {
    @include prefix(2, 36);
    @include suffix(2, 36);
    @include padding-level(bottom, blue);
    background-image: linear-gradient($gradient-30deg);
    color: $white;

    @media #{$tablet-portrait} {
        @include prefix(2, 18);
        @include suffix(2, 18);
    }

    @media #{$laptop} {
        @include prefix(1, 18);
        @include suffix(1, 18);
    }
}

.b-slider-reviews__person-text {
    @include font-size("p3");
    @include padding-level(top, blue);
    position: relative;
    height: 220px;
    overflow: hidden;
    margin-bottom: 5px;

    &:before,
    &:after {
        font-size: 120px;
        color: $white;
        line-height: 0.6;
        opacity: 0.16;
        position: absolute;
    }

    &:before {
        content: "«";
        top: 5px;
        left: 0;
    }

    &:after {
        content: "»";
        bottom: -5px;
        right: 0;
    }

    @media #{$tablet-portrait} {
        height: 250px;

        &:before {
            top: 12px;
        }

        &:after {
            bottom: 0;
        }
    }

    @media #{$laptop} {
        @include prefix(1, 18);
        @include suffix(1, 18);
        height: auto;
        max-height: 347px;
        padding-top: 35px;
    }

    @media #{$laptop-wide} {
        max-height: 518px;
    }

    @media #{$fullhd} {
        max-height: 572px;
    }
}

.b-slider-reviews__person-link {
    @include margin-level(bottom, dark-yellow);
    @include font-size("p2");
    display: inline-block;
    color: $white;

    @media #{$tablet-portrait} {
        margin-bottom: 0;
    }

    @media #{$laptop} {
        @include push(1, 18);
    }
}

.b-slider-reviews__arrow {
    @include transition(opacity);
    display: none;
    width: 48px;
    height: 48px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;

    &:hover {
        opacity: 0.7;
    }

    &:disabled {
        opacity: 0.4;
    }

    img {
        width: inherit;
        height: inherit;
    }

    @media #{$tablet-portrait} {
        display: block;
        position: absolute;
        top: 46%;
        margin-top: -24px;
    }

    @media #{$tablet-landscape} {
        top: 50%;
    }

    @media #{$laptop} {
        width: 64px;
        height: 64px;
        margin-top: -32px;
    }

    @media #{$fullhd} {
        width: 80px;
        height: 80px;
        margin-top: -40px;
    }
}

.b-slider-reviews__arrow-left {
    @include push(1);
    transform: rotate(180deg);
    margin-right: 30px;
    left: 0;
}

.b-slider-reviews__arrow-right {
    @include post(1);
    right: 0;
}
