<div class="b-index-slider">
    <div class="b-index-slider__media">
        {% include "../picture/picture.twig" with picture %}
        <div class="b-index-slider__overlay"></div>
    </div>


    <div class="b-index-slider__content">
        <h1 class="b-index-slider__title">{{ title }}</h1>
    </div>
</div>
