<div class="b-popup">
    <div class="b-popup__overlay"></div>

    <button class="b-popup__close" aria-label="{{ buttonAriaLabel|default('Закрыть всплывающее окно') }}">
        {{ source('/images/popup/close.svg') }}
    </button>

    <div class="b-popup__wrap">
        <div class="b-popup__content">
            {{ content }}
        </div>
    </div>
</div>
