// Version - 1.1
// Documentation - https:// kelnik.gitbooks.io/kelnik-documentation/content/front-end/components/alert-old-browser.html

// DEPENDENCIES
@import "../../common/styles/mixins";
@import "../../common/styles/breakpoints";
@import "../../common/styles/grid";
@import "../../common/styles/management-layers";

// SETTINGS
$alert-old-browser-font-family: "Helvetica Neue", "Helvetica", sans-serif;
$alert-old-browser-font-size: 18px;
$alert-old-browser-overlay-background-color: rgba(#000000, 0.6);
$alert-old-browser-content-background-color: #ffffff;
$alert-old-browser-content-text-color: #000000;
$alert-old-browser-content-icon-width: 32px;
$alert-old-browser-content-icon-height: $alert-old-browser-content-icon-width;

// COMPONENT
.b-alert-old-browser {
    width: 100%;
    height: 100%;
    position: absolute;
    font-family: $alert-old-browser-font-family;
    top: 0;
    left: 0;
    background-color: $alert-old-browser-overlay-background-color;
    z-index: z("popup");
    color: $alert-old-browser-content-text-color;

    &.is-hidden {
        display: none;
    }
}

.b-alert-old-browser__content {
    @include column(36, 36);
    @include prefix(2, 36);
    @include suffix(2, 36);
    margin: 0 auto;
    position: relative;
    padding-top: 40px;
    padding-bottom: 70px;
    background-color: $alert-old-browser-content-background-color;

    @media #{$tablet-portrait} {
        height: auto;
        top: 50%;
        transform: translateY(-50%);
    }

    @media #{$tablet-landscape} {
        @include column(26, 36);
    }

    @media #{$laptop} {
        @include column(21, 36);
    }
}

// Close button
.b-alert-old-browser__close {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;

    @media #{$laptop} {
        &:hover {
            opacity: 0.6;
        }
    }
}

.b-alert-old-browser__title {
    font-size: 30px;
    font-weight: 300;
    margin-top: 30px;
    margin-bottom: 30px;
}

.b-alert-old-browser__text {
    font-size: $alert-old-browser-font-size;
    line-height: 30px;
}

// Browsers
.b-alert-old-browser__browsers {
    padding: 0;
    margin-top: 30px;
    margin-bottom: 30px;
}

.b-alert-old-browser__browser {
    display: block;
    margin-bottom: 25px;

    @media #{$tablet-portrait} {
        @include post(1);
        display: inline-block;
        margin-bottom: 0;
    }

    svg,
    img {
        display: inline;
        outline: none;
        border: none;
        width: $alert-old-browser-content-icon-width;
        height: $alert-old-browser-content-icon-height;
    }
}

.b-alert-old-browser__browser-link {
    display: block;
    text-decoration: none;
    color: #1e90ff;

    @media #{$laptop} {
        &:hover {
            opacity: 0.6;
        }
    }
}

.b-alert-old-browser__browser-name {
    margin-top: 10px;
}

.b-alert-old-browser__ignore-button {
    cursor: pointer;
    width: column(36);
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid #d2d2d2;
    background-color: transparent;
    color: $alert-old-browser-content-text-color;
    font-size: 16px;

    @media #{$tablet-landscape} {
        width: column(15);
    }

    @media #{$laptop} {
        &:hover {
            opacity: 0.6;
        }
    }
}

