.b-page-submenu {
    @include prefix(2, 36);
    @include suffix(2, 36);
    display: none;
    background-color: $bg-grey;

    @media #{$tablet-portrait} {
        position: relative;
        display: block;

        &:after {
            content: "";
            width: 30px;
            height: 100%;
            background-image: linear-gradient(to right, rgba($bg-grey, 0.1), rgba($bg-grey, 1));
            position: absolute;
            top: 0;
            right: 0;
            @include post(2, 36);
        }
    }

    @media #{$laptop} {
        @include prefix(3, 36);
        @include suffix(3, 36);

        &:after {
            @include post(3, 36);
        }
    }

    @media #{$fullhd} {
        @include prefix(4, 36);
        @include suffix(4, 36);

        &:after {
            @include post(4, 36);
        }
    }
}

.b-page-submenu__block::-webkit-scrollbar {
    width: 0;
    display: none;
}

.b-page-submenu__block {
    // @include custom-scroll();
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    overflow-x: auto;
    scrollbar-width: none;
}

.b-page-submenu__list {
    @include row();
    min-width: 810px;
    flex-wrap: nowrap;
    padding-right: 30px;
}

.b-page-submenu__item {
    @include post(1, 32);
    position: relative;
    padding-top: 10px;
    padding-bottom: 14px;

    &:after {
        content: "";
        width: 100%;
        height: 1px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }

    &.is-active {
        &:after {
            background-image: linear-gradient($gradient-linear);
        }

        .b-page-submenu__link {
            color: $black;
            background-image: none;
        }
    }

    @media #{$tablet-portrait} {
        &:last-child {
            padding-right: 30px;
        }
    }

    @media #{$laptop} {
        padding-top: 15px;
        padding-bottom: 22px;
    }

    @media #{$fullhd} {
        padding-top: 23px;
        padding-bottom: 26px;
    }
}

.b-page-submenu__link {
    @include font-size("p3");
    color: $blue;
}

.b-page-submenu_with_switch {
    padding-bottom: 15px;

    @media #{$tablet-portrait} {
        &:after {
            display: none;
        }
    }

    @media #{$tablet-landscape} {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
    }
}

.b-page-submenu_with_switch .b-page-submenu__block:after {
    display: none;
}

.b-page-switch {
    @include font-size("p3");
    display: flex;
    align-items: center;
}

.b-page-switch__switch {
    width: 14px;
    height: 8px;
    border-radius: 4px;
    background-color: $dark-grey;
    box-shadow: inset 0 1px 1px rgba(48, 64, 154, 0.24);
    position: relative;
    margin: auto 16px;

    &:before {
        content: "";
        display: block;
        position: absolute;
        top: calc(50% - 6px);
        left: -6px;
        width: 12px;
        height: 12px;
        border-radius: 100%;
        background-image: linear-gradient(to right, #30409a 0%, #662d91 100%);
    }
}

.b-page-switch__switch_is_switched:before {
    left: auto;
    right: -6px;
}
