<button class="b-map__fullsreen-button">
    <span class="b-map__fullsreen-button-open">
        {% include "./fullscreen-open.svg.twig" %}
    </span>

    <span class="b-map__fullsreen-button-close">
        {% include "./fullscreen-close.svg.twig" %}
    </span>
</button>
