.b-team__title h2 {
    @include column(32, 36);
    @include post(2, 36);
    @include push(2, 36);
    padding-top: 0;
    margin-bottom: 0;

    @media #{$tablet-portrait} {
        margin: 0;
        font-size: 36px;
    }

    @media #{$fullhd} {
        font-size: 48px;
    }
}

.b-team__title {
    padding-top: 0;

    @media #{$tablet-portrait} {
        @include post(2, 36);
        @include push(2, 36);
    }

    @media #{$tablet-landscape} {
        @include post(3, 36);
        @include push(3, 36);
    }

    @media #{$laptop} {
        @include post(3, 36);
        @include push(3, 36);
        padding-top: 0;
    }

    @media #{$fullhd} {
        @include post(4, 36);
        @include push(4, 36);
    }
}

.b-team__wrapper {
    @include margin-level(bottom, pink);
    display: flex;
    flex-wrap: wrap;

    @media #{$tablet-portrait} {
        @include post(2, 36);
        @include push(1, 36);
    }

    @media #{$tablet-landscape} {
        @include post(2, 36);
        @include push(2, 36);
        margin-bottom: 70px;
    }

    @media #{$fullhd} {
        @include post(1, 36);
        @include push(3, 36);
    }
}

.b-team__item {
    @include column(32, 36);
    @include post(2, 36);
    @include push(2, 36);
    flex-basis: 100%;

    @media #{$tablet-portrait} {
        @include column(9, 33);
        @include post(1, 33);
        @include push(1, 33);
    }

    @media #{$tablet-landscape} {
        @include column(6, 32);
        @include post(1, 32);
        @include push(1, 32);
    }

    &:not(:last-of-type) {
        @include margin-level(bottom, cyan);
    }
}

.b-team__photo {
    @include column(21, 32);
    padding-bottom: 15px;

    @media #{$tablet-portrait} {
        @include column(32, 32);
    }
}

.b-team__name {
    @include font-size("p1");
    margin-bottom: 8px;
    font-weight: 700;
}

.b-team__description {
    @include font-size("p3");
    @include column(24, 32);
    padding-bottom: 15px;
    opacity: 0.7;

    @media #{$tablet-portrait} {
        @include column(32, 32);
    }
}
