{% extends "./layout/_layout.twig" %}
{% block title %} <title>Особая экономическая зона</title> {% endblock %}

{% block content %}

    {# Блок с анимацией #}

    {% include "../components/animation-line/animation-line.twig" %}

    {# Блок с подменю #}

    {% include '../components/page-submenu/page-submenu.twig' with {
        subitems: [{
                href: '#',
                name: 'Особая&nbsp;экономическая&nbsp;зона',
                active: true
            },{
                href: '#',
                name: 'Управляющая&nbsp;компания'
            },{
                href: '#',
                name: 'Вакансии'
            },{
                href: '#',
                name: 'Раскрытие&nbsp;информации'
            }
        ]

    } %}

    <div class="l-about">

        <div class="b-title b-about-title">
            <h1>Особая экономическая зона</h1>
        </div>

        {# Блок ОБ ОЭЗ описание #}

        <div class="b-about-desc">
            <div class="b-about-desc__img">
                <img src="/images/about/about_UK-mission.png" alt="картинка">
            </div>
            <div class="b-about-desc__content">
                <div class="b-about-desc__title">
                    <h3>Высокотехнологичный бизнес в черте города</h3>
                </div>
                <div class="b-about-desc__text">
                    <p>
                        Особая экономическая зона «Санкт–Петербург» — это территория новых возможностей для развития высокотехнологичного бизнеса в черте города при поддержке органов власти. ОЭЗ создает благоприятные условия и инфраструктуру, при которых резиденты смогут успешно вести разработки и производство инновационной продукции в Санкт&nbsp;-&nbsp;Петербурге.
                    </p>
                </div>
                <div class="b-about-desc__links">
                    {% include "../components/anchor-scroll/anchor-scroll.twig" with {
                        links: [
                            {
                                href: 'resident',
                                text: 'Как&nbsp;стать&nbsp;резидентом'
                            }, {
                                href: 'privileges',
                                text: 'Льготы&nbsp;и&nbsp;преференции'
                            }, {
                                href: 'area',
                                text: 'Участки'
                            }, {
                                href: 'government',
                                text: 'Органы&nbsp;власти'
                            }
                        ]
                    } %}
                </div>

            </div>
        </div>

        {# Нестандартный блок информации #}

        <div class="b-about-info" id="resident">
            <div class="b-about-info__item">
                <div class="b-about-info__text">
                    <div class="b-about-info__text-title">
                        182,32 га
                    </div>
                    <div class="b-about-info__text-desc">
                        Готовая инфраструктура
                    </div>
                </div>
            </div>
            <div class="b-about-info__item">
                <div class="b-about-info__item-block">
                    <div class="b-about-info__text">
                        <div class="b-about-info__text-title">
                            50
                        </div>
                        <div class="b-about-info__text-desc">
                            резидентов
                        </div>
                    </div>
                </div>
                <div class="b-about-info__item-block"></div>
                <div class="b-about-info__item-block"></div>
                <div class="b-about-info__item-block">
                    <div class="b-about-info__text">
                        <div class="b-about-info__text-title">
                            42 га
                        </div>
                        <div class="b-about-info__text-desc">
                            свободной <br/> площади
                        </div>
                    </div>
                </div>
            </div>
            <div class="b-about-info__item" style="background-image:url('/images/about/about-info-img.jpg');">
                <div class="b-about-info__text">
                    <div class="b-about-info__text-title">
                        Более 2966
                    </div>
                    <div class="b-about-info__text-desc">
                        рабочих мест
                    </div>
                </div>
            </div>
            <div class="b-about-info__item">
                <div class="b-about-info__item-block"></div>
                <div class="b-about-info__item-block"></div>
                <div class="b-about-info__item-block">
                    <div class="b-about-info__text">
                        <div class="b-about-info__text-title">
                            более 35 млрд &#x20bd;
                        </div>
                        <div class="b-about-info__text-desc">
                            частных инвестиции
                        </div>
                    </div>
                </div>
            </div>
            <div class="b-about-info__item">
                <div class="b-about-info__item-block" style="background-image:url('/images/about/about-info-img2.jpg');">
                    <div class="b-about-info__text">
                        <div class="b-about-info__text-title">
                            11 млрд &#x20bd;
                        </div>
                        <div class="b-about-info__text-desc">
                            налоговые поступления <br/>
                            резидентов в бюджет
                        </div>
                    </div>
                </div>
                <div class="b-about-info__item-block"></div>
                <div class="b-about-info__item-block"></div>
            </div>
            <div class="b-about-info__item">
                <div class="b-about-info__text">
                    <div class="b-about-info__text-title">
                        50 млрд &#x20bd;
                    </div>
                    <div class="b-about-info__text-desc">
                        суммарная выручка <br>
                        резидентов ОЭЗ
                    </div>
                </div>
            </div>
            <div class="b-about-info__item">
                <div class="b-about-info__text">
                    <a href="#" class="b-about-info__text-link b-link-line">
                        Как стать резидентом
                    </a>
                    <a href="#" class="b-about-info__text-link-button"></a>
                </div>
            </div>
        </div>

        {# Блок Льготы и преференции #}

        <div class="b-about-privileges" id="privileges">
            <div class="b-about-privileges__block">
                <div class="b-about-privileges__main-block">
                    <!-- Анимационные линии -->
                    <div class="b-about-privileges__main-circle one"></div>
                    <div class="b-about-privileges__main-circle two"></div>
                    <div class="b-about-privileges__main-circle three"></div>
                    <div class="b-about-privileges__main-circle four"></div>
                    <div class="b-about-privileges__main-circle five"></div>
                    <div class="b-about-privileges__main-circle six"></div>
                    <!-- Закончились Анимационные линии -->

                    <div class="b-about-privileges__main-block-text">
                        <h2>
                            Льготы <br/>
                            и преференции
                        </h2>
                        <p>
                            Для резидентов ОЭЗ действует <br/>
                            особый режим осуществления <br/>
                            предпринимательской  деятельности
                        </p>
                    </div>
                    <div class="b-about-privileges__content">
                        <div class="b-about-privileges__item">
                            <p>
                                Выкуп земельного <br/>
                                участка&nbsp;<strong>за 25%</strong><br/>
                                от&nbsp;кадастровой&nbsp;стоимости
                            </p>
                        </div>
                        <div class="b-about-privileges__item">
                            <p>
                                Снижение капитальных <br/>
                                затрат проекта&nbsp;<strong>на&nbsp;30%</strong>
                            </p>
                        </div>
                        <div class="b-about-privileges__item">
                            <p>
                                Льготная ставка <br/>
                                на&nbsp;аренду&nbsp;офисов
                            </p>
                        </div>
                        <div class="b-about-privileges__item">
                            <p>
                                Свободная <br/>
                                таможенная&nbsp;зона
                            </p>
                        </div>
                        <div class="b-about-privileges__item">
                            <p>
                                Пониженные <br/>
                                налоговые&nbsp;ставки
                            </p>
                        </div>
                        <div class="b-about-privileges__item">
                            <p>
                                Упрощенная&nbsp;система <br/>
                                работы с&nbsp;государством
                            </p>
                        </div>
                        <div class="b-about-privileges__item">
                            <p>
                                Аренда&nbsp;земельного&nbsp;<br/>
                                участка <strong>за 2%</strong> <br/>
                                от кадастровой стоимости
                            </p>
                        </div>
                        <div class="b-about-privileges__item">
                            <p>
                                Удобные&nbsp;локации
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {# Блок участки #}

        <div class="l-home-plots j-home-plots" id="area">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80" style="border: 0 !important; clip: rect(0 0 0 0) !important; height: 1px !important; margin: -1px !important; overflow: hidden !important; padding: 0 !important; position: absolute !important; width: 1px !important;">
                <defs>
                    <linearGradient id="plots-gradient" x1="30.6" y1="50.66" x2="49.4" y2="31.86" gradientUnits="userSpaceOnUse">
                        <stop offset="0" stop-color="#373e99"/>
                        <stop offset="1" stop-color="#662e91"/>
                    </linearGradient>
                </defs>
            </svg>

            <div class="l-home-plots__title-mobile">
                Расположение зон
            </div>
            <div class="l-home-plots__list">

                <div class="l-home-plots__item">

                    <div class="l-home-plots__map l-home-plots__map-novoorlovskaya">
                        <div class="l-home-plots__all-map-images">
                            <div class="l-home-plots__all-map-icon-wrap">
                                <a href="#" class="l-home-plots__all-map-build l-home-plots__all-map-build-one">
                                    <span class="b-tooltip">Новоорловская</span>
                                </a>
                                <a href="#" class="l-home-plots__all-map-build l-home-plots__all-map-build-two">
                                    <span class="b-tooltip">
                                        Нойдорф
                                    </span>
                                </a>
                                <div class="l-home-plots__all-map-icon icon-port">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                         viewBox="0 0 80 80" class="plots-icon">
                                        <circle cx="40" cy="40" r="39.5" fill="url(#plots-gradient)"  class="plots-icon-circle"/>
                                        <path d="M53.1 46.11l-2-7a.14.14 0 0 0-.09-.08.15.15 0 0 0-.13 0l-5 5.2a.16.16 0 0 0-.05.15.14.14 0 0 0 .1.11l1.93.48a8.3 8.3 0 0 1-6.23 7.21V32.8a4.41 4.41 0 1 0-3.2 0v19.46a8.3 8.3 0 0 1-6.23-7.21l1.92-.48a.14.14 0 0 0 .11-.11.16.16 0 0 0-.05-.15l-5-5.2a.15.15 0 0 0-.13 0 .14.14 0 0 0-.09.08l-2 7a.12.12 0 0 0 0 .15.12.12 0 0 0 .15.05l2-.48a11.47 11.47 0 0 0 10.64 9.86h.64A11.47 11.47 0 0 0 51 45.83l2 .48a.12.12 0 0 0 .15-.05.12.12 0 0 0 0-.15M40 27.08a1.62 1.62 0 1 1-1.61 1.62A1.62 1.62 0 0 1 40 27.08"
                                              fill-rule="evenodd" fill="url(#plots-gradient)" class="plots-icon-path"/>
                                    </svg>
                                    <div class="b-tooltip">
                                        Порт
                                    </div>
                                </div>

                                <div class="l-home-plots__all-map-icon icon-rialway-station icon-rialway-station-one">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                         viewBox="0 0 80 80" class="plots-icon">
                                        <circle cx="40" cy="40" r="39.5" fill="url(#plots-gradient)"  class="plots-icon-circle"/>
                                        <path d="M40.07,24.19a25.33,25.33,0,0,0-8.42,1.5l-.07,0-.07,0h0a5.32,5.32,0,0,0-1.64.84,2.4,2.4,0,0,0-.95,1.86V47.92a2.86,2.86,0,0,0,2.91,2.77h1.11l-3.85,3.9c-.54.54-.08,1.22.61,1.22H50.33a.73.73,0,0,0,.56-1.29L47,50.69h1.23a2.86,2.86,0,0,0,2.91-2.77V28.44a2.38,2.38,0,0,0-1-1.85,6.26,6.26,0,0,0-1.7-.88,23.52,23.52,0,0,0-8.37-1.52Zm-9.72,14.6h8.82v-7.2H30.35Zm10.26,0h9v-7.2h-9Zm-6.38,4.09A2.16,2.16,0,1,1,32.07,45,2.17,2.17,0,0,1,34.23,42.88Zm11.51,0a2.16,2.16,0,1,1-2.15,2.16A2.17,2.17,0,0,1,45.74,42.89ZM35,50.69h9.92l1.07,1h-12Zm-2.44,2.47H47.43l1.25,1.22H31.32Z"
                                              fill-rule="evenodd" fill="url(#plots-gradient)" class="plots-icon-path"/>
                                    </svg>
                                    <div class="b-tooltip">
                                        Вокзал
                                    </div>
                                </div>

                                <div class="l-home-plots__all-map-icon icon-center-city">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                         viewBox="0 0 80 80" class="plots-icon">
                                        <circle cx="40" cy="40" r="39.5" fill="url(#plots-gradient)"  class="plots-icon-circle"/>
                                        <path d="M40 20c-8.73 0-15.81 6.67-15.81 14.91C24.19 47.75 40 62.24 40 62.24s15.81-15.32 15.81-27.33C55.81 26.67 48.73 20 40 20m-.1 23.4a7.5 7.5 0 1 1 7.5-7.5 7.5 7.5 0 0 1-7.5 7.5"
                                              fill-rule="evenodd" fill="url(#plots-gradient)" class="plots-icon-path"/>
                                    </svg>
                                    <div class="b-tooltip">
                                        Центр&nbsp;города
                                    </div>
                                </div>

                                <div class="l-home-plots__all-map-icon icon-rialway-station icon-rialway-station-two">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                         viewBox="0 0 80 80" class="plots-icon">
                                        <circle cx="40" cy="40" r="39.5" fill="url(#plots-gradient)"  class="plots-icon-circle"/>
                                        <path d="M40.07,24.19a25.33,25.33,0,0,0-8.42,1.5l-.07,0-.07,0h0a5.32,5.32,0,0,0-1.64.84,2.4,2.4,0,0,0-.95,1.86V47.92a2.86,2.86,0,0,0,2.91,2.77h1.11l-3.85,3.9c-.54.54-.08,1.22.61,1.22H50.33a.73.73,0,0,0,.56-1.29L47,50.69h1.23a2.86,2.86,0,0,0,2.91-2.77V28.44a2.38,2.38,0,0,0-1-1.85,6.26,6.26,0,0,0-1.7-.88,23.52,23.52,0,0,0-8.37-1.52Zm-9.72,14.6h8.82v-7.2H30.35Zm10.26,0h9v-7.2h-9Zm-6.38,4.09A2.16,2.16,0,1,1,32.07,45,2.17,2.17,0,0,1,34.23,42.88Zm11.51,0a2.16,2.16,0,1,1-2.15,2.16A2.17,2.17,0,0,1,45.74,42.89ZM35,50.69h9.92l1.07,1h-12Zm-2.44,2.47H47.43l1.25,1.22H31.32Z"
                                              fill-rule="evenodd" fill="url(#plots-gradient)" class="plots-icon-path"/>
                                    </svg>
                                    <div class="b-tooltip b-tooltip_position_left">
                                        Ладожский вокзал
                                    </div>
                                </div>

                                <div class="l-home-plots__all-map-icon icon-airport">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                         viewBox="0 0 80 80" class="plots-icon">
                                        <circle cx="40" cy="40" r="39.5" fill="url(#plots-gradient)"  class="plots-icon-circle"/>
                                        <path d="M31.94 44.77l6.8-7.41a.86.86 0 0 0-.22-1.36L26.8 29.38a1.1 1.1 0 0 1-.53-.69 1 1 0 0 1 1.14-1.09l16.69 3.27a.9.9 0 0 0 .74-.18l7.06-5.84h.05a2.37 2.37 0 0 1 1.83-.7 2.45 2.45 0 0 1 1.74.92 2.37 2.37 0 0 1-.3 3.18l-5.75 7a.92.92 0 0 0-.18.75l3.27 16.7a1 1 0 0 1-.22.79l-.18.13a.85.85 0 0 1-.74.26.93.93 0 0 1-.65-.48L44 41.54a.93.93 0 0 0-.62-.43.9.9 0 0 0-.74.22l-7.4 6.79a.9.9 0 0 0-.27.79l1 5.88a1 1 0 0 1-.26.83.94.94 0 0 1-.83.26.86.86 0 0 1-.7-.52l-3.05-6.1a.82.82 0 0 0-.39-.39l-6.32-3a.84.84 0 0 1-.48-.65.89.89 0 0 1 .26-.79l.22-.21a.84.84 0 0 1 .68-.22h.13l5.93 1a.66.66 0 0 0 .78-.22"
                                              fill-rule="evenodd" fill="url(#plots-gradient)" class="plots-icon-path"/>
                                    </svg>
                                    <div class="b-tooltip">
                                        Аэропорт
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="l-home-plots__content">
                        <div class="l-home-plots__title">
                            <a href="#" class="b-link-line">
                                Участок «Новоорловская»
                            </a>
                        </div>
                        <div class="l-home-plots__desc">
                            <div class="l-home-plots__desc-item">
                                <p>
                                    <strong>163,33 га</strong> <span>площадь участка</span>
                                </p>
                            </div>
                            <div class="l-home-plots__desc-item">
                                <p>
                                    <strong>20 км</strong> <span>от центра</span>
                                </p>
                            </div>
                            <div class="l-home-plots__desc-item">
                                <p>
                                    <strong>Приморский район</strong> <span>В лесопарке «Новоорловский»</span>
                                </p>
                            </div>
                        </div>
                        <div class="l-home-plots__text">
                            <p>
                                Развитая транспортная инфраструктура. Менее 10&nbsp;минут до&nbsp;выезда на&nbsp;КАД.
                                30&nbsp;минут до&nbsp;центра города на&nbsp;автотранспорте.&nbsp;20&nbsp;минут
                                до&nbsp;метро на&nbsp;автотранспорте
                            </p>
                        </div>
                        <div class="l-home-plots__link">
                            <a href="#" class="b-link-line">
                                Узнать больше
                            </a>
                        </div>
                    </div>
                </div>

                <div class="l-home-plots__item">

                    <div class="l-home-plots__map l-home-plots__map-neudorf">
                        <div class="l-home-plots__all-map-images">
                            <div class="l-home-plots__all-map-icon-wrap">
                                <a href="#" class="l-home-plots__all-map-build l-home-plots__all-map-build-one">
                            <span class="b-tooltip">
                                Новоорловская
                            </span>
                                </a>
                                <a href="#" class="l-home-plots__all-map-build l-home-plots__all-map-build-two">
                            <span class="b-tooltip">
                                Нойдорф
                            </span>
                                </a>
                                <div class="l-home-plots__all-map-icon icon-port">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                         viewBox="0 0 80 80" class="plots-icon">
                                        <circle cx="40" cy="40" r="39.5" fill="url(#plots-gradient)"  class="plots-icon-circle"/>
                                        <path d="M53.1 46.11l-2-7a.14.14 0 0 0-.09-.08.15.15 0 0 0-.13 0l-5 5.2a.16.16 0 0 0-.05.15.14.14 0 0 0 .1.11l1.93.48a8.3 8.3 0 0 1-6.23 7.21V32.8a4.41 4.41 0 1 0-3.2 0v19.46a8.3 8.3 0 0 1-6.23-7.21l1.92-.48a.14.14 0 0 0 .11-.11.16.16 0 0 0-.05-.15l-5-5.2a.15.15 0 0 0-.13 0 .14.14 0 0 0-.09.08l-2 7a.12.12 0 0 0 0 .15.12.12 0 0 0 .15.05l2-.48a11.47 11.47 0 0 0 10.64 9.86h.64A11.47 11.47 0 0 0 51 45.83l2 .48a.12.12 0 0 0 .15-.05.12.12 0 0 0 0-.15M40 27.08a1.62 1.62 0 1 1-1.61 1.62A1.62 1.62 0 0 1 40 27.08"
                                              fill-rule="evenodd" fill="url(#plots-gradient)" class="plots-icon-path"/>
                                    </svg>
                                    <div class="b-tooltip">
                                        Порт
                                    </div>
                                </div>

                                <div class="l-home-plots__all-map-icon icon-rialway-station icon-rialway-station-one">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                         viewBox="0 0 80 80" class="plots-icon">
                                        <circle cx="40" cy="40" r="39.5" fill="url(#plots-gradient)"  class="plots-icon-circle"/>
                                        <path d="M40.07,24.19a25.33,25.33,0,0,0-8.42,1.5l-.07,0-.07,0h0a5.32,5.32,0,0,0-1.64.84,2.4,2.4,0,0,0-.95,1.86V47.92a2.86,2.86,0,0,0,2.91,2.77h1.11l-3.85,3.9c-.54.54-.08,1.22.61,1.22H50.33a.73.73,0,0,0,.56-1.29L47,50.69h1.23a2.86,2.86,0,0,0,2.91-2.77V28.44a2.38,2.38,0,0,0-1-1.85,6.26,6.26,0,0,0-1.7-.88,23.52,23.52,0,0,0-8.37-1.52Zm-9.72,14.6h8.82v-7.2H30.35Zm10.26,0h9v-7.2h-9Zm-6.38,4.09A2.16,2.16,0,1,1,32.07,45,2.17,2.17,0,0,1,34.23,42.88Zm11.51,0a2.16,2.16,0,1,1-2.15,2.16A2.17,2.17,0,0,1,45.74,42.89ZM35,50.69h9.92l1.07,1h-12Zm-2.44,2.47H47.43l1.25,1.22H31.32Z"
                                              fill-rule="evenodd" fill="url(#plots-gradient)" class="plots-icon-path"/>
                                    </svg>
                                    <div class="b-tooltip">
                                        Вокзал
                                    </div>
                                </div>

                                <div class="l-home-plots__all-map-icon icon-center-city">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                         viewBox="0 0 80 80" class="plots-icon">
                                        <circle cx="40" cy="40" r="39.5" fill="url(#plots-gradient)"  class="plots-icon-circle"/>
                                        <path d="M40 20c-8.73 0-15.81 6.67-15.81 14.91C24.19 47.75 40 62.24 40 62.24s15.81-15.32 15.81-27.33C55.81 26.67 48.73 20 40 20m-.1 23.4a7.5 7.5 0 1 1 7.5-7.5 7.5 7.5 0 0 1-7.5 7.5"
                                              fill-rule="evenodd" fill="url(#plots-gradient)" class="plots-icon-path"/>
                                    </svg>
                                    <div class="b-tooltip">
                                        Центр&nbsp;города
                                    </div>
                                </div>

                                <div class="l-home-plots__all-map-icon icon-rialway-station icon-rialway-station-two">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                         viewBox="0 0 80 80" class="plots-icon">
                                        <circle cx="40" cy="40" r="39.5" fill="url(#plots-gradient)"  class="plots-icon-circle"/>
                                        <path d="M40.07,24.19a25.33,25.33,0,0,0-8.42,1.5l-.07,0-.07,0h0a5.32,5.32,0,0,0-1.64.84,2.4,2.4,0,0,0-.95,1.86V47.92a2.86,2.86,0,0,0,2.91,2.77h1.11l-3.85,3.9c-.54.54-.08,1.22.61,1.22H50.33a.73.73,0,0,0,.56-1.29L47,50.69h1.23a2.86,2.86,0,0,0,2.91-2.77V28.44a2.38,2.38,0,0,0-1-1.85,6.26,6.26,0,0,0-1.7-.88,23.52,23.52,0,0,0-8.37-1.52Zm-9.72,14.6h8.82v-7.2H30.35Zm10.26,0h9v-7.2h-9Zm-6.38,4.09A2.16,2.16,0,1,1,32.07,45,2.17,2.17,0,0,1,34.23,42.88Zm11.51,0a2.16,2.16,0,1,1-2.15,2.16A2.17,2.17,0,0,1,45.74,42.89ZM35,50.69h9.92l1.07,1h-12Zm-2.44,2.47H47.43l1.25,1.22H31.32Z"
                                              fill-rule="evenodd" fill="url(#plots-gradient)" class="plots-icon-path"/>
                                    </svg>
                                    <div class="b-tooltip b-tooltip_position_left">
                                        Ладожский вокзал
                                    </div>
                                </div>

                                <div class="l-home-plots__all-map-icon icon-airport">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                         viewBox="0 0 80 80" class="plots-icon">
                                        <circle cx="40" cy="40" r="39.5" fill="url(#plots-gradient)"  class="plots-icon-circle"/>
                                        <path d="M31.94 44.77l6.8-7.41a.86.86 0 0 0-.22-1.36L26.8 29.38a1.1 1.1 0 0 1-.53-.69 1 1 0 0 1 1.14-1.09l16.69 3.27a.9.9 0 0 0 .74-.18l7.06-5.84h.05a2.37 2.37 0 0 1 1.83-.7 2.45 2.45 0 0 1 1.74.92 2.37 2.37 0 0 1-.3 3.18l-5.75 7a.92.92 0 0 0-.18.75l3.27 16.7a1 1 0 0 1-.22.79l-.18.13a.85.85 0 0 1-.74.26.93.93 0 0 1-.65-.48L44 41.54a.93.93 0 0 0-.62-.43.9.9 0 0 0-.74.22l-7.4 6.79a.9.9 0 0 0-.27.79l1 5.88a1 1 0 0 1-.26.83.94.94 0 0 1-.83.26.86.86 0 0 1-.7-.52l-3.05-6.1a.82.82 0 0 0-.39-.39l-6.32-3a.84.84 0 0 1-.48-.65.89.89 0 0 1 .26-.79l.22-.21a.84.84 0 0 1 .68-.22h.13l5.93 1a.66.66 0 0 0 .78-.22"
                                              fill-rule="evenodd" fill="url(#plots-gradient)" class="plots-icon-path"/>
                                    </svg>
                                    <div class="b-tooltip">
                                        Аэропорт
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="l-home-plots__content">
                        <div class="l-home-plots__title">
                            <a href="#" class="b-link-line">
                                Участок «Нойдорф»
                            </a>
                        </div>
                        <div class="l-home-plots__desc">
                            <div class="l-home-plots__desc-item">
                                <p>
                                    <strong>18,99 га</strong> <span>площадь участка</span>
                                </p>
                            </div>
                            <div class="l-home-plots__desc-item">
                                <p>
                                    <strong>30 км</strong> <span>от центра</span>
                                </p>
                            </div>
                            <div class="l-home-plots__desc-item">
                                <p>
                                    <strong>Стрельна</strong> <span>юго-запад&nbsp;Петербурга</span>
                                </p>
                            </div>
                        </div>
                        <div class="l-home-plots__text">
                            <p>
                                В&nbsp;окружении развитой городской инфраструктуры и&nbsp;культурного наследия. Менее
                                10&nbsp;минут до&nbsp;выезда на&nbsp;КАД. 20&nbsp;минут на&nbsp;автотранспорте до&nbsp;аэропорта
                            </p>
                        </div>
                        <div class="l-home-plots__link">
                            <a href="#" class="b-link-line">
                                Узнать больше
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="l-home-plots__all-map">
                <div class="l-home-plots__all-map-images">
                    <div class="l-home-plots__all-map-icon-wrap">
                        <a href="#" class="l-home-plots__all-map-build l-home-plots__all-map-build-novoorlovskaya">
                            <span class="b-tooltip">
                                Новоорловская
                            </span>
                        </a>
                        <a href="#" class="l-home-plots__all-map-build l-home-plots__all-map-build-neudorf">
                            <span class="b-tooltip">
                                Нойдорф
                            </span>
                        </a>
                        <div class="l-home-plots__all-map-icon icon-port">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                 viewBox="0 0 80 80" class="plots-icon">
                                <circle cx="40" cy="40" r="39.5" fill="url(#plots-gradient)"  class="plots-icon-circle"/>
                                <path d="M53.1 46.11l-2-7a.14.14 0 0 0-.09-.08.15.15 0 0 0-.13 0l-5 5.2a.16.16 0 0 0-.05.15.14.14 0 0 0 .1.11l1.93.48a8.3 8.3 0 0 1-6.23 7.21V32.8a4.41 4.41 0 1 0-3.2 0v19.46a8.3 8.3 0 0 1-6.23-7.21l1.92-.48a.14.14 0 0 0 .11-.11.16.16 0 0 0-.05-.15l-5-5.2a.15.15 0 0 0-.13 0 .14.14 0 0 0-.09.08l-2 7a.12.12 0 0 0 0 .15.12.12 0 0 0 .15.05l2-.48a11.47 11.47 0 0 0 10.64 9.86h.64A11.47 11.47 0 0 0 51 45.83l2 .48a.12.12 0 0 0 .15-.05.12.12 0 0 0 0-.15M40 27.08a1.62 1.62 0 1 1-1.61 1.62A1.62 1.62 0 0 1 40 27.08"
                                      fill-rule="evenodd" fill="url(#plots-gradient)" class="plots-icon-path"/>
                            </svg>
                            <div class="b-tooltip">
                                Порт
                            </div>
                        </div>

                        <div class="l-home-plots__all-map-icon icon-rialway-station icon-rialway-station-one">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                 viewBox="0 0 80 80" class="plots-icon">
                                <circle cx="40" cy="40" r="39.5" fill="url(#plots-gradient)"  class="plots-icon-circle"/>
                                <path d="M40.07,24.19a25.33,25.33,0,0,0-8.42,1.5l-.07,0-.07,0h0a5.32,5.32,0,0,0-1.64.84,2.4,2.4,0,0,0-.95,1.86V47.92a2.86,2.86,0,0,0,2.91,2.77h1.11l-3.85,3.9c-.54.54-.08,1.22.61,1.22H50.33a.73.73,0,0,0,.56-1.29L47,50.69h1.23a2.86,2.86,0,0,0,2.91-2.77V28.44a2.38,2.38,0,0,0-1-1.85,6.26,6.26,0,0,0-1.7-.88,23.52,23.52,0,0,0-8.37-1.52Zm-9.72,14.6h8.82v-7.2H30.35Zm10.26,0h9v-7.2h-9Zm-6.38,4.09A2.16,2.16,0,1,1,32.07,45,2.17,2.17,0,0,1,34.23,42.88Zm11.51,0a2.16,2.16,0,1,1-2.15,2.16A2.17,2.17,0,0,1,45.74,42.89ZM35,50.69h9.92l1.07,1h-12Zm-2.44,2.47H47.43l1.25,1.22H31.32Z"
                                      fill-rule="evenodd" fill="url(#plots-gradient)" class="plots-icon-path"/>
                            </svg>
                            <div class="b-tooltip">
                                Вокзал
                            </div>
                        </div>

                        <div class="l-home-plots__all-map-icon icon-center-city">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                 viewBox="0 0 80 80" class="plots-icon">
                                <circle cx="40" cy="40" r="39.5" fill="url(#plots-gradient)"  class="plots-icon-circle"/>
                                <path d="M40 20c-8.73 0-15.81 6.67-15.81 14.91C24.19 47.75 40 62.24 40 62.24s15.81-15.32 15.81-27.33C55.81 26.67 48.73 20 40 20m-.1 23.4a7.5 7.5 0 1 1 7.5-7.5 7.5 7.5 0 0 1-7.5 7.5"
                                      fill-rule="evenodd" fill="url(#plots-gradient)" class="plots-icon-path"/>
                            </svg>
                            <div class="b-tooltip">
                                Центр&nbsp;города
                            </div>
                        </div>

                        <div class="l-home-plots__all-map-icon icon-rialway-station icon-rialway-station-two">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                 viewBox="0 0 80 80" class="plots-icon">
                                <circle cx="40" cy="40" r="39.5" fill="url(#plots-gradient)"  class="plots-icon-circle"/>
                                <path d="M40.07,24.19a25.33,25.33,0,0,0-8.42,1.5l-.07,0-.07,0h0a5.32,5.32,0,0,0-1.64.84,2.4,2.4,0,0,0-.95,1.86V47.92a2.86,2.86,0,0,0,2.91,2.77h1.11l-3.85,3.9c-.54.54-.08,1.22.61,1.22H50.33a.73.73,0,0,0,.56-1.29L47,50.69h1.23a2.86,2.86,0,0,0,2.91-2.77V28.44a2.38,2.38,0,0,0-1-1.85,6.26,6.26,0,0,0-1.7-.88,23.52,23.52,0,0,0-8.37-1.52Zm-9.72,14.6h8.82v-7.2H30.35Zm10.26,0h9v-7.2h-9Zm-6.38,4.09A2.16,2.16,0,1,1,32.07,45,2.17,2.17,0,0,1,34.23,42.88Zm11.51,0a2.16,2.16,0,1,1-2.15,2.16A2.17,2.17,0,0,1,45.74,42.89ZM35,50.69h9.92l1.07,1h-12Zm-2.44,2.47H47.43l1.25,1.22H31.32Z"
                                      fill-rule="evenodd" fill="url(#plots-gradient)" class="plots-icon-path"/>
                            </svg>
                            <div class="b-tooltip b-tooltip_position_left">
                                Ладожский&nbsp;вокзал
                            </div>
                        </div>

                        <div class="l-home-plots__all-map-icon icon-airport">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                 viewBox="0 0 80 80" class="plots-icon">
                                <circle cx="40" cy="40" r="39.5" fill="url(#plots-gradient)"  class="plots-icon-circle"/>
                                <path d="M31.94 44.77l6.8-7.41a.86.86 0 0 0-.22-1.36L26.8 29.38a1.1 1.1 0 0 1-.53-.69 1 1 0 0 1 1.14-1.09l16.69 3.27a.9.9 0 0 0 .74-.18l7.06-5.84h.05a2.37 2.37 0 0 1 1.83-.7 2.45 2.45 0 0 1 1.74.92 2.37 2.37 0 0 1-.3 3.18l-5.75 7a.92.92 0 0 0-.18.75l3.27 16.7a1 1 0 0 1-.22.79l-.18.13a.85.85 0 0 1-.74.26.93.93 0 0 1-.65-.48L44 41.54a.93.93 0 0 0-.62-.43.9.9 0 0 0-.74.22l-7.4 6.79a.9.9 0 0 0-.27.79l1 5.88a1 1 0 0 1-.26.83.94.94 0 0 1-.83.26.86.86 0 0 1-.7-.52l-3.05-6.1a.82.82 0 0 0-.39-.39l-6.32-3a.84.84 0 0 1-.48-.65.89.89 0 0 1 .26-.79l.22-.21a.84.84 0 0 1 .68-.22h.13l5.93 1a.66.66 0 0 0 .78-.22"
                                      fill-rule="evenodd" fill="url(#plots-gradient)" class="plots-icon-path"/>
                            </svg>
                            <div class="b-tooltip">
                                Аэропорт
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {# Блок курирующие органы власти #}

        <div class="b-about-government" id="government">
            <div class="b-government">
                <div class="b-government__title">
                    <h2>Курирующие органы государственной власти</h2>
                </div>

                <div class="b-government__list">
                    <div class="b-government__item">
                        <div class="b-government__item-header">
                            <div class="b-government__item-img">
                                <img src="/images/government/government-rf.svg" alt="Правительство РФ — Министерство экономического развития Российской Федерации">
                            </div>
                            <div class="b-government__item-link">
                                <a href="#" class="b-link-line">
                                    Правительство РФ — <br/> Министерство экономического развития Российской Федерации
                                </a>
                            </div>
                        </div>
                        <div class="b-government__item-text">
                            <p>
                                Разработка единой государственной политики в сфере создания, функционирования и управления ОЭЗ
                            </p>
                            <p>
                                Разработка проектов федеральных законов, нормативных правовых актов по вопросам создания и функционирования ОЭЗ на территории Российской Федерации
                            </p>
                            <p>
                                Координация работы по подготовке и реализации проектов, осуществляемых с участием международных финансовых организаций
                            </p>
                        </div>
                    </div>

                    <div class="b-government__item">
                        <div class="b-government__item-header">
                            <div class="b-government__item-img">
                                <img src="/images/government/government-spb.svg" alt="Правительство Санкт-Петербурга">
                            </div>
                            <div class="b-government__item-link">
                                <a href="#" class="b-link-line">
                                    Правительство <br/> Санкт&nbsp;-&nbsp;Петербурга
                                </a>
                            </div>
                        </div>
                        <div class="b-government__item-text">
                            <p>
                                Разработка единой государственной политики в сфере создания, функционирования и управления ОЭЗ
                            </p>
                            <p>
                                Выдача разрешений на строительство и ввод объектов в эксплуатацию индивидуальным предпринимателям и юридическим лицам, осуществляющим строительство или реконструкцию объектов на территории ОЭЗ
                            </p>
                            <p>
                                Управление ОЭЗ в порядке и пределах, установленных законодательством РоссийскойФедерации
                            </p>
                        </div>
                    </div>

                    <div class="b-government__item">
                        <div class="b-government__item-header">
                            <div class="b-government__item-img">
                                <img src="/images/government/committee-spb.svg" alt="Комитет по промышленной политике и инновациям Санкт-Петербурга и Наблюдательный совет ОЭЗ «Санкт-Петербург»">
                            </div>
                            <div class="b-government__item-link">
                                <a href="#" class="b-link-line">
                                    Комитет по промышленной политике и инновациям Санкт&nbsp;-&nbsp;Петербурга и Наблюдательный совет ОЭЗ «Санкт&nbsp;-&nbsp;Петербург»
                                </a>
                            </div>
                        </div>
                        <div class="b-government__item-text">
                            <p>
                                Контроль за выполнением соглашения о создании ОЭЗ и расходованием бюджетных средств, выделяемых на обустройство территории
                            </p>
                            <p>
                                Участие в разработке перспективных планов развития ОЭЗ
                            </p>
                            <p>
                                Рассмотрение вопросов участия новых резидентов в ОЭЗ и ознакомление с их бизнес-планами
                            </p>
                            <p>
                                Заключение инвестиционных соглашений и мониторинг исполнения обязательств по ним
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
{% endblock %}
