.l-add-request {
    @include prefix(2, 36);
    @include suffix(2, 36);

    @media #{$laptop} {
        @include prefix(3, 36);
        @include suffix(3, 36);
    }

    @media #{$fullhd} {
        @include prefix(4, 36);
        @include suffix(4, 36);
    }
}

.b-title {
    @include padding-level(top, cyan);
    @include padding-level(bottom, cyan);

    h1 {
        margin-bottom: 0;
    }

}

.b-add-request__links {
    @include margin-level(bottom, dark-yellow);
}

.b-add-request__links-mobile {
    background-color: $bg-grey;
    border-radius: 8px;
    padding-left: 4px;
    padding-top: 4px;
    padding-bottom: 4px;

    @media #{$tablet-portrait} {
        display: none;
    }
}

.b-add-request__links-mobile-header {
    position: relative;
}

.b-add-request__link-mobile {
    @include column(26.5, 32);
    @include font-size("p3");
    display: block;
    color: $black;
    background-color: $white;
    border-radius: 8px;
    padding: 7px 15px 15px 15px;
    box-shadow: 0 1px 2px $dark-grey;
}

.b-add-request__link-icon {
    @include post(2, 32);
    display: block;
    position: absolute;
    top: 33%;
    right: 0;

}

.b-add-request__links-mobile-body {
    //display: none;
    padding-top: 15px;
    padding-bottom: 15px;
}

.b-add-request__links-mobile-item {
    @include prefix(2, 36);
}

.b-add-request__links-mobile-link {
    @include font-size("p3");
    color: $blue;
}

.b-add-request__links-desctop {
    @include column(20, 32);
    display: none;
    background-color: $bg-grey;
    border-radius: 8px;
    padding: 4px;

    @media #{$tablet-portrait} {
        @include row();
    }

    @media #{$laptop} {
        @include column(12.5, 30);
    }

    @media #{$fullhd} {
        @include column(10, 28);
    }
}

.b-add-request__link {
    @include font-size("p3");
    display: block;
    text-align: center;
    border-radius: 4px;
    padding-top: 8px;
    padding-bottom: 8px;

    &:first-child {
        @include column(6.5, 20);
        @include post(1, 20);
    }

    &:last-child {
        @include column(12.5, 20);
    }

    &.is-active {
        background-color: $white;
        box-shadow: 0 1px 2px $dark-grey;
    }
}