.l-add-request {
    @include prefix(2, 36);
    @include suffix(2, 36);
    background-color: $white;

    h1 {
        @include font-size("h1-inner");
    }

    @media #{$laptop} {
        @include prefix(3, 36);
        @include suffix(3, 36);
    }

    @media #{$fullhd} {
        @include prefix(4, 36);
        @include suffix(4, 36);
    }
}

.b-title {
    @include padding-level(top, cyan);
    @include padding-level(bottom, cyan);

    h1 {
        margin-bottom: 0;
    }

}

.b-add-request__content {
    @include padding-level(bottom, pink);

    h4 {
        @include margin-level(bottom, dark-yellow);
    }

    @media #{$laptop} {
        @include column(19, 30);
    }

    @media #{$fullhd} {
        @include column(18, 28);
    }
}

.b-form-block {
    @include transition(background);
    position: relative;
    height: 64px;
    border: 1px solid $grey;
    border-bottom: 0;
    background-color: $white;
    padding: 30px 0 12px 0;

    &:first-of-type {
        border-radius: 4px 4px 0 0;
    }

    &:last-of-type {
        border-radius: 0 0 4px 4px;
        border-bottom: 1px solid $grey;
    }

    &:hover {
        background-color: $bg-select;
    }

    .b-pseudo-input,
    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="tel"],
    select,
    textarea {
        @include font-size("p2");
        font-family: inherit;
        color: $black;
        background-color: transparent;
        padding-left: 16px;
        padding-right: 16px;

        &:focus {
            outline: 0;

            + .b-form-block__label {
                opacity: 1;
            }
        }

        &.is-valid,
        &.is-success {
            color: $blue;
        }
    }

    select {
        background-color: transparent;
        border: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    textarea {
        resize: none;
        padding: 30px 16px 12px 16px;
        margin-bottom: -4px;

        &:valid {
            //background-color: $bg-select;
        }
    }

    @media #{$tablet-portrait} {
        padding-top: 28px;
    }

    @media #{$laptop} {
        height: 72px;
        padding-top: 32px;
    }

    @media #{$laptop-wide} {
        height: 80px;
        padding-top: 36px;
    }
}

.b-form-block_is_date {
    height: auto;
    border: none;
    position: relative;
    padding: 0;

    &:hover {
        background-color: transparent;

        @media #{$tablet-landscape} {
            background-color: $bg-select;
        }
    }

    .b-form-block__label {
        display: none;

        @media #{$tablet-landscape} {
            display: block;
        }
    }

    .b-form-block__date {
        position: relative;
        display: flex;
        align-items: center;
        border: 1px solid $grey;
        border-bottom: 0;
        padding: 30px 0 12px 16px;

        &:hover {
            background-color: $bg-select;
        }

        @media #{$tablet-landscape} {
            border: none;
            color: rgba($black, 0.48);
            padding-top: 0;
            padding-bottom: 0;

            &:hover {
                background-color: transparent;
            }
        }

        .b-form-block__label {
            display: block;

            @media #{$tablet-landscape} {
                display: none;
            }
        }
    }

    .b-form-block__def {
        display: none;

        @media #{$tablet-landscape} {
            display: inline-block;
        }
    }

    input {
        width: 240px;
    }

    @media #{$tablet-landscape} {
        display: flex;
        align-items: center;
        height: 64px;
        padding: 30px 0 12px;
        border: 1px solid $grey;
    }

    @media #{$laptop} {
        height: 72px;
    }

    @media #{$laptop-wide} {
        height: 80px;
    }
}

.b-form-block.b-input-block.b-input-file {
    height: auto;
    padding-bottom: 0;
}

label.b-form-block {
    display: block;
}

.b-form-block_type_accordion {
    cursor: pointer
}

.b-form-block_theme_grey {
    position: relative;
    padding-top: 32px;

    &:before {
        content: "";
        width: calc(100% + 2px);
        height: 4px;
        background-color: rgba($grey, 0.4);
        border-bottom: 1px solid $grey;
        border-left: 1px solid rgba($white, 0.5);
        border-right: 1px solid rgba($white, 0.5);
        position: absolute;
        top: 0;
        left: -1px;
        right: 0;
    }

    .b-form-block__label {
        top: 12px;
    }

    @media #{$tablet-portrait} {
        padding-top: 30px;
    }

    @media #{$laptop} {
        height: 72px;
        padding-top: 34px;
    }

    @media #{$laptop-wide} {
        height: 80px;
        padding-top: 38px;
    }
}

.b-form-block__half-wrap {
    @media #{$tablet-portrait} {
        display: flex;
        flex-wrap: wrap;

        .b-form-block {
            width: 50%;
            border: 1px solid $grey;
            border-radius: 0;

            &:first-child {
                border-right: none;
            }
        }
    }
}

.b-form-block__half-wrap_is_top {
    .b-form-block {
        &:last-child {
            border-radius: 0;
            border-bottom: none;
        }
    }

    @media #{$tablet-portrait} {
        .b-form-block {
            &:first-child {
                border-radius: 4px 0 0 0;
                border-bottom: none;
            }

            &:last-child {
                border-radius: 0 4px 0 0;
            }
        }
    }
}

.b-form-block__half-wrap_is_center {
    .b-form-block {
        border-radius: 0;
        border-bottom: none;
    }
}

.b-form-block__half-wrap_is_bottom {
    .b-form-block {
        border-radius: 0;

        &:last-child {
            border-radius: 0 0 4px 4px;
        }
    }

    @media #{$tablet-portrait} {
        .b-form-block {
            &:first-child {
                border-radius: 0 0 0 4px;
            }

            &:last-child {
                border-radius: 0 0 4px 0;
            }
        }
    }
}

.b-form-block-select-accordion {
    position: relative;
}

.b-form-block-error {
    height: auto;
    border-color: $red;
    padding-bottom: 0;

    input[type="text"],
    input[type="password"],
    input[type="email"] {
        color: $red;
    }
    .b-form-block__label {
        opacity: 1;
    }

    .b-form-block__error-text {
        display: block;
    }
}

.b-form-block-success {
    .b-form-block__label {
        opacity: 0.48;
    }

    .b-pseudo-input,
    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="tel"] {
        color: $blue;
    }
}

.b-form-block-textarea {
    height: auto;
    padding: 0;
}

.b-form-block__label {
    @include font-size("p4");
    display: block;
    position: absolute;
    top: 8px;
    left: 16px;
    opacity: 0.72;
}

.b-form-block__error-text {
    @include font-size("p4");
    display: none;
    position: relative;
    left: -1px;
    width: calc(100% + 2px);
    background-color: $dark-white;
    border: 1px solid $grey;
    border-bottom: 0;
    padding: 5px 0 5px 16px;
    margin-top: 10px;

    &:before {
        content: "";
        width: 10px;
        height: 10px;
        position: absolute;
        top: -5px;
        left: 16px;
        background-color: $dark-white;
        border-top: 1px solid $grey;
        border-left: 1px solid $grey;
        transform: rotate(45deg);
    }
}

.b-checkbox-error {
    @include font-size("p4");
    position: relative;
    display: none;
    background-color: $dark-white;
    border: 1px solid $grey;
    padding: 5px 0 5px 16px;
    margin-top: 5px;
    border-radius: 4px;

    &:before {
        content: "";
        width: 10px;
        height: 10px;
        position: absolute;
        top: -5px;
        left: 5px;
        background-color: $dark-white;
        border-top: 1px solid $grey;
        border-left: 1px solid $grey;
        transform: rotate(45deg);
    }
}

.is-error .b-checkbox-error {
    display: block;
}

.b-form-block__select-wrapper {
    position: relative;

    &:after {
        content: "";
        width: 12px;
        height: 7px;
        background-image: url("/images/home/arrow-down.svg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        position: absolute;
        top: 50%;
        right: 13px;
        margin-top: -3.5px;
    }
}

.b-form-block__select {
    display: block;
    width: 100%;
    background-color: $white;
    border: none;
}

.b-form-block__message {
    width: 100%;
    height: 240px;
    border: none;
    padding: 30px 0 12px 0;
}

.b-add-request__org {
    @include margin-level(bottom, green);
}

.b-add-request__pass {
    @include padding-level(bottom, green);
    border-bottom: 1px solid $grey;
}

.b-add-request__pass__item {
    @include margin-level(bottom, green);
    position: relative;

}

.b-add-request__form-button {
    @include margin-level(top, green);
}

.b-form-block-calendar {
    display: none;
    position: absolute;
    bottom: 5px;
    left: -18px;

    @media #{$tablet-portrait} {
        left: -5px;
    }

    .b-input-date {
        display: none;

        &:first-child {
            top: -70px;

            @media #{$tablet-landscape} {
                top: 100%;
            }
        }

        &:last-child {
            @media #{$tablet-landscape} {
                left: 350px;
            }
        }
    }
}
