{% extends "./layout/_layout.twig" %}
{% block title %} <title>Контакты</title> {% endblock %}

{% block content %}

    {# Блок с анимацией #}

    {% include "../components/animation-line/animation-line.twig" %}

    <div class="l-contacts">
        <div class="l-contacts__map-wrapper">
            <div class="l-contacts__title">
                <h1>Контакты</h1>
            </div>
            <div class="l-contacts__map">
                <div class="l-contacts__yandex-map b-yandex-map j-yandex-map" data-ajax="/tests/yandex-map.json">
                    <div id="first" class="b-yandex-map__base"></div>
                </div>
            </div>
            <div class="l-contacts__map-text">
                <div class="l-contacts__map-text-item">
                    <div class="l-contacts__map-text-title">
                        <p>Участок &laquo;Новоорловская&raquo;</p>
                    </div>
                    <div class="l-contacts__map-text-desc">
                        <p>Санкт&nbsp;-&nbsp;Петербург, Дорога в&nbsp;Каменку, д.74</p>
                    </div>
                    <a href="#" class="l-contacts__map-text-link b-link-line j-contacts-location" data-coordinates="[60.053400, 30.231714]">
                        Расположение
                    </a>
                </div>

                <div class="l-contacts__map-text-item">
                    <div class="l-contacts__map-text-title">
                        <p>Участок &laquo;Нойдорф&raquo;</p>
                    </div>
                    <div class="l-contacts__map-text-desc">
                        <p>Санкт&nbsp;-&nbsp;Петербург, пос. Стрельна, ул. Связи, д. 34А</p>
                    </div>
                    <a href="#" class="l-contacts__map-text-link b-link-line j-contacts-location"  data-coordinates="[59.840573, 30.005940]">
                        Расположение
                    </a>
                </div>
            </div>
        </div>

        <div class="l-contacts__content">

            <div class="l-contacts__block">
                <div class="l-contacts__block-title">
                    <h2>Офис Управляющей компании</h2>
                </div>
                <div class="l-contacts__block-content">
                    <p>197350, Санкт&nbsp;-&nbsp;Петербург, Дорога в&nbsp;Каменку, 74, лит. А</p>
                    <p>+7 (812) 383-49-29</p>
                    <a href="mailto:info@spbsez.ru" class="b-link-line">info@spbsez.ru</a>
                </div>
            </div>

            <div class="l-contacts__block">
                <div class="l-contacts__block-title">
                    <h2>Управление по&nbsp;работе с&nbsp;резидентами</h2>
                </div>
                <div class="l-contacts__block-list">
                    <div class="l-contacts__block-item">
                        <p class="l-contacts__block-item-name">
                            <strong>Гармаш Станислав Сергеевич</strong>
                        </p>
                        <p class="l-contacts__block-item-work">
                            Заместитель Генерального директора по работе с&nbsp;инвесторами
                        </p>
                        <p class="l-contacts__block-item-phone">
                            +7 (812) 380-49-29, доб. 5500
                        </p>
                        <a href="mailto:sgarmash@spbsez.ru" class="l-contacts__block-item-email b-link-line">
                            sgarmash@spbsez.ru
                        </a>
                    </div>

                    <div class="l-contacts__block-item">
                        <p class="l-contacts__block-item-name">
                            <strong>Иванов Андрей Николаевич</strong>
                        </p>
                        <p class="l-contacts__block-item-work">
                            Начальник управления по работе с&nbsp;инвесторами
                        </p>
                        <p class="l-contacts__block-item-phone">
                            +7 (812) 380-49-29, доб. 5004
                        </p>
                        <a href="mailto:aivanov@spbsez.ru" class="l-contacts__block-item-email b-link-line">
                            aivanov@spbsez.ru
                        </a>
                    </div>

                    <div class="l-contacts__block-item">
                        <p class="l-contacts__block-item-name">
                            <strong>Ульзутуева Полина Сергеевна</strong>
                        </p>
                        <p class="l-contacts__block-item-work">
                            Начальник отдела по работе с&nbsp;инвесторами
                        </p>
                        <p class="l-contacts__block-item-phone">
                            +7 (812) 380-49-29, доб. 5003
                        </p>
                        <a href="mailto:pulzutueva@spbsez.ru" class="l-contacts__block-item-email b-link-line">
                            pulzutueva@spbsez.ru
                        </a>
                    </div>

                    <div class="l-contacts__block-item">
                        <p class="l-contacts__block-item-name">
                            <strong>Голубева Алена Борисовна</strong>
                        </p>
                        <p class="l-contacts__block-item-work">
                            Главный специалист отдела по работе с&nbsp;инвесторами
                        </p>
                        <p class="l-contacts__block-item-phone">
                            +7 (812) 380-49-29, доб. 5512
                        </p>
                        <a href="mailto:agolubeva@spbsez.ru" class="l-contacts__block-item-email b-link-line">
                            agolubeva@spbsez.ru
                        </a>
                    </div>

                    <div class="l-contacts__block-item">
                        <p class="l-contacts__block-item-name">
                            <strong>Уличева Диана Александровна</strong>
                        </p>
                        <p class="l-contacts__block-item-work">
                            Главный специалист отдела по работе с&nbsp;инвесторами
                        </p>
                        <p class="l-contacts__block-item-phone">
                            +7 (812) 380-49-29, доб. 5007
                        </p>
                        <a href="mailto:dulicheva@spbsez.ru" class="l-contacts__block-item-email b-link-line">
                            dulicheva@spbsez.ru
                        </a>
                    </div>
                </div>
            </div>

            <div class="l-contacts__block l-contacts__block_width_half-left">
                <div class="l-contacts__block-title">
                    <h2>Пресс-служба</h2>
                </div>
                <div class="l-contacts__block-list">
                    <div class="l-contacts__block-item">
                        <p class="l-contacts__block-item-name">
                            <strong>Рябинина Анастасия Владимировна</strong>
                        </p>
                        <p class="l-contacts__block-item-work">
                            Помощник генерального директора по связям с&nbsp;общественностью
                        </p>
                        <p class="l-contacts__block-item-phone">
                            +7 (812) 380-49-29 (доб. 4005)
                        </p>
                        <a href="mailto:press@spbsez.ru" class="l-contacts__block-item-email b-link-line">
                            press@spbsez.ru
                        </a>
                    </div>
                </div>
            </div>

            <div class="l-contacts__block l-contacts__block_width_half-right">
                <div class="l-contacts__block-title">
                    <h2>Центр обработки данных</h2>
                </div>
                <div class="l-contacts__block-list">
                    <div class="l-contacts__block-item">
                        <p class="l-contacts__block-item-name">
                            <strong>Момотов Антон Александрович</strong>
                        </p>
                        <p class="l-contacts__block-item-work">
                            Специалист ЦОД
                        </p>
                        <p class="l-contacts__block-item-phone">
                            +7 (812) 383-49-29 доб. 4408
                        </p>
                        <a href="mailto:support@spbsez.ru" class="l-contacts__block-item-email b-link-line">
                            support@spbsez.ru
                        </a>
                    </div>
                </div>
            </div>

        </div>

    </div>

{% endblock %}
