{% extends "./layout/_layout.twig" %}
{% block title %} <title>Раскрытие информации в сфере регулируемых видов деятельности</title> {% endblock %}

{% block content %}
    {# Блок с анимацией #}

    {% include "../components/animation-line/animation-line.twig" %}

    {# Блок с подменю #}
    {% include '../components/page-submenu/page-submenu.twig' with {
        subitems: [{
            href: '#',
            name: 'Особая&nbsp;экономическая&nbsp;зона'
        },{
            href: '#',
            name: 'Управляющая&nbsp;компания'
        },{
            href: '#',
            name: 'Вакансии'
        },{
            href: '#',
            name: 'Раскрытие&nbsp;информации',
            active: true
        }
        ]
    } %}

    <div class="l-disclosure">
        <div class="b-title">
            <h1>Раскрытие информации</h1>
        </div>

        {# Блок ссылок #}
        {% include '../components/accordion-links/accordion-links.twig' with {
            title: 'Раскрытие информации в сфере регулируемых видов деятельности',
            modify: "b-profile__links",
            items: [{
                text: "Внутренние документы"
            },{
                active: "is-active",
                text: "Раскрытие информации в сфере регулируемых видов деятельности"
            },{
                text: "Закупочная информация"
            }]
        } %}

        <div class="b-disclosure-block j-disclosure-block">
            <div class="b-disclosure-title b-title">
                <h2>Деятельность в сфере передачи электроэнергии</h2>
            </div>

            <form action="#" class="b-disclosure-filter b-mini-filter j-disclosure-filter"  data-send="/tests/disclosure-documents.json">
                <div class="b-mini-filter__group j-disclosure-select-group">
                    <div class="b-mini-filter__values j-disclosure-select" data-title-default="2018"><span class="j-disclosure-select-title">2018</span></div>
                    <div class="b-mini-filter__group-wrap">
                        <div class="b-mini-filter__item">
                            <input type="radio" name="disclosure-electricity" value="2018" data-text="2018" id="electricity2018" checked class="b-mini-filter__input">
                            <label for="electricity2018" class="b-mini-filter__fake">2018</label>
                        </div>

                        <div class="b-mini-filter__item">
                            <input type="radio" name="disclosure-electricity" value="2017" data-text="2017" id="electricity2017" class="b-mini-filter__input">
                            <label for="electricity2017" class="b-mini-filter__fake">2017</label>
                        </div>

                        <div class="b-mini-filter__item">
                            <input type="radio" name="disclosure-electricity" value="2016" data-text="2016" id="electricity2016" class="b-mini-filter__input">
                            <label for="electricity2016" class="b-mini-filter__fake">2016</label>
                        </div>

                        <div class="b-mini-filter__item">
                            <input type="radio" name="disclosure-electricity" value="2015" data-text="2015" id="electricity2015" class="b-mini-filter__input">
                            <label for="electricity2015" class="b-mini-filter__fake">2015</label>
                        </div>
                    </div>
                </div>
            </form>
            <!-- Здесь для подгрузки правильной икоки для файла у блока .b-profile-document__item
                     должен быть класс модификатор типа b-profile-document__item_ext_[расширение файла]-->
            <div class="b-profile-document__list b-profile-documents j-disclosure-content">
                <div class="b-profile-document__item b-profile-document__item_ext_pdf">
                    <div class="b-profile-document__item-title">
                        <a href="#" class="b-profile-document__item-title-link b-link-line">Устав АО "ОЭЗ Санкт-Петербург"</a>
                        <span class="b-profile-document__item-title-weight">5,5 мб</span>
                    </div>
                    <div class="b-profile-document__item-desc">
                        <time datetime="2018-12-12" class="b-profile-document__item-date">12.12.2018</time>
                    </div>
                </div>
                <div class="b-profile-document__item b-profile-document__item_ext_pdf">
                    <div class="b-profile-document__item-title">
                        <a href="#" class="b-profile-document__item-title-link b-link-line">Регистрационное свидетельство</a>
                        <span class="b-profile-document__item-title-weight">5,5 мб</span>
                    </div>
                    <div class="b-profile-document__item-desc">
                        <time datetime="2018-12-12" class="b-profile-document__item-date">12.12.2018</time>
                    </div>
                </div>
                <div class="b-profile-document__item b-profile-document__item_ext_doc">
                    <div class="b-profile-document__item-title">
                        <a href="#" class="b-profile-document__item-title-link b-link-line">Генеральная договоренность</a>
                        <span class="b-profile-document__item-title-weight">5,5 мб</span>
                    </div>
                    <div class="b-profile-document__item-desc">
                        <time datetime="2018-12-12" class="b-profile-document__item-date">12.12.2018</time>
                    </div>
                </div>
                <div class="b-profile-document__item b-profile-document__item_ext_doc">
                    <div class="b-profile-document__item-title">
                        <a href="#" class="b-profile-document__item-title-link b-link-line">Учредительный договор</a>
                        <span class="b-profile-document__item-title-weight">5,5 мб</span>
                    </div>
                    <div class="b-profile-document__item-desc">
                        <time datetime="2018-12-12" class="b-profile-document__item-date">12.12.2018</time>
                    </div>
                </div>
            </div>
        </div>
        <div class="b-disclosure-block j-disclosure-block">
            <div class="b-disclosure-title b-title">
                <h2>Деятельность в сфере теплоснабжения</h2>
            </div>

            <form action="#" class="b-disclosure-filter b-mini-filter j-disclosure-filter"  data-send="/tests/disclosure-documents.json">
                <div class="b-mini-filter__group j-disclosure-select-group">
                    <div class="b-mini-filter__values j-disclosure-select" data-title-default="2018"><span class="j-disclosure-select-title">2018</span></div>
                    <div class="b-mini-filter__group-wrap">
                        <div class="b-mini-filter__item">
                            <input type="radio" name="disclosure-heating" value="2018" data-text="2018" id="heating2018" checked class="b-mini-filter__input">
                            <label for="heating2018" class="b-mini-filter__fake">2018</label>
                        </div>

                        <div class="b-mini-filter__item">
                            <input type="radio" name="disclosure-heating" value="2017" data-text="2017" id="heating2017" class="b-mini-filter__input">
                            <label for="heating2017" class="b-mini-filter__fake">2017</label>
                        </div>

                        <div class="b-mini-filter__item">
                            <input type="radio" name="disclosure-heating" value="2016" data-text="2016" id="heating2016" class="b-mini-filter__input">
                            <label for="heating2016" class="b-mini-filter__fake">2016</label>
                        </div>

                        <div class="b-mini-filter__item">
                            <input type="radio" name="disclosure-heating" value="2015" data-text="2015" id="heating2015" class="b-mini-filter__input">
                            <label for="heating2015" class="b-mini-filter__fake">2015</label>
                        </div>
                    </div>
                </div>
            </form>
            <!-- Здесь для подгрузки правильной икоки для файла у блока .b-profile-document__item
                     должен быть класс модификатор типа b-profile-document__item_ext_[расширение файла]-->
            <div class="b-profile-document__list b-profile-documents j-disclosure-content">
                <div class="b-profile-document__item b-profile-document__item_ext_pdf">
                    <div class="b-profile-document__item-title">
                        <a href="#" class="b-profile-document__item-title-link b-link-line">Устав АО "ОЭЗ Санкт-Петербург"</a>
                        <span class="b-profile-document__item-title-weight">5,5 мб</span>
                    </div>
                    <div class="b-profile-document__item-desc">
                        <time datetime="2018-12-12" class="b-profile-document__item-date">12.12.2018</time>
                    </div>
                </div>
                <div class="b-profile-document__item b-profile-document__item_ext_pdf">
                    <div class="b-profile-document__item-title">
                        <a href="#" class="b-profile-document__item-title-link b-link-line">Регистрационное свидетельство</a>
                        <span class="b-profile-document__item-title-weight">5,5 мб</span>
                    </div>
                    <div class="b-profile-document__item-desc">
                        <time datetime="2018-12-12" class="b-profile-document__item-date">12.12.2018</time>
                    </div>
                </div>
                <div class="b-profile-document__item b-profile-document__item_ext_doc">
                    <div class="b-profile-document__item-title">
                        <a href="#" class="b-profile-document__item-title-link b-link-line">Генеральная договоренность</a>
                        <span class="b-profile-document__item-title-weight">5,5 мб</span>
                    </div>
                    <div class="b-profile-document__item-desc">
                        <time datetime="2018-12-12" class="b-profile-document__item-date">12.12.2018</time>
                    </div>
                </div>
                <div class="b-profile-document__item b-profile-document__item_ext_doc">
                    <div class="b-profile-document__item-title">
                        <a href="#" class="b-profile-document__item-title-link b-link-line">Учредительный договор</a>
                        <span class="b-profile-document__item-title-weight">5,5 мб</span>
                    </div>
                    <div class="b-profile-document__item-desc">
                        <time datetime="2018-12-12" class="b-profile-document__item-date">12.12.2018</time>
                    </div>
                </div>
            </div>
        </div>
        <div class="b-disclosure-block j-disclosure-block">
            <div class="b-disclosure-title b-title">
                <h2>Деятельность в сфере водоснабжения</h2>
            </div>

            <form action="#" class="b-disclosure-filter b-mini-filter j-disclosure-filter"  data-send="/tests/disclosure-documents.json">
                <div class="b-mini-filter__group j-disclosure-select-group">
                    <div class="b-mini-filter__values j-disclosure-select" data-title-default="2018"><span class="j-disclosure-select-title">2018</span></div>
                    <div class="b-mini-filter__group-wrap">
                        <div class="b-mini-filter__item">
                            <input type="radio" name="disclosure-water" value="2018" data-text="2018" id="water2018" checked class="b-mini-filter__input">
                            <label for="water2018" class="b-mini-filter__fake">2018</label>
                        </div>

                        <div class="b-mini-filter__item">
                            <input type="radio" name="disclosure-water" value="2017" data-text="2017" id="water2017" class="b-mini-filter__input">
                            <label for="water2017" class="b-mini-filter__fake">2017</label>
                        </div>

                        <div class="b-mini-filter__item">
                            <input type="radio" name="disclosure-water" value="2016" data-text="2016" id="water2016" class="b-mini-filter__input">
                            <label for="water2016" class="b-mini-filter__fake">2016</label>
                        </div>

                        <div class="b-mini-filter__item">
                            <input type="radio" name="disclosure-heating" value="2015" data-text="2015" id="water2015" class="b-mini-filter__input">
                            <label for="water2015" class="b-mini-filter__fake">2015</label>
                        </div>
                    </div>
                </div>
            </form>
            <!-- Здесь для подгрузки правильной икоки для файла у блока .b-profile-document__item
                     должен быть класс модификатор типа b-profile-document__item_ext_[расширение файла]-->
            <div class="b-profile-document__list b-profile-documents j-disclosure-content">
                <div class="b-profile-document__item b-profile-document__item_ext_pdf">
                    <div class="b-profile-document__item-title">
                        <a href="#" class="b-profile-document__item-title-link b-link-line">Устав АО "ОЭЗ Санкт-Петербург"</a>
                        <span class="b-profile-document__item-title-weight">5,5 мб</span>
                    </div>
                    <div class="b-profile-document__item-desc">
                        <time datetime="2018-12-12" class="b-profile-document__item-date">12.12.2018</time>
                    </div>
                </div>
                <div class="b-profile-document__item b-profile-document__item_ext_pdf">
                    <div class="b-profile-document__item-title">
                        <a href="#" class="b-profile-document__item-title-link b-link-line">Регистрационное свидетельство</a>
                        <span class="b-profile-document__item-title-weight">5,5 мб</span>
                    </div>
                    <div class="b-profile-document__item-desc">
                        <time datetime="2018-12-12" class="b-profile-document__item-date">12.12.2018</time>
                    </div>
                </div>
                <div class="b-profile-document__item b-profile-document__item_ext_doc">
                    <div class="b-profile-document__item-title">
                        <a href="#" class="b-profile-document__item-title-link b-link-line">Генеральная договоренность</a>
                        <span class="b-profile-document__item-title-weight">5,5 мб</span>
                    </div>
                    <div class="b-profile-document__item-desc">
                        <time datetime="2018-12-12" class="b-profile-document__item-date">12.12.2018</time>
                    </div>
                </div>
                <div class="b-profile-document__item b-profile-document__item_ext_doc">
                    <div class="b-profile-document__item-title">
                        <a href="#" class="b-profile-document__item-title-link b-link-line">Учредительный договор</a>
                        <span class="b-profile-document__item-title-weight">5,5 мб</span>
                    </div>
                    <div class="b-profile-document__item-desc">
                        <time datetime="2018-12-12" class="b-profile-document__item-date">12.12.2018</time>
                    </div>
                </div>
            </div>
        </div>
        <div class="b-disclosure-block j-disclosure-block">
            <div class="b-disclosure-title b-title">
                <h2>Деятельность в сфере водоответвления</h2>
            </div>

            <form action="#" class="b-disclosure-filter b-mini-filter j-disclosure-filter"  data-send="/tests/disclosure-documents.json">
                <div class="b-mini-filter__group j-disclosure-select-group">
                    <div class="b-mini-filter__values j-disclosure-select" data-title-default="2018"><span class="j-disclosure-select-title">2018</span></div>
                    <div class="b-mini-filter__group-wrap">
                        <div class="b-mini-filter__item">
                            <input type="radio" name="disclosure-water" value="2018" data-text="2018" id="waterbranch2018" checked class="b-mini-filter__input">
                            <label for="waterbranch2018" class="b-mini-filter__fake">2018</label>
                        </div>

                        <div class="b-mini-filter__item">
                            <input type="radio" name="disclosure-water" value="2017" data-text="2017" id="waterbranch2017" class="b-mini-filter__input">
                            <label for="waterbranch2017" class="b-mini-filter__fake">2017</label>
                        </div>

                        <div class="b-mini-filter__item">
                            <input type="radio" name="disclosure-water" value="2016" data-text="2016" id="waterbranch2016" class="b-mini-filter__input">
                            <label for="waterbranch2016" class="b-mini-filter__fake">2016</label>
                        </div>

                        <div class="b-mini-filter__item">
                            <input type="radio" name="disclosure-heating" value="2015" data-text="2015" id="waterbranch2015" class="b-mini-filter__input">
                            <label for="waterbranch2015" class="b-mini-filter__fake">2015</label>
                        </div>
                    </div>
                </div>
            </form>
            <!-- Здесь для подгрузки правильной икоки для файла у блока .b-profile-document__item
                     должен быть класс модификатор типа b-profile-document__item_ext_[расширение файла]-->
            <div class="b-profile-document__list b-profile-documents j-disclosure-content">
                <div class="b-profile-document__item b-profile-document__item_ext_pdf">
                    <div class="b-profile-document__item-title">
                        <a href="#" class="b-profile-document__item-title-link b-link-line">Устав АО "ОЭЗ Санкт-Петербург"</a>
                        <span class="b-profile-document__item-title-weight">5,5 мб</span>
                    </div>
                    <div class="b-profile-document__item-desc">
                        <time datetime="2018-12-12" class="b-profile-document__item-date">12.12.2018</time>
                    </div>
                </div>
                <div class="b-profile-document__item b-profile-document__item_ext_pdf">
                    <div class="b-profile-document__item-title">
                        <a href="#" class="b-profile-document__item-title-link b-link-line">Регистрационное свидетельство</a>
                        <span class="b-profile-document__item-title-weight">5,5 мб</span>
                    </div>
                    <div class="b-profile-document__item-desc">
                        <time datetime="2018-12-12" class="b-profile-document__item-date">12.12.2018</time>
                    </div>
                </div>
                <div class="b-profile-document__item b-profile-document__item_ext_doc">
                    <div class="b-profile-document__item-title">
                        <a href="#" class="b-profile-document__item-title-link b-link-line">Генеральная договоренность</a>
                        <span class="b-profile-document__item-title-weight">5,5 мб</span>
                    </div>
                    <div class="b-profile-document__item-desc">
                        <time datetime="2018-12-12" class="b-profile-document__item-date">12.12.2018</time>
                    </div>
                </div>
                <div class="b-profile-document__item b-profile-document__item_ext_doc">
                    <div class="b-profile-document__item-title">
                        <a href="#" class="b-profile-document__item-title-link b-link-line">Учредительный договор</a>
                        <span class="b-profile-document__item-title-weight">5,5 мб</span>
                    </div>
                    <div class="b-profile-document__item-desc">
                        <time datetime="2018-12-12" class="b-profile-document__item-date">12.12.2018</time>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
