{% extends "./layout/_layout.twig" %}
{% block title %} <title>Главная страница</title> {% endblock %}

{% block content %}

    <header class="l-home__header">
        <div class="l-home__header-left">
            <a href="/" class="b-logo__link" title="Вернуться на главную"></a>
        </div>
        <div class="l-home__header-center">
            <nav class="b-nav">
                <ul class="b-nav__list">
                    <li class="b-nav__item">
                        <a href="#" class="b-nav__link">
                            Об ОЭЗ
                        </a>
                    </li>

                    <li class="b-nav__item">
                        <a href="#" class="b-nav__link">
                            Инфраструктура
                        </a>
                    </li>

                    <li class="b-nav__item">
                        <a href="#" class="b-nav__link">
                            Услуги
                        </a>
                    </li>

                    <li class="b-nav__item">
                        <a href="#" class="b-nav__link">
                            Резиденты
                        </a>
                    </li>

                    <li class="b-nav__item">
                        <a href="#" class="b-nav__link">
                            Инвесторам
                        </a>
                    </li>

                    <li class="b-nav__item">
                        <a href="#" class="b-nav__link">
                            Медиа
                        </a>
                    </li>

                    <li class="b-nav__item">
                        <a href="#" class="b-nav__link">
                            Контакты
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="l-home__header-right">
            <div class="b-account">
                <a href="#" class="b-account__link">
                    <span class="b-account__link-icon">
                        {% include "../sprites/svg/account.svg.twig" %}
                    </span>
                    <span class="b-account__link-text">Личный кабинет</span>
                </a>
            </div>
            <div class="b-language">
                <a href="#" class="b-language__link">
                    Ru
                </a>
            </div>
            <div class="b-burger">
                <div class="b-burger__line"></div>
                <div class="b-burger__line"></div>
                <div class="b-burger__line"></div>
            </div>
        </div>
    </header>

    {# Главный экран #}

    <div class="l-home__main-screen">
        <video class="l-home__main-screen-video" width="100%" height="auto" poster="/images/home/mainScreen_bg.jpg" autoplay loop >
            <source src="/video/movie_1920.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
        </video>
        <div class="b-social">
            <a href="#" class="b-social__link">
                {% include "../sprites/svg/instagram.svg.twig" %}
            </a>
            <a href="#" class="b-social__link">
                {% include "../sprites/svg/facebook.svg.twig" %}
            </a>
        </div>
        <div class="b-main-screen-text">
            <h3>
                Территория инноваций
            </h3>
            <h1>
                Особая экономическая&nbsp;зона «Санкт&nbsp;-&nbsp;Петербург»
            </h1>
        </div>
    </div>

    {# Льготы и преференции #}

    <div class="l-home__privileges l-home__block">
        <h2>Льготы и преференции</h2>
        <div class="l-home__privileges-list">
            <div class="l-home__privileges-item">
                <div class="l-home__privileges-icon" style="background-image:url('/images/home/icon-1.svg')"></div>
                <div class="l-home__privileges-text">
                    <a href="#" class="l-home__privileges-text-title b-link-line">
                        Налоговые преференции
                    </a>
                    <p class="l-home__privileges-text-block">
                        Для резидентов установлены льготные ставки по налогам на прибыль, землю, имущество и транспорт
                    </p>
                </div>
            </div>
            <div class="l-home__privileges-item">
                <div class="l-home__privileges-icon" style="background-image:url('/images/home/icon-2.svg')"></div>
                <div class="l-home__privileges-text">
                    <a href="#" class="l-home__privileges-text-title b-link-line">
                        Таможенные льготы
                    </a>
                    <p class="l-home__privileges-text-block">
                        Режим свободной таможенной зоны позволяет выгодно размещать высокотехнологичные предприятия
                    </p>
                </div>
            </div>
            <div class="l-home__privileges-item">
                <div class="l-home__privileges-icon" style="background-image:url('/images/home/icon-3.svg')"></div>
                <div class="l-home__privileges-text">
                    <a href="#" class="l-home__privileges-text-title b-link-line">
                        Льготная стоимость земельного участка
                    </a>
                    <p class="l-home__privileges-text-block">
                        Плата за выкуп земельного участка составляет 25%, аренда — 2% от кадастровой стоимости земельного участка
                    </p>
                </div>
            </div>
            <div class="l-home__privileges-item">
                <div class="l-home__privileges-icon" style="background-image:url('/images/home/icon-4.svg')"></div>
                <div class="l-home__privileges-text">
                    <a href="#" class="l-home__privileges-text-title b-link-line">
                        Упрощенное взаимодействие с государством
                    </a>
                    <p class="l-home__privileges-text-block">
                        Взаимодействие с государственными регулирующими органами становится максимально простым и прозрачным
                    </p>
                </div>
            </div>
            <div class="l-home__privileges-item">
                <div class="l-home__privileges-icon" style="background-image:url('/images/home/icon-5.svg')"></div>
                <div class="l-home__privileges-text">
                    <a href="#" class="l-home__privileges-text-title b-link-line">
                        Готовая инженерная инфраструктура
                    </a>
                    <p class="l-home__privileges-text-block">
                        Электроснабжение, теплоснабжение, водоснабжение и водоотведение            газоснабжение (при технической возможности)
                    </p>
                </div>
            </div>
            <div class="l-home__privileges-item">
                <div class="l-home__privileges-icon" style="background-image:url('/images/home/icon-6.svg')"></div>
                <div class="l-home__privileges-text">
                    <a href="#" class="l-home__privileges-text-title b-link-line">
                        Гарантия стабильной и безопасной работы инвесторов
                    </a>
                    <p class="l-home__privileges-text-block">
                        Проект ОЭЗ на федеральном уровне курирует Министерство экономического развития Российской Федерации
                    </p>
                </div>
            </div>
        </div>
        {#Для заблоченной кнопки добавить класс is_disabled#}
        <div class="l-home__more">
            <a href="#" class="button">Узнать больше</a>
        </div>
    </div>

    {# Блок новостей #}

    <div class="l-home__news l-home__block">
        <h2>Новости</h2>
        <div class="l-home__news-block">
            <div class="l-home__news-main">
                <a href="#" class="l-home__news-main-img" style="background-image:url('/images/home/news.jpg');"></a>
                <div class="l-home__news-main-content">
                    <div class="l-home__news-main-title">
                        <a href="#">
                            Сегодня на площадке «Нойдорф» открылось инновационное предприятие резидента ОЭЗ «Санкт-Петербург» — ООО «ТР Инжиниринг»
                        </a>
                    </div>
                    <time class="l-home__news-date">
                        5 октября
                    </time>
                    <a href="#" class="l-home__news-subsection">
                        Анонс
                    </a>
                </div>
            </div>

            <div class="l-home__news-list">
                <div class="l-home__news-item">
                    <div class="l-home__news-title">
                        <a href="#">
                            ОЭЗ «Санкт-Петербург» впервые вошла в рейтинг лучших экономических зон мира!
                        </a>
                    </div>
                    <time class="l-home__news-date">
                        5 октября
                    </time>
                    <a href="#" class="l-home__news-subsection">
                        Анонс
                    </a>
                </div>

                <div class="l-home__news-item">
                    <div class="l-home__news-title">
                        <a href="#">
                            Студенты факультета государственного и муниципального управления @sziu_ranepa посетили площадку «Новоорловская»
                        </a>
                    </div>
                    <time class="l-home__news-date">
                        5 октября
                    </time>
                    <a href="#" class="l-home__news-subsection">
                        Анонс
                    </a>
                </div>

                <div class="l-home__news-item">
                    <div class="l-home__news-title">
                        <a href="#">
                            В этом месяце ОЭЗ «Санкт-Петербург» получила 1,15 млрд руб. от АО «ОЭЗ» на строительство инженерной и транспортной инфраструктуры
                        </a>
                    </div>
                    <time class="l-home__news-date">
                        5 октября
                    </time>
                    <a href="#" class="l-home__news-subsection">
                        Анонс
                    </a>
                </div>
            </div>
            {#Для заблоченной кнопки добавить класс is_disabled#}
            <div class="l-home__more">
                <a href="#" class="button">Все новости</a>
            </div>

        </div>
    </div>

    {# Блок стать резидентом #}

    <div class="l-home-resident l-home__block">
        <h2>3 шага, чтобы стать резидентом</h2>
        <div class="l-home-resident__list">
            <div class="l-home-resident__item">
                <div class="l-home-resident__item-title">
                    Подача
                </div>
                <div class="l-home-resident__item-desc">
                    <div class="l-home-resident__item-desc-text">
                        Подача заявки и пакета документов в Комитет по промышленной политике и инновациям Санкт-Петербурга
                    </div>
                    <span class="l-home-resident__item-desc-time">
                        40 рабочих дней
                    </span>
                </div>
            </div>

            <div class="l-home-resident__item">
                <div class="l-home-resident__item-title">
                    Заявление
                </div>
                <div class="l-home-resident__item-desc">
                    <div class="l-home-resident__item-desc-text">
                        Рассмотрение заявки на Экспертном совете ОЭЗ
                    </div>
                    <span class="l-home-resident__item-desc-time">
                        15 рабочих дней
                    </span>
                </div>
            </div>

            <div class="l-home-resident__item">
                <div class="l-home-resident__item-title">
                    Подписание
                </div>
                <div class="l-home-resident__item-desc">
                    <div class="l-home-resident__item-desc-text">
                        Подписание соглашения об осуществлении деятельности
                    </div>
                    <span class="l-home-resident__item-desc-time">
                        В течение недели
                    </span>
                </div>
            </div>

        </div>

        <div class="l-home-resident__more-about">
            <div class="l-home-resident__more-about-text">
                <p>
                    Стать резидентом Особой экономической зоны технико-внедренческого типа «Санкт-Петербург» могут как индивидуальные предприниматели, так и коммерческие организации, зарегистрированные <a href="#" class="b-link-line-two">в соответствии с законодательством Российской&nbsp;Федерации</a>
                </p>
            </div>
            {#Для заблоченной кнопки добавить класс is_disabled#}
            <a href="#" class="button button_theme_white">
                Узнать больше
            </a>
        </div>
    </div>

    {# Блок наши резиденты #}

    <div class="l-home-our-resident l-home__block">
        <h2>Резиденты</h2>
        <div class="b-slider__wrapper">
            <div class="b-slider__block-wrapper">
                <div class="b-slider__block  j-residents-slider">
                    {% include "../components/slider/slider.twig" with {
                        items: [{
                            picture: {
                                source : "/images/home/biocad.jpg",
                                alt: "BioCAD",
                            },
                            title: "Биокад",
                            text : "Фармацевтика и биотехнологии"
                        },{
                            picture: {
                                source : "/images/home/laser-sistem.jpg",
                                alt: "BioCAD",
                            },
                            title: "Лазерные системы",
                            text : "Приборостроение"
                        },{
                            picture: {
                                source : "/images/home/racurs.jpg",
                                alt: "BioCAD",
                            },
                            title: "Ракурс-инжиниринг",
                            text : "Микроэлектроника"
                        },
                        ]
                    }%}

                </div>
            </div>

            <div class="b-slider__arrows">
                <button class="b-slider__arrow slider__arrow-left"></button>
                <button class="b-slider__arrow slider__arrow-right"></button>
            </div>

            <div class="b-slider__dots">
                <div class="b-slider__dot b-slider__dot_is_active"></div>
                <div class="b-slider__dot"></div>
                <div class="b-slider__dot"></div>
            </div>
        </div>

        <div class="l-home__more">
            <a href="#" class="button">Все резиденты</a>
        </div>
    </div>

    {#Блок отзывы#}

    <div class="l-home-reviews">
        <div class="b-slider-reviews__wrapper">
            <div class="b-slider-reviews__block-wrapper">
                <div class="b-slider-reviews__block">
                    <div class="b-slider-reviews__item">
                        <div class="b-slider-reviews__item-image" style="background-image:url('/images/home/review-img.jpg')"></div>
                        <div class="b-slider-reviews__person">
                            <div class="b-slider-reviews__person-img">
                                <img src="/images/home/review-person.png" alt="картинка">
                                <div class="b-slider-reviews__person-name-wrap">
                                    <div class="b-slider-reviews__person-name">
                                        Георгий Побелянский
                                    </div>
                                    <p>
                                        генеральный директор фармацевтической
                                        компании «ВЕРТЕКС»
                                    </p>
                                </div>
                            </div>
                            <div class="b-slider-reviews__person-content">
                                <div class="b-slider-reviews__person-text">
                                    Очевидные преимущества для резидентов ОЭЗ «Санкт-Петербург» — преференции и льготы, стоимость земельного участка ниже среднерыночной стоимости, создание инженерной инфраструктуры на территории зоны за счет городских ресурсов, продление срока действия особой экономической зоны до 2054 года.
                                </div>
                                <a href="#" class="b-slider-reviews__person-link b-link-line-two">
                                    Отзыв полностью
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="b-slider-reviews__arrows">
                <button class="b-slider-reviews__arrow slider-reviews__arrow-left">
                    <img src="/images/home/slide-arrow-white.svg" alt="стрелка влево">
                </button>
                <button class="b-slider-reviews__arrow slider-reviews__arrow-right">
                    <img src="/images/home/slide-arrow-white.svg" alt="стрелка вправо">
                </button>
            </div>

            <div class="b-slider__dots">
                <div class="b-slider__dot b-slider__dot_is_active"></div>
                <div class="b-slider__dot"></div>
                <div class="b-slider__dot"></div>
            </div>
        </div>
    </div>

    {# Блок участки #}

    <div class="l-home-plots">
        <div class="l-home-plots__title-mobile">
            Расположение зон
        </div>
        <div class="l-home-plots__list">

            <div class="l-home-plots__item">
                <div class="l-home-plots__map"></div>
                <div class="l-home-plots__content">
                    <div class="l-home-plots__title">
                        <a href="#" class="b-link-line">
                            Участок «Нойдорф»
                        </a>
                    </div>
                    <div class="l-home-plots__desc">
                        <div class="l-home-plots__desc-item">
                            <p>
                                <strong>18,99 га</strong> <span>площадь участка</span>
                            </p>
                        </div>
                        <div class="l-home-plots__desc-item">
                            <p>
                                <strong>30 км</strong> <span>от центра</span>
                            </p>
                        </div>
                        <div class="l-home-plots__desc-item">
                            <p>
                                <strong>Стрельна</strong> <span>юго&nbsp;-&nbsp;запад&nbsp;Петербурга</span>
                            </p>
                        </div>
                    </div>
                    <div class="l-home-plots__text">
                        <p>
                            В окружении развитой городской инфраструктуры и культурного наследия. Менее 10 минут до выезда на КАД. 20 минут на автотранспорте до аэропорта
                        </p>
                    </div>
                    <div class="l-home-plots__link">
                        <a href="#" class="b-link-line">
                            Узнать больше
                        </a>
                    </div>
                </div>
            </div>

            <div class="l-home-plots__item">
                <div class="l-home-plots__map"></div>
                <div class="l-home-plots__content">
                    <div class="l-home-plots__title">
                        <a href="#" class="b-link-line">
                            Участок «Новоорловская»
                        </a>
                    </div>
                    <div class="l-home-plots__desc">
                        <div class="l-home-plots__desc-item">
                            <p>
                                <strong>163,33 га</strong> <span>площадь участка</span>
                            </p>
                        </div>
                        <div class="l-home-plots__desc-item">
                            <p>
                                <strong>20 км</strong> <span>от центра</span>
                            </p>
                        </div>
                        <div class="l-home-plots__desc-item">
                            <p>
                                <strong>Приморский район</strong> <span>В лесопарке «Новоорловский»</span>
                            </p>
                        </div>
                    </div>
                    <div class="l-home-plots__text">
                        <p>
                            Развитая транспортная инфраструктура. Менее 10 минут до выезда на КАД. 30 минут до центра города на автотранспорте. 20 минут до метро на автотранспорте
                        </p>
                    </div>
                    <div class="l-home-plots__link">
                        <a href="#" class="b-link-line">
                            Узнать больше
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="l-home-plots__all-map">
            <div class="l-home-plots__all-map-images">
                <a href="#" class="l-home-plots__all-map-build l-home-plots__all-map-build-one">
                    <span class="b-tooltip">
                        Новоорловская
                    </span>
                </a>
                <a href="#" class="l-home-plots__all-map-build l-home-plots__all-map-build-two">
                    <span class="b-tooltip">
                        Нойдорф
                    </span>
                </a>
                <div class="l-home-plots__all-map-icon icon-port">
                    <div class="b-tooltip">
                        Порт
                    </div>
                </div>

                <div class="l-home-plots__all-map-icon icon-rialway-station icon-rialway-station-one">
                    <div class="b-tooltip">
                        Вокзал
                    </div>
                </div>

                <div class="l-home-plots__all-map-icon icon-center-city">
                    <div class="b-tooltip">
                        Центр&nbsp;города
                    </div>
                </div>

                <div class="l-home-plots__all-map-icon icon-rialway-station icon-rialway-station-two">
                    <div class="b-tooltip">
                        Ладожский&nbsp;вокзал
                    </div>
                </div>

                <div class="l-home-plots__all-map-icon icon-airport">
                    <div class="b-tooltip">
                        Аэропорт
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# Блок партнеры #}

    <div class="l-home-partners l-home__block">
        <h2>Партнеры</h2>
        {#{% include "../components/slider/slider.twig" with %}#}
        <div class="b-slider__wrapper">
            <div class="b-slider__block-wrapper">
                <div class="b-slider__block">
                    <div class="b-slider__item">
                        <div class="b-slider__item-logo">
                            <img src="/images/home/partner1.png" alt="Биокад">
                        </div>
                    </div>

                    <div class="b-slider__item">
                        <div class="b-slider__item-logo">
                            <img src="/images/home/partner2.png" alt="Лазерные системы">
                        </div>
                    </div>

                    <div class="b-slider__item">
                        <div class="b-slider__item-logo">
                            <img src="/images/home/partner3.png" alt="Ракурс-инжиниринг">
                        </div>
                    </div>
                </div>
            </div>

            <div class="b-slider__arrows">
                <button class="b-slider__arrow slider__arrow-left"></button>
                <button class="b-slider__arrow slider__arrow-right"></button>
            </div>

            <div class="b-slider__dots">
                <div class="b-slider__dot b-slider__dot_is_active"></div>
                <div class="b-slider__dot"></div>
                <div class="b-slider__dot"></div>
            </div>

        </div>
    </div>

    {# Подвал #}

    <footer class="b-footer">
        <div class="b-footer__left">
            <a href="/" class="b-footer__logo">
                <img src="../images/home/logo-white.svg" alt="Особая Экономическая зона">
            </a>
        </div>
        <div class="b-footer__center">
            <nav class="b-footer__nav">
                <ul class="b-footer__nav-list">
                    <li class="b-footer__nav-item">
                        <a href="#" class="b-footer__nav-link">
                            Об ОЭЗ
                        </a>
                    </li>
                    <li class="b-footer__nav-item">
                        <a href="#" class="b-footer__nav-link">
                            Инфраструктура
                        </a>
                    </li>
                    <li class="b-footer__nav-item">
                        <a href="#" class="b-footer__nav-link">
                            Услуги
                        </a>
                    </li>
                    <li class="b-footer__nav-item">
                        <a href="#" class="b-footer__nav-link">
                            Резиденты
                        </a>
                    </li>
                    <li class="b-footer__nav-item">
                        <a href="#" class="b-footer__nav-link">
                            Инвесторам
                        </a>
                    </li>
                    <li class="b-footer__nav-item">
                        <a href="#" class="b-footer__nav-link">
                            Медиа
                        </a>
                    </li>
                    <li class="b-footer__nav-item">
                        <a href="#" class="b-footer__nav-link">
                            Контакты
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="b-footer__copyright">
                <span class="b-footer__copyright-text">&copy; 2018, ОЭЗ «Санкт-Петербург»</span>
                <a href="#" class="b-footer__copyright-link">
                    Раскрытие информации
                </a>
                <a href="#" class="b-footer__copyright-link">
                    Написать сообщение
                </a>
            </div>
        </div>
        <div class="b-footer__right">
            <div class="b-footer__right-wrap">
                <div class="b-footer__social">
                    <a href="#" class="b-footer__social-link">
                        {% include "../sprites/svg/instagram.svg.twig" %}
                    </a>
                    <a href="#" class="b-footer__social-link">
                        {% include "../sprites/svg/facebook.svg.twig" %}
                    </a>
                </div>
                <a href="#" class="b-footer__kelnik">
                    {% include "../sprites/svg/kelnik.svg.twig" %}
                </a>
            </div>
        </div>
    </footer>

{% endblock %}
