{% extends "./layout/_layout-home.twig" %}
{% block title %} <title>Главная страница</title> {% endblock %}

{% block content %}

    {# Блок с анимацией #}

    {#{% include "../components/animation-line/animation-line.twig" %}#}

    {# Главный экран #}

    <div class="l-home__main-screen j-home__main-screen">
        <div class="l-home__main-screen-video-wrapper">
            <video class="l-home__main-screen-video" width="100%" height="auto" preload="auto" autoplay="autoplay" loop="loop" muted>
                <source src="/video/movie_1920.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
                <source src="/video/movie_1920.ogv" type='video/ogg; codecs="theora, vorbis"'>
                <source src="/video/movie_1920.webm" type='video/webm; codecs="vp8, vorbis"'>
            </video>
        </div>
        <div class="b-social">
            <a href="#" class="b-social__link">
                {% include "../sprites/svg/instagram.svg.twig" %}
            </a>
            <a href="#" class="b-social__link">
                {% include "../sprites/svg/facebook.svg.twig" %}
            </a>
        </div>
        <div class="b-main-screen-content">
            <div class="b-main-screen-text">
                <h3 class="b-main-screen-text-title-label">
                    Территория&nbsp;инноваций
                </h3>
                <h1>
                    <span>Особая</span> экономическая&nbsp;зона &laquo;Санкт&nbsp;&mdash;&nbsp;Петербург&raquo;
                </h1>
                <div class="b-main-screen-text-desc">
                    ОЭЗ &laquo;Санкт&nbsp;-&nbsp;Петербург&raquo;&nbsp;&mdash; это эффективный государственный проект, инновационная площадка для
                    реализации крупных бизнес-проектов по&nbsp;разработке и&nbsp;производству высокотехнологичной продукции,
                    предлагающая выгодные льготы, преференции и&nbsp;поддержку&nbsp;государства.
                </div>
            </div>
            <div class="b-main-screen__list">
                <div class="b-main-screen__item">
                    <p>
                        <strong>182,32 га</strong> земельных участков
                    </p>
                </div>
                <div class="b-main-screen__item">
                    <p>
                        <strong>50 компаний</strong> резидентов
                    </p>
                </div>
                <div class="b-main-screen__item">
                    <p>
                        <strong>50 млрд ₽</strong> выручки резидентов
                    </p>
                </div>
                <div class="b-main-screen__item">
                    <img src="/images/home/free-zone.svg" alt="free zones">
                </div>
            </div>
        </div>
    </div>

    <div class="l-home__block_bg_fixed">

    {# Льготы и преференции #}

        <div class="l-home__privileges l-home__block">
            <h2>Льготы и преференции</h2>
            <div class="l-home__privileges-list">
                <div class="l-home__privileges-item">
                    <div class="l-home__privileges-icon" style="background-image:url('/images/home/icon-1.svg')"></div>
                    <div class="l-home__privileges-text">
                        <a href="#" class="l-home__privileges-text-title b-link-line">
                            Налоговые преференции
                        </a>
                        <p class="l-home__privileges-text-block">
                            Для резидентов установлены льготные ставки по&nbsp;налогам на&nbsp;прибыль,
                            землю, имущество и&nbsp;транспорт
                        </p>
                    </div>
                </div>
                <div class="l-home__privileges-item">
                    <div class="l-home__privileges-icon" style="background-image:url('/images/home/icon-2.svg')"></div>
                    <div class="l-home__privileges-text">
                        <a href="#" class="l-home__privileges-text-title b-link-line">
                            Таможенные льготы
                        </a>
                        <p class="l-home__privileges-text-block">
                            Режим свободной таможенной зоны позволяет выгодно размещать высокотехнологичные предприятия
                        </p>
                    </div>
                </div>
                <div class="l-home__privileges-item">
                    <div class="l-home__privileges-icon" style="background-image:url('/images/home/icon-3.svg')"></div>
                    <div class="l-home__privileges-text">
                        <a href="#" class="l-home__privileges-text-title b-link-line">
                            Льготная стоимость земельного участка
                        </a>
                        <p class="l-home__privileges-text-block">
                            Плата за&nbsp;выкуп земельного участка составляет&nbsp;25%, аренда&nbsp;&mdash;
                            2%&nbsp;от&nbsp;кадастровой стоимости земельного участка
                        </p>
                    </div>
                </div>
                <div class="l-home__privileges-item">
                    <div class="l-home__privileges-icon" style="background-image:url('/images/home/icon-4.svg')"></div>
                    <div class="l-home__privileges-text">
                        <a href="#" class="l-home__privileges-text-title b-link-line">
                            Упрощенное взаимодействие с государством
                        </a>
                        <p class="l-home__privileges-text-block">
                            Взаимодействие с&nbsp;государственными регулирующими органами становится
                            максимально простым и&nbsp;прозрачным
                        </p>
                    </div>
                </div>
                <div class="l-home__privileges-item">
                    <div class="l-home__privileges-icon" style="background-image:url('/images/home/icon-5.svg')"></div>
                    <div class="l-home__privileges-text">
                        <a href="#" class="l-home__privileges-text-title b-link-line">
                            Готовая инженерная инфраструктура
                        </a>
                        <p class="l-home__privileges-text-block">
                            Электроснабжение, теплоснабжение, водоснабжение и&nbsp;водоотведение,
                            газоснабжение (при технической возможности)
                        </p>
                    </div>
                </div>
                <div class="l-home__privileges-item">
                    <div class="l-home__privileges-icon" style="background-image:url('/images/home/icon-6.svg')"></div>
                    <div class="l-home__privileges-text">
                        <a href="#" class="l-home__privileges-text-title b-link-line">
                            Гарантия стабильной и безопасной работы инвесторов
                        </a>
                        <p class="l-home__privileges-text-block">
                            Проект ОЭЗ на&nbsp;федеральном уровне курирует Министерство экономического развития
                            Российской&nbsp;Федерации
                        </p>
                    </div>
                </div>
            </div>
            {#Для заблоченной кнопки добавить класс is-disabled#}
            <div class="l-home__more">
                <a href="#" class="button">Узнать больше</a>
            </div>
        </div>

        {# Блок новостей #}

        <div class="l-home__news l-home__block">
            <h2>Новости</h2>
            <div class="l-home__news-block">
                <div class="l-home__news-main">
                    <a href="#" class="l-home__news-main-img" style="background-image:url('/images/home/news.jpg');"></a>
                    <div class="l-home__news-main-content">
                        <div class="l-home__news-main-title">
                            <a href="#" class="b-link-line">
                                Сегодня на&nbsp;площадке &laquo;Нойдорф&raquo; открылось инновационное
                                предприятие резидента ОЭЗ &laquo;Санкт&nbsp;-&nbsp;Петербург&raquo;&nbsp;&mdash;
                                ООО &laquo;ТР&nbsp;Инжиниринг&raquo;
                            </a>
                        </div>
                        <time class="l-home__news-date label-bg">
                            5 октября
                        </time>
                        <a href="#" class="l-home__news-subsection label-bg">
                            Анонс
                        </a>
                    </div>
                </div>

                <div class="l-home__news-list">
                    <div class="l-home__news-item">
                        <div class="l-home__news-title">
                            <a href="#" class="b-link-line">
                                ОЭЗ &laquo;Санкт&nbsp;-&nbsp;Петербург&raquo; впервые вошла в&nbsp;рейтинг лучших экономических
                                зон&nbsp;мира!
                            </a>
                        </div>
                        <time class="l-home__news-date label-bg">
                            5 октября
                        </time>
                        <a href="#" class="l-home__news-subsection label-bg">
                            Анонс
                        </a>
                    </div>

                    <div class="l-home__news-item">
                        <div class="l-home__news-title">
                            <a href="#" class="b-link-line">
                                Студенты факультета государственного и&nbsp;муниципального управления @sziu_ranepa
                                посетили площадку &laquo;Новоорловская&raquo;
                            </a>
                        </div>
                        <time class="l-home__news-date label-bg">
                            5 октября
                        </time>
                        <a href="#" class="l-home__news-subsection label-bg">
                            Анонс
                        </a>
                    </div>

                    <div class="l-home__news-item">
                        <div class="l-home__news-title">
                            <a href="#" class="b-link-line">
                                В&nbsp;этом месяце ОЭЗ &laquo;Санкт&nbsp;-&nbsp;Петербург&raquo; получила 1,15 млрд руб.&nbsp;
                                от&nbsp;АО&nbsp;&laquo;ОЭЗ&raquo; на&nbsp;строительство инженерной и&nbsp;транспортной&nbsp;инфраструктуры
                            </a>
                        </div>
                        <time class="l-home__news-date label-bg">
                            5 октября
                        </time>
                        <a href="#" class="l-home__news-subsection label-bg">
                            Анонс
                        </a>
                    </div>
                </div>
                {#Для заблоченной кнопки добавить класс is-disabled#}
                <div class="l-home__more">
                    <a href="#" class="button">Все новости</a>
                </div>

            </div>
        </div>

        {# Блок стать резидентом #}

        <div class="l-home-resident l-home__block">
            <h2>3 шага, чтобы стать резидентом</h2>
            <div class="l-home-resident__list">
                <div class="l-home-resident__item">
                    <div class="l-home-resident__item-title">
                        Подача
                    </div>
                    <div class="l-home-resident__item-desc">
                        <div class="l-home-resident__item-desc-text">
                            Подача заявки и&nbsp;пакета документов в&nbsp;Комитет по&nbsp;промышленной политике
                            и&nbsp;инновациям Санкт&nbsp;-&nbsp;Петербурга
                        </div>
                        <span class="l-home-resident__item-desc-time">
                            40 рабочих дней
                        </span>
                    </div>
                </div>

                <div class="l-home-resident__item">
                    <div class="l-home-resident__item-title">
                        Заявление
                    </div>
                    <div class="l-home-resident__item-desc">
                        <div class="l-home-resident__item-desc-text">
                            Рассмотрение заявки на Экспертном совете ОЭЗ
                        </div>
                        <span class="l-home-resident__item-desc-time">
                            15 рабочих дней
                        </span>
                    </div>
                </div>

                <div class="l-home-resident__item">
                    <div class="l-home-resident__item-title">
                        Подписание
                    </div>
                    <div class="l-home-resident__item-desc">
                        <div class="l-home-resident__item-desc-text">
                            Подписание соглашения об осуществлении деятельности
                        </div>
                        <span class="l-home-resident__item-desc-time">
                            В течение недели
                        </span>
                    </div>
                </div>

            </div>

            <div class="l-home-resident__more-about">
                <div class="l-home-resident__more-about-text">
                    <p>
                        Стать резидентом Особой экономической зоны технико-внедренческого типа &laquo;Санкт&nbsp;-&nbsp;Петербург&raquo; могут
                        как индивидуальные предприниматели, так и&nbsp;коммерческие организации, зарегистрированные
                        <a href="#" class="b-link-line-two">в соответствии с законодательством Российской&nbsp;Федерации</a>
                    </p>
                </div>
                {#Для заблоченной кнопки добавить класс is-disabled#}
                <a href="#" class="button button_theme_white">
                    Узнать больше
                </a>
            </div>
        </div>

        {# Блок наши резиденты #}
        <div class="l-home-our-resident l-home__block">
            <h2>Резиденты</h2>
            <div class="b-carousel">
                <div class="glide j-residents-carousel">
                    <div class="glide__track b-carousel__track" data-glide-el="track">
                        <ul class="glide__slides">
                            {% include "../components/carousel/carousel-item.twig" with {
                                items: [{
                                    picture: {
                                        source : "/images/home/biocad.jpg",
                                        alt: "BioCAD",
                                    },
                                    description: {
                                        title: "Биокад",
                                        text : "Фармацевтика и биотехнологии"
                                    }
                                }, {
                                    picture: {
                                        source : "/images/home/laser-sistem.png",
                                        alt: "BioCAD",
                                    },
                                    description: {
                                        title: "Лазерные системы",
                                        text : "Приборостроение"
                                    }
                                }, {
                                    picture: {
                                        source : "/images/home/racurs.jpg",
                                        alt: "BioCAD",
                                    },
                                    description: {
                                        title: "Ракурс-инжиниринг",
                                        text : "Микроэлектроника"
                                    }
                                },
                                ]
                            }%}
                        </ul>
                    </div>

                    <div class="glide__arrows b-carousel__arrows" data-glide-el="controls">
                        <button class="b-carousel__arrow b-carousel__arrow-left" data-glide-dir="<" type="button"></button>
                        <button class="b-carousel__arrow b-carousel__arrow-right" data-glide-dir="&#62;" type="button"></button>
                    </div>
                    <div class="b-carousel__dots" data-glide-el="controls[nav]">
                        <button class="b-carousel__dot" data-glide-dir="=0" type="button"></button>
                        <button class="b-carousel__dot" data-glide-dir="=1" type="button"></button>
                        <button class="b-carousel__dot" data-glide-dir="=2" type="button"></button>
                    </div>
                </div>
            </div>

            <div class="l-home__more">
                <a href="#" class="button">Все резиденты</a>
            </div>
        </div>

        {#Блок отзывы#}

        <div class="l-home-reviews">
            <div class="b-slider-reviews">
                <div class="glide j-reviews-carousel">
                    <div class="glide__track b-carousel__track" data-glide-el="track">
                        <div class="glide__slides">

                            <div class="glide__slide">
                                <div class="b-slider-reviews__item">
{#                                    <div class="b-slider-reviews__item-image" style="background-image:url('/images/home/review-img.jpg')"></div>#}
                                    <img src="/images/home/review-img.jpg" alt="" class="b-slider-reviews__item-image">
                                    <div class="b-slider-reviews__person">
                                        <div class="b-slider-reviews__person-img">
                                            <img src="/images/home/review-person.png" alt="картинка">
                                            <div class="b-slider-reviews__person-name-wrap">
                                                <div class="b-slider-reviews__person-name">Георгий Побелянский</div>
                                                <p>Генеральный директор фармацевтической компании &laquo;ВЕРТЕКС&raquo;</p>
                                            </div>
                                        </div>
                                        <div class="b-slider-reviews__person-content">
                                            <div class="b-slider-reviews__person-text">Очевидные преимущества для резидентов ОЭЗ &laquo;Санкт&nbsp;-&nbsp;Петербург&raquo;&nbsp;&mdash;
                                                преференции и&nbsp;льготы, стоимость земельного участка ниже среднерыночной стоимости,
                                                создание инженерной инфраструктуры на&nbsp;территории зоны за&nbsp;счет городских
                                                ресурсов, продление срока действия особой экономической зоны до&nbsp;2054&nbsp;года.</div>
                                            <span class="b-slider-reviews__person-link b-link-line-two j-popup-review" data-ajax="/tests/review.json" data-id="3">
                                                Отзыв полностью
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="glide__slide">
                                <div class="b-slider-reviews__item">
{#                                    <div class="b-slider-reviews__item-image" style="background-image:url('/images/home/review-img.jpg')"></div>#}
                                    <img src="/images/home/review-img.jpg" alt="" class="b-slider-reviews__item-image">
                                    <div class="b-slider-reviews__person">
                                        <div class="b-slider-reviews__person-img">
                                            <img src="/images/home/review-person.png" alt="картинка">
                                            <div class="b-slider-reviews__person-name-wrap">
                                                <div class="b-slider-reviews__person-name">Георгий Побелянский</div>
                                                <p>Генеральный директор фармацевтической компании &laquo;ВЕРТЕКС&raquo;</p>
                                            </div>
                                        </div>
                                        <div class="b-slider-reviews__person-content">
                                            <div class="b-slider-reviews__person-text">Очевидные преимущества для резидентов ОЭЗ &laquo;Санкт&nbsp;-&nbsp;Петербург&raquo;&nbsp;&mdash;
                                                преференции и&nbsp;льготы, стоимость земельного участка ниже среднерыночной стоимости,
                                                создание инженерной инфраструктуры на&nbsp;территории зоны за&nbsp;счет городских
                                                ресурсов, продление срока действия особой экономической зоны до&nbsp;2054&nbsp;года.</div>
                                            <span class="b-slider-reviews__person-link b-link-line-two j-popup-review" data-ajax="/tests/review.json" data-id="10">
                                                Отзыв полностью
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="glide__arrows b-slider-reviews__arrows" data-glide-el="controls">
                        <button class="b-slider-reviews__arrow b-slider-reviews__arrow-left" data-glide-dir="<" type="button">
                            <img src="/images/home/slide-arrow-white.svg" alt="стрелка влево">
                        </button>
                        <button class="b-slider-reviews__arrow b-slider-reviews__arrow-right" data-glide-dir="&#62;" type="button">
                            <img src="/images/home/slide-arrow-white.svg" alt="стрелка вправо">
                        </button>
                    </div>

                    <div class="b-slider-reviews__dots" data-glide-el="controls[nav]">
                        <button class="b-slider-reviews__dot" data-glide-dir="=0" type="button"></button>
                        <button class="b-slider-reviews__dot" data-glide-dir="=1" type="button"></button>
                    </div>

                </div>
            </div>
        </div>

        {# Блок участки #}

        <div class="l-home-plots j-home-plots">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80" style="border: 0 !important; clip: rect(0 0 0 0) !important; height: 1px !important; margin: -1px !important; overflow: hidden !important; padding: 0 !important; position: absolute !important; width: 1px !important;">
                <defs>
                    <linearGradient id="plots-gradient" x1="30.6" y1="50.66" x2="49.4" y2="31.86" gradientUnits="userSpaceOnUse">
                        <stop offset="0" stop-color="#373e99"/>
                        <stop offset="1" stop-color="#662e91"/>
                    </linearGradient>
                </defs>
            </svg>

            <div class="l-home-plots__title-mobile">
                Расположение зон
            </div>
            <div class="l-home-plots__list">

                <div class="l-home-plots__item">

                    <div class="l-home-plots__map l-home-plots__map-novoorlovskaya">
                        <div class="l-home-plots__all-map-images">
                            <div class="l-home-plots__all-map-icon-wrap">
                                <a href="#" class="l-home-plots__all-map-build l-home-plots__all-map-build-one">
                                    <span class="b-tooltip">Новоорловская</span>
                                </a>
                                <a href="#" class="l-home-plots__all-map-build l-home-plots__all-map-build-two">
                                    <span class="b-tooltip">
                                        Нойдорф
                                    </span>
                                </a>
                                <div class="l-home-plots__all-map-icon icon-port">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                         viewBox="0 0 80 80" class="plots-icon">
                                        <circle cx="40" cy="40" r="39.5" fill="url(#plots-gradient)"  class="plots-icon-circle"/>
                                        <path d="M53.1 46.11l-2-7a.14.14 0 0 0-.09-.08.15.15 0 0 0-.13 0l-5 5.2a.16.16 0 0 0-.05.15.14.14 0 0 0 .1.11l1.93.48a8.3 8.3 0 0 1-6.23 7.21V32.8a4.41 4.41 0 1 0-3.2 0v19.46a8.3 8.3 0 0 1-6.23-7.21l1.92-.48a.14.14 0 0 0 .11-.11.16.16 0 0 0-.05-.15l-5-5.2a.15.15 0 0 0-.13 0 .14.14 0 0 0-.09.08l-2 7a.12.12 0 0 0 0 .15.12.12 0 0 0 .15.05l2-.48a11.47 11.47 0 0 0 10.64 9.86h.64A11.47 11.47 0 0 0 51 45.83l2 .48a.12.12 0 0 0 .15-.05.12.12 0 0 0 0-.15M40 27.08a1.62 1.62 0 1 1-1.61 1.62A1.62 1.62 0 0 1 40 27.08"
                                              fill-rule="evenodd" fill="url(#plots-gradient)" class="plots-icon-path"/>
                                    </svg>
                                    <div class="b-tooltip">
                                        Порт
                                    </div>
                                </div>

                                <div class="l-home-plots__all-map-icon icon-rialway-station icon-rialway-station-one">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                         viewBox="0 0 80 80" class="plots-icon">
                                        <circle cx="40" cy="40" r="39.5" fill="url(#plots-gradient)"  class="plots-icon-circle"/>
                                        <path d="M40.07,24.19a25.33,25.33,0,0,0-8.42,1.5l-.07,0-.07,0h0a5.32,5.32,0,0,0-1.64.84,2.4,2.4,0,0,0-.95,1.86V47.92a2.86,2.86,0,0,0,2.91,2.77h1.11l-3.85,3.9c-.54.54-.08,1.22.61,1.22H50.33a.73.73,0,0,0,.56-1.29L47,50.69h1.23a2.86,2.86,0,0,0,2.91-2.77V28.44a2.38,2.38,0,0,0-1-1.85,6.26,6.26,0,0,0-1.7-.88,23.52,23.52,0,0,0-8.37-1.52Zm-9.72,14.6h8.82v-7.2H30.35Zm10.26,0h9v-7.2h-9Zm-6.38,4.09A2.16,2.16,0,1,1,32.07,45,2.17,2.17,0,0,1,34.23,42.88Zm11.51,0a2.16,2.16,0,1,1-2.15,2.16A2.17,2.17,0,0,1,45.74,42.89ZM35,50.69h9.92l1.07,1h-12Zm-2.44,2.47H47.43l1.25,1.22H31.32Z"
                                              fill-rule="evenodd" fill="url(#plots-gradient)" class="plots-icon-path"/>
                                    </svg>
                                    <div class="b-tooltip">
                                        Вокзал
                                    </div>
                                </div>

                                <div class="l-home-plots__all-map-icon icon-center-city">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                         viewBox="0 0 80 80" class="plots-icon">
                                        <circle cx="40" cy="40" r="39.5" fill="url(#plots-gradient)"  class="plots-icon-circle"/>
                                        <path d="M40 20c-8.73 0-15.81 6.67-15.81 14.91C24.19 47.75 40 62.24 40 62.24s15.81-15.32 15.81-27.33C55.81 26.67 48.73 20 40 20m-.1 23.4a7.5 7.5 0 1 1 7.5-7.5 7.5 7.5 0 0 1-7.5 7.5"
                                              fill-rule="evenodd" fill="url(#plots-gradient)" class="plots-icon-path"/>
                                    </svg>
                                    <div class="b-tooltip">
                                        Центр&nbsp;города
                                    </div>
                                </div>

                                <div class="l-home-plots__all-map-icon icon-rialway-station icon-rialway-station-two">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                         viewBox="0 0 80 80" class="plots-icon">
                                        <circle cx="40" cy="40" r="39.5" fill="url(#plots-gradient)"  class="plots-icon-circle"/>
                                        <path d="M40.07,24.19a25.33,25.33,0,0,0-8.42,1.5l-.07,0-.07,0h0a5.32,5.32,0,0,0-1.64.84,2.4,2.4,0,0,0-.95,1.86V47.92a2.86,2.86,0,0,0,2.91,2.77h1.11l-3.85,3.9c-.54.54-.08,1.22.61,1.22H50.33a.73.73,0,0,0,.56-1.29L47,50.69h1.23a2.86,2.86,0,0,0,2.91-2.77V28.44a2.38,2.38,0,0,0-1-1.85,6.26,6.26,0,0,0-1.7-.88,23.52,23.52,0,0,0-8.37-1.52Zm-9.72,14.6h8.82v-7.2H30.35Zm10.26,0h9v-7.2h-9Zm-6.38,4.09A2.16,2.16,0,1,1,32.07,45,2.17,2.17,0,0,1,34.23,42.88Zm11.51,0a2.16,2.16,0,1,1-2.15,2.16A2.17,2.17,0,0,1,45.74,42.89ZM35,50.69h9.92l1.07,1h-12Zm-2.44,2.47H47.43l1.25,1.22H31.32Z"
                                              fill-rule="evenodd" fill="url(#plots-gradient)" class="plots-icon-path"/>
                                    </svg>
                                    <div class="b-tooltip b-tooltip_position_left">
                                        Ладожский вокзал
                                    </div>
                                </div>

                                <div class="l-home-plots__all-map-icon icon-airport">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                         viewBox="0 0 80 80" class="plots-icon">
                                        <circle cx="40" cy="40" r="39.5" fill="url(#plots-gradient)"  class="plots-icon-circle"/>
                                        <path d="M31.94 44.77l6.8-7.41a.86.86 0 0 0-.22-1.36L26.8 29.38a1.1 1.1 0 0 1-.53-.69 1 1 0 0 1 1.14-1.09l16.69 3.27a.9.9 0 0 0 .74-.18l7.06-5.84h.05a2.37 2.37 0 0 1 1.83-.7 2.45 2.45 0 0 1 1.74.92 2.37 2.37 0 0 1-.3 3.18l-5.75 7a.92.92 0 0 0-.18.75l3.27 16.7a1 1 0 0 1-.22.79l-.18.13a.85.85 0 0 1-.74.26.93.93 0 0 1-.65-.48L44 41.54a.93.93 0 0 0-.62-.43.9.9 0 0 0-.74.22l-7.4 6.79a.9.9 0 0 0-.27.79l1 5.88a1 1 0 0 1-.26.83.94.94 0 0 1-.83.26.86.86 0 0 1-.7-.52l-3.05-6.1a.82.82 0 0 0-.39-.39l-6.32-3a.84.84 0 0 1-.48-.65.89.89 0 0 1 .26-.79l.22-.21a.84.84 0 0 1 .68-.22h.13l5.93 1a.66.66 0 0 0 .78-.22"
                                              fill-rule="evenodd" fill="url(#plots-gradient)" class="plots-icon-path"/>
                                    </svg>
                                    <div class="b-tooltip">
                                        Аэропорт
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="l-home-plots__content">
                        <div class="l-home-plots__title">
                            <a href="#" class="b-link-line">
                                Площадка «Новоорловская»
                            </a>
                        </div>
                        <div class="l-home-plots__desc">
                            <div class="l-home-plots__desc-item">
                                <p>
                                    <strong>163,33 га</strong> <span>общая площадь</span>
                                </p>
                            </div>
                            <div class="l-home-plots__desc-item">
                                <p>
                                    <strong>20 км</strong> <span>от центра</span>
                                </p>
                            </div>
                            <div class="l-home-plots__desc-item">
                                <p>
                                    <strong>Приморский район</strong> <span>север Петербурга</span>
                                </p>
                            </div>
                        </div>
                        <div class="l-home-plots__text">
                            <p>
                                Развитая транспортная инфраструктура. Менее 10&nbsp;минут до&nbsp;выезда на&nbsp;КАД.
                                30&nbsp;минут до&nbsp;центра города на&nbsp;автотранспорте.&nbsp;20&nbsp;минут
                                до&nbsp;метро на&nbsp;автотранспорте.
                            </p>
                        </div>
                        <div class="l-home-plots__link">
                            <a href="#" class="b-link-line">
                                Узнать больше
                            </a>
                        </div>
                    </div>
                </div>

                <div class="l-home-plots__item">

                    <div class="l-home-plots__map l-home-plots__map-neudorf">
                        <div class="l-home-plots__all-map-images">
                            <div class="l-home-plots__all-map-icon-wrap">
                                <a href="#" class="l-home-plots__all-map-build l-home-plots__all-map-build-one">
                            <span class="b-tooltip">
                                Новоорловская
                            </span>
                                </a>
                                <a href="#" class="l-home-plots__all-map-build l-home-plots__all-map-build-two">
                            <span class="b-tooltip">
                                Нойдорф
                            </span>
                                </a>
                                <div class="l-home-plots__all-map-icon icon-port">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                         viewBox="0 0 80 80" class="plots-icon">
                                        <circle cx="40" cy="40" r="39.5" fill="url(#plots-gradient)"  class="plots-icon-circle"/>
                                        <path d="M53.1 46.11l-2-7a.14.14 0 0 0-.09-.08.15.15 0 0 0-.13 0l-5 5.2a.16.16 0 0 0-.05.15.14.14 0 0 0 .1.11l1.93.48a8.3 8.3 0 0 1-6.23 7.21V32.8a4.41 4.41 0 1 0-3.2 0v19.46a8.3 8.3 0 0 1-6.23-7.21l1.92-.48a.14.14 0 0 0 .11-.11.16.16 0 0 0-.05-.15l-5-5.2a.15.15 0 0 0-.13 0 .14.14 0 0 0-.09.08l-2 7a.12.12 0 0 0 0 .15.12.12 0 0 0 .15.05l2-.48a11.47 11.47 0 0 0 10.64 9.86h.64A11.47 11.47 0 0 0 51 45.83l2 .48a.12.12 0 0 0 .15-.05.12.12 0 0 0 0-.15M40 27.08a1.62 1.62 0 1 1-1.61 1.62A1.62 1.62 0 0 1 40 27.08"
                                              fill-rule="evenodd" fill="url(#plots-gradient)" class="plots-icon-path"/>
                                    </svg>
                                    <div class="b-tooltip">
                                        Порт
                                    </div>
                                </div>

                                <div class="l-home-plots__all-map-icon icon-rialway-station icon-rialway-station-one">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                         viewBox="0 0 80 80" class="plots-icon">
                                        <circle cx="40" cy="40" r="39.5" fill="url(#plots-gradient)"  class="plots-icon-circle"/>
                                        <path d="M40.07,24.19a25.33,25.33,0,0,0-8.42,1.5l-.07,0-.07,0h0a5.32,5.32,0,0,0-1.64.84,2.4,2.4,0,0,0-.95,1.86V47.92a2.86,2.86,0,0,0,2.91,2.77h1.11l-3.85,3.9c-.54.54-.08,1.22.61,1.22H50.33a.73.73,0,0,0,.56-1.29L47,50.69h1.23a2.86,2.86,0,0,0,2.91-2.77V28.44a2.38,2.38,0,0,0-1-1.85,6.26,6.26,0,0,0-1.7-.88,23.52,23.52,0,0,0-8.37-1.52Zm-9.72,14.6h8.82v-7.2H30.35Zm10.26,0h9v-7.2h-9Zm-6.38,4.09A2.16,2.16,0,1,1,32.07,45,2.17,2.17,0,0,1,34.23,42.88Zm11.51,0a2.16,2.16,0,1,1-2.15,2.16A2.17,2.17,0,0,1,45.74,42.89ZM35,50.69h9.92l1.07,1h-12Zm-2.44,2.47H47.43l1.25,1.22H31.32Z"
                                              fill-rule="evenodd" fill="url(#plots-gradient)" class="plots-icon-path"/>
                                    </svg>
                                    <div class="b-tooltip">
                                        Вокзал
                                    </div>
                                </div>

                                <div class="l-home-plots__all-map-icon icon-center-city">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                         viewBox="0 0 80 80" class="plots-icon">
                                        <circle cx="40" cy="40" r="39.5" fill="url(#plots-gradient)"  class="plots-icon-circle"/>
                                        <path d="M40 20c-8.73 0-15.81 6.67-15.81 14.91C24.19 47.75 40 62.24 40 62.24s15.81-15.32 15.81-27.33C55.81 26.67 48.73 20 40 20m-.1 23.4a7.5 7.5 0 1 1 7.5-7.5 7.5 7.5 0 0 1-7.5 7.5"
                                              fill-rule="evenodd" fill="url(#plots-gradient)" class="plots-icon-path"/>
                                    </svg>
                                    <div class="b-tooltip">
                                        Центр&nbsp;города
                                    </div>
                                </div>

                                <div class="l-home-plots__all-map-icon icon-rialway-station icon-rialway-station-two">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                         viewBox="0 0 80 80" class="plots-icon">
                                        <circle cx="40" cy="40" r="39.5" fill="url(#plots-gradient)"  class="plots-icon-circle"/>
                                        <path d="M40.07,24.19a25.33,25.33,0,0,0-8.42,1.5l-.07,0-.07,0h0a5.32,5.32,0,0,0-1.64.84,2.4,2.4,0,0,0-.95,1.86V47.92a2.86,2.86,0,0,0,2.91,2.77h1.11l-3.85,3.9c-.54.54-.08,1.22.61,1.22H50.33a.73.73,0,0,0,.56-1.29L47,50.69h1.23a2.86,2.86,0,0,0,2.91-2.77V28.44a2.38,2.38,0,0,0-1-1.85,6.26,6.26,0,0,0-1.7-.88,23.52,23.52,0,0,0-8.37-1.52Zm-9.72,14.6h8.82v-7.2H30.35Zm10.26,0h9v-7.2h-9Zm-6.38,4.09A2.16,2.16,0,1,1,32.07,45,2.17,2.17,0,0,1,34.23,42.88Zm11.51,0a2.16,2.16,0,1,1-2.15,2.16A2.17,2.17,0,0,1,45.74,42.89ZM35,50.69h9.92l1.07,1h-12Zm-2.44,2.47H47.43l1.25,1.22H31.32Z"
                                              fill-rule="evenodd" fill="url(#plots-gradient)" class="plots-icon-path"/>
                                    </svg>
                                    <div class="b-tooltip b-tooltip_position_left">
                                        Ладожский вокзал
                                    </div>
                                </div>

                                <div class="l-home-plots__all-map-icon icon-airport">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                         viewBox="0 0 80 80" class="plots-icon">
                                        <circle cx="40" cy="40" r="39.5" fill="url(#plots-gradient)"  class="plots-icon-circle"/>
                                        <path d="M31.94 44.77l6.8-7.41a.86.86 0 0 0-.22-1.36L26.8 29.38a1.1 1.1 0 0 1-.53-.69 1 1 0 0 1 1.14-1.09l16.69 3.27a.9.9 0 0 0 .74-.18l7.06-5.84h.05a2.37 2.37 0 0 1 1.83-.7 2.45 2.45 0 0 1 1.74.92 2.37 2.37 0 0 1-.3 3.18l-5.75 7a.92.92 0 0 0-.18.75l3.27 16.7a1 1 0 0 1-.22.79l-.18.13a.85.85 0 0 1-.74.26.93.93 0 0 1-.65-.48L44 41.54a.93.93 0 0 0-.62-.43.9.9 0 0 0-.74.22l-7.4 6.79a.9.9 0 0 0-.27.79l1 5.88a1 1 0 0 1-.26.83.94.94 0 0 1-.83.26.86.86 0 0 1-.7-.52l-3.05-6.1a.82.82 0 0 0-.39-.39l-6.32-3a.84.84 0 0 1-.48-.65.89.89 0 0 1 .26-.79l.22-.21a.84.84 0 0 1 .68-.22h.13l5.93 1a.66.66 0 0 0 .78-.22"
                                              fill-rule="evenodd" fill="url(#plots-gradient)" class="plots-icon-path"/>
                                    </svg>
                                    <div class="b-tooltip">
                                        Аэропорт
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="l-home-plots__content">
                        <div class="l-home-plots__title">
                            <a href="#" class="b-link-line">
                                Площадка «Нойдорф»
                            </a>
                        </div>
                        <div class="l-home-plots__desc">
                            <div class="l-home-plots__desc-item">
                                <p>
                                    <strong>18,99 га</strong> <span>общая площадь</span>
                                </p>
                            </div>
                            <div class="l-home-plots__desc-item">
                                <p>
                                    <strong>30 км</strong> <span>от центра</span>
                                </p>
                            </div>
                            <div class="l-home-plots__desc-item">
                                <p>
                                    <strong>Стрельна</strong> <span>юго-запад&nbsp;Петербурга</span>
                                </p>
                            </div>
                        </div>
                        <div class="l-home-plots__text">
                            <p>
                                В&nbsp;окружении развитой городской инфраструктуры и&nbsp;культурного наследия. Менее
                                10&nbsp;минут до&nbsp;выезда на&nbsp;КАД. 20&nbsp;минут на&nbsp;автотранспорте до&nbsp;аэропорта.
                            </p>
                        </div>
                        <div class="l-home-plots__link">
                            <a href="#" class="b-link-line">
                                Узнать больше
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="l-home-plots__all-map">
                <div class="l-home-plots__all-map-images">
                    <div class="l-home-plots__all-map-icon-wrap">
                        <a href="#" class="l-home-plots__all-map-build l-home-plots__all-map-build-novoorlovskaya">
                            <span class="b-tooltip">
                                Новоорловская
                            </span>
                        </a>
                        <a href="#" class="l-home-plots__all-map-build l-home-plots__all-map-build-neudorf">
                            <span class="b-tooltip">
                                Нойдорф
                            </span>
                        </a>
                        <div class="l-home-plots__all-map-icon icon-port">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                 viewBox="0 0 80 80" class="plots-icon">
                                <circle cx="40" cy="40" r="39.5" fill="url(#plots-gradient)"  class="plots-icon-circle"/>
                                <path d="M53.1 46.11l-2-7a.14.14 0 0 0-.09-.08.15.15 0 0 0-.13 0l-5 5.2a.16.16 0 0 0-.05.15.14.14 0 0 0 .1.11l1.93.48a8.3 8.3 0 0 1-6.23 7.21V32.8a4.41 4.41 0 1 0-3.2 0v19.46a8.3 8.3 0 0 1-6.23-7.21l1.92-.48a.14.14 0 0 0 .11-.11.16.16 0 0 0-.05-.15l-5-5.2a.15.15 0 0 0-.13 0 .14.14 0 0 0-.09.08l-2 7a.12.12 0 0 0 0 .15.12.12 0 0 0 .15.05l2-.48a11.47 11.47 0 0 0 10.64 9.86h.64A11.47 11.47 0 0 0 51 45.83l2 .48a.12.12 0 0 0 .15-.05.12.12 0 0 0 0-.15M40 27.08a1.62 1.62 0 1 1-1.61 1.62A1.62 1.62 0 0 1 40 27.08"
                                fill-rule="evenodd" fill="url(#plots-gradient)" class="plots-icon-path"/>
                            </svg>
                            <div class="b-tooltip">
                                Порт
                            </div>
                        </div>

                        <div class="l-home-plots__all-map-icon icon-rialway-station icon-rialway-station-one">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                 viewBox="0 0 80 80" class="plots-icon">
                                <circle cx="40" cy="40" r="39.5" fill="url(#plots-gradient)"  class="plots-icon-circle"/>
                                <path d="M40.07,24.19a25.33,25.33,0,0,0-8.42,1.5l-.07,0-.07,0h0a5.32,5.32,0,0,0-1.64.84,2.4,2.4,0,0,0-.95,1.86V47.92a2.86,2.86,0,0,0,2.91,2.77h1.11l-3.85,3.9c-.54.54-.08,1.22.61,1.22H50.33a.73.73,0,0,0,.56-1.29L47,50.69h1.23a2.86,2.86,0,0,0,2.91-2.77V28.44a2.38,2.38,0,0,0-1-1.85,6.26,6.26,0,0,0-1.7-.88,23.52,23.52,0,0,0-8.37-1.52Zm-9.72,14.6h8.82v-7.2H30.35Zm10.26,0h9v-7.2h-9Zm-6.38,4.09A2.16,2.16,0,1,1,32.07,45,2.17,2.17,0,0,1,34.23,42.88Zm11.51,0a2.16,2.16,0,1,1-2.15,2.16A2.17,2.17,0,0,1,45.74,42.89ZM35,50.69h9.92l1.07,1h-12Zm-2.44,2.47H47.43l1.25,1.22H31.32Z"
                                      fill-rule="evenodd" fill="url(#plots-gradient)" class="plots-icon-path"/>
                            </svg>
                            <div class="b-tooltip">
                                Вокзал
                            </div>
                        </div>

                        <div class="l-home-plots__all-map-icon icon-center-city">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                 viewBox="0 0 80 80" class="plots-icon">
                                <circle cx="40" cy="40" r="39.5" fill="url(#plots-gradient)"  class="plots-icon-circle"/>
                                <path d="M40 20c-8.73 0-15.81 6.67-15.81 14.91C24.19 47.75 40 62.24 40 62.24s15.81-15.32 15.81-27.33C55.81 26.67 48.73 20 40 20m-.1 23.4a7.5 7.5 0 1 1 7.5-7.5 7.5 7.5 0 0 1-7.5 7.5"
                                      fill-rule="evenodd" fill="url(#plots-gradient)" class="plots-icon-path"/>
                            </svg>
                            <div class="b-tooltip">
                                Центр&nbsp;города
                            </div>
                        </div>

                        <div class="l-home-plots__all-map-icon icon-rialway-station icon-rialway-station-two">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                 viewBox="0 0 80 80" class="plots-icon">
                                <circle cx="40" cy="40" r="39.5" fill="url(#plots-gradient)"  class="plots-icon-circle"/>
                                <path d="M40.07,24.19a25.33,25.33,0,0,0-8.42,1.5l-.07,0-.07,0h0a5.32,5.32,0,0,0-1.64.84,2.4,2.4,0,0,0-.95,1.86V47.92a2.86,2.86,0,0,0,2.91,2.77h1.11l-3.85,3.9c-.54.54-.08,1.22.61,1.22H50.33a.73.73,0,0,0,.56-1.29L47,50.69h1.23a2.86,2.86,0,0,0,2.91-2.77V28.44a2.38,2.38,0,0,0-1-1.85,6.26,6.26,0,0,0-1.7-.88,23.52,23.52,0,0,0-8.37-1.52Zm-9.72,14.6h8.82v-7.2H30.35Zm10.26,0h9v-7.2h-9Zm-6.38,4.09A2.16,2.16,0,1,1,32.07,45,2.17,2.17,0,0,1,34.23,42.88Zm11.51,0a2.16,2.16,0,1,1-2.15,2.16A2.17,2.17,0,0,1,45.74,42.89ZM35,50.69h9.92l1.07,1h-12Zm-2.44,2.47H47.43l1.25,1.22H31.32Z"
                                      fill-rule="evenodd" fill="url(#plots-gradient)" class="plots-icon-path"/>
                            </svg>
                            <div class="b-tooltip b-tooltip_position_left">
                                Ладожский&nbsp;вокзал
                            </div>
                        </div>

                        <div class="l-home-plots__all-map-icon icon-airport">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                 viewBox="0 0 80 80" class="plots-icon">
                                <circle cx="40" cy="40" r="39.5" fill="url(#plots-gradient)"  class="plots-icon-circle"/>
                                <path d="M31.94 44.77l6.8-7.41a.86.86 0 0 0-.22-1.36L26.8 29.38a1.1 1.1 0 0 1-.53-.69 1 1 0 0 1 1.14-1.09l16.69 3.27a.9.9 0 0 0 .74-.18l7.06-5.84h.05a2.37 2.37 0 0 1 1.83-.7 2.45 2.45 0 0 1 1.74.92 2.37 2.37 0 0 1-.3 3.18l-5.75 7a.92.92 0 0 0-.18.75l3.27 16.7a1 1 0 0 1-.22.79l-.18.13a.85.85 0 0 1-.74.26.93.93 0 0 1-.65-.48L44 41.54a.93.93 0 0 0-.62-.43.9.9 0 0 0-.74.22l-7.4 6.79a.9.9 0 0 0-.27.79l1 5.88a1 1 0 0 1-.26.83.94.94 0 0 1-.83.26.86.86 0 0 1-.7-.52l-3.05-6.1a.82.82 0 0 0-.39-.39l-6.32-3a.84.84 0 0 1-.48-.65.89.89 0 0 1 .26-.79l.22-.21a.84.84 0 0 1 .68-.22h.13l5.93 1a.66.66 0 0 0 .78-.22"
                                      fill-rule="evenodd" fill="url(#plots-gradient)" class="plots-icon-path"/>
                            </svg>
                            <div class="b-tooltip">
                                Аэропорт
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {# Блок партнеры #}

        <div class="l-home-partners l-home__block">
            <h2>Партнеры</h2>

            <div class="b-carousel b-carousel_theme_partners">
                <div class="glide j-partners-carousel">
                    <div class="glide__track b-carousel__track" data-glide-el="track">
                        <ul class="glide__slides">
                            {% include "../components/carousel/carousel-item.twig" with {
                                items: [{
                                    picture: {
                                        source : "/images/home/partner1.png",
                                        alt: "Ассоциация клатеров и технопарков России",
                                    }
                                },{
                                    picture: {
                                        source : "/images/home/partner2.png",
                                        alt: "Санкт&nbsp;-&nbsp;Петербургская торогво-промышленная палата",
                                    }
                                },{
                                    picture: {
                                        source : "/images/home/partner3.png",
                                        alt: "Машиностроительный кластер Республики Татарстан",
                                    }
                                }]
                            }%}
                        </ul>
                    </div>

                    <div class="glide__arrows b-carousel__arrows" data-glide-el="controls">
                        <button class="b-carousel__arrow b-carousel__arrow-left" data-glide-dir="<" type="button"></button>
                        <button class="b-carousel__arrow b-carousel__arrow-right" data-glide-dir="&#62;" type="button"></button>
                    </div>
                    <div class="b-carousel__dots" data-glide-el="controls[nav]">
                        <button class="b-carousel__dot" data-glide-dir="=0" type="button"></button>
                        <button class="b-carousel__dot" data-glide-dir="=1" type="button"></button>
                        <button class="b-carousel__dot" data-glide-dir="=2" type="button"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
