<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Вёрстка</title>
</head>
<body>
<h1>Вёрстка</h1>

<h2>Список свёрстанных страниц</h2>
<ul>
    <li>
        <a href="/pages/home.html">Главная страница</a>
    </li>
    <li>
        <a href="/pages/about.html">О компании</a>
    </li>
    <li>
        <a href="/pages/vacancies.html">Вакансии</a>
    </li>
    <li>
        <a href="/pages/residents.html">Резиденты</a>
    </li>
    <li>
        <a href="/pages/contacts.html">Контакты</a>
    </li>
    <li>
        <a href="/pages/add-request.html">Подать заявку</a>
    </li>
    <li>
        <a href="/pages/login.html">Страница авторизации</a>
    </li>
    <li>
        <a href="/pages/password-recovery.html">Страница восстановления пароля</a>
    </li>
    <li>
        <a href="/pages/password-recovery-step2.html">Страница введите новый пароль</a>
    </li>
    <li>
        <a href="/pages/password-recovery-step3.html">Страница восстановление пароля текст</a>
    </li>
    <li>
        <a href="/pages/password-recovery-step4.html">Страница Пароль сохранен</a>
    </li>
    <li>
        <a href="/pages/profile.html">Страница Профиль - личные данные</a>
    </li>
    <li>
        <a href="/pages/profile-administrators.html">Страница Профиль - администраторы</a>
    </li>
    <li>
        <a href="/pages/profile-document.html">Страница Профиль - документы</a>
    </li>
    <li>
        <a href="/pages/profile-messages.html">Страница Сообщения от ОЭЗ</a>
    </li>
    <li>
        <a href="/pages/profile-message-item.html">Страница карточка сообщения от ОЭЗ</a>
    </li>
    <li>
        <a href="/pages/profile-messages-result.html">Результаты поиска сообщений</a>
    </li>
    <li>
        <a href="/pages/404.html">404</a>
    </li>
    <li>
        <a href="/pages/management-company.html">Управляющая компания</a>
    </li>
    <li>
        <a href="/pages/services.html">Сервисы</a>
    </li>
</ul>
</body>
</html>
