{% extends "./layout/_layout.twig" %}
{% block title %} <title>Инфраструктура — Площадка «Новоорловская»</title> {% endblock %}

{% block content %}
    {# Блок с анимацией #}
    {% include "../components/animation-line/animation-line.twig" %}

    <div class="b-area-main-screen j-area-main-screen">
        <div class="b-area-main-screen__video-wrapper b-area-main-screen__video-wrapper_theme_novoorl">
            <video class="b-area-main-screen__video" width="100%" height="auto" preload="auto" autoplay="autoplay" loop="loop" muted>
                <source src="/video/infra_novoorlov.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
            </video>
        </div>
        {% include '../components/page-submenu/page-submenu.twig' with {
            subitems: [{
                href: '#',
                name: 'Площадка «Новоорловская»',
                active: true
            }, {
                href: '#',
                name: 'Площадка «Нойдорф»'
            }]
        } %}
        <div class="b-area-main-screen__title">
            <h1>Площадка «Новоорловская»</h1>
        </div>
        <div class="b-area-background">
            <div class="b-area-main-features">
                <div class="b-area-main-feature">
                    <div class="b-area-main-feature__value">163,33 га</div>
                    <div class="b-area-main-feature__description">площадь территории</div>
                </div>
                <div class="b-area-main-feature">
                    <div class="b-area-main-feature__value">38</div>
                    <div class="b-area-main-feature__description">резидентов</div>
                </div>
                <div class="b-area-main-feature">
                    <div class="b-area-main-feature__value">43 га</div>
                    <div class="b-area-main-feature__description">свободных </br>участков</div>
                </div>
            </div>
            <div class="b-area-traits">
                <div class="b-area-trait b-area-trait_icon_buy">Выкуп земельного участка за 25% от кадастровой стоимости</div>
                <div class="b-area-trait b-area-trait_icon_engineering">Готовые инженерные сети и коммуникации</div>
                <div class="b-area-trait b-area-trait_icon_location-novoorlov">Удобная локация</div>
                <div class="b-area-trait b-area-trait_icon_road">Дорожная инфраструктура</div>
                <div class="b-area-trait b-area-trait_icon_posts">2 контрольно-пропускных пункта</div>
                <div class="b-area-trait b-area-trait_icon_customs">Таможенный пост</div>
                <div class="b-area-trait b-area-trait_icon_gas">Газовая котельная</div>
                <div class="b-area-trait b-area-trait_icon_office">Административно-деловой центр</div>
            </div>
            <section class="b-area-rent">
                {% include "../components/animation-line/animation-line.twig" %}
                <div class="b-area-rent__title"><h2>Преференции по аренде земельного участка</h2></div>
                <div class="b-area-rent__list">
                    <div class="b-area-rent__item">Понижающий коэффициент на аренду <strong>в течение 5 лет</strong> с момента получения статуса резидента</div>
                    <div class="b-area-rent__item">Максимальный размер арендной платы за земельные участки — <strong>2% от кадастровой стоимости</strong> в год</div>
                </div>
            </section>
            <div class="b-area-map">
                <div class="b-area-map__title">
                    <h2>Расположение</h2>
                </div>
                <div class="b-area-map__content">
                    <div class="b-infrastructure-map__yandex-map b-yandex-map b-yandex-map_theme_novoorlov j-yandex-map-noidorf" data-json="eyJjZW50ZXIiOls2MC4wNTYwNDcsMzAuMjcwNzE5XSwic2Nyb2xsd2hlZWwiOmZhbHNlLCJmdWxsU2NyZWVuQ29udHJvbCI6ZmFsc2UsImN1c3RvbVpvb21Db250cm9sIjp0cnVlLCJodG1sTWFya2VycyI6W3sidGl0bGUiOiJcdTA0MWRcdTA0M2VcdTA0MzJcdTA0M2VcdTA0M2VcdTA0NDBcdTA0M2JcdTA0M2VcdTA0MzJcdTA0NDFcdTA0M2FcdTA0MzBcdTA0NGYiLCJsYXlvdXQiOiJzZWNvbmRhcnkiLCJjb29yZHMiOls2MC4wNTM0MDAsIDMwLjIzMTcxNF19XSwibWFya2VycyI6W10sInJvdXRlcyI6W3sicG9pbnRzIjpbWzYwLjA1MzQwMCwzMC4yMzE3MTRdLFs2MC4wNzIzNDgsMzAuMTgzNjc4XV0sImZpbmlzaE1hcmtlciI6eyJ0aXRsZSI6Ilx1MDAzMVx1MDAzMCBcdTA0M2NcdTA0MzhcdTA0M2RcdTA0NDNcdTA0NDIgXHUwNDNlXHUwNDQyIFx1MDQxYVx1MDQxMFx1MDQxNCIsInRoZW1lIjoidmlvbGV0In0sImFjdGl2ZVN0cm9rZVdpZHRoIjo2LCJhY3RpdmVTdHJva2VDb2xvciI6InJnYmEoNDgsNjQsMTU0LDAuNDgpIn0seyJwb2ludHMiOltbNjAuMDUzNDAwLDMwLjIzMTcxNF0sWzYwLjAzNTg1NiwzMC4zMTkzNTJdLFs1OS45NTQ5OTQsMzAuMzUwNDMwXV0sInZpYVBvaW50Ijp7InRpdGxlIjoiXHUwMDMyXHUwMDMwIFx1MDQzY1x1MDQzOFx1MDQzZFx1MDQ0M1x1MDQ0MiBcdTA0MzRcdTA0M2UgXHUwNDQ2XHUwNDM1XHUwNDNkXHUwNDQyXHUwNDQwXHUwNDMwIiwidGhlbWUiOiJwaW5rIn0sImFjdGl2ZVN0cm9rZVdpZHRoIjo2LCJhY3RpdmVTdHJva2VDb2xvciI6InJnYmEoMTAyLDQ1LDE0NSwwLjQ4KSJ9XX0=">
                        <div id="first" class="b-yandex-map__base"></div>
                    </div>
                </div>
                <div class="b-area-map__description">
                    <ul class="b-area-map__description-list">
                        <li class="b-area-map__description-item">Земельные участки в административных границах Санкт-Петербурга</li>
                        <li class="b-area-map__description-item">Окружена зеленой зоной лесопарка «Новоорловский»</li>
                        <li class="b-area-map__description-item">Жилой инвестиционно-привлекательный район</li>
                        <li class="b-area-map__description-item">Удобная транспортная инфраструктура</li>
                    </ul>
                    <div class="b-area-map__address">198096, Россия, Санкт-Петербург, Дорога в Каменку, д.74</div>
                </div>
            </div>
            <div class="b-area-plan">
                <div class="b-area-plan__title"><h2>Планировка территории</h2></div>
                <div class="b-visual b-visual_theme_points" data-area="novoorlovskaya">
                    <svg class="b-visual__svg" width="100%" height="100%" viewBox="0 0 1920 1080">
                        <image
                                class="b-visual__image"
                                x="0"
                                y="0"
                                width="1920"
                                height="1080"
                                preserveAspectRatio="none"
                                xlink:href="/images/infrastructure/map-novoorlovsk.svg"
                                style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></image>
                        <g class="b-visual__masks">
                            <path d="M934.87,280.94l-131.6-12.85L809.76,250l4.18,1.52,5.13-3.94-2.21-1.39,12.93-12,6-22.28,99.09,14.29Z"  fill="#cacee5" stroke="#30409a" stroke-miterlimit="10" stroke-width="2"/>
                            <path d="M936.2,300.9,802.08,311.54l-.88-2.44-10.66.94,12.73-42,131.6,12.85Z" fill="#cacee5" stroke="#30409a" stroke-miterlimit="10" stroke-width="2"/>
                            <path d="M937.09,333l-139,12.64-6.43-26.38L803.27,318l-1.19-6.43L936.2,300.9Z" fill="#cacee5" stroke="#30409a" stroke-miterlimit="10" stroke-width="2"/>
                            <path d="M936.2,383.59,809.84,394.23l-11.75-48.55,139-12.64Z" fill="#cacee5" stroke="#30409a" stroke-miterlimit="10" stroke-width="2"/>
                            <path d="M937.09,444.78l-112.62,9.08-6.21-27.79h3.11L820,419.5l-4.22.35-6-25.62L936.2,383.59Z" fill="#cacee5" stroke="#30409a" stroke-miterlimit="10" stroke-width="2"/>
                            <path d="M937.09,477.59l-101.14,8-1.28-4.27-3.7.46-6.5-27.95,112.62-9.08Z" fill="#cacee5" stroke="#30409a" stroke-miterlimit="10" stroke-width="2"/>
                            <path d="M938.6,518.61l-96.41,8.52-9.76-38.65,4.24-.47-.72-2.39,101.14-8Z" fill="#cacee5" stroke="#30409a" stroke-miterlimit="10" stroke-width="2"/>
                            <path d="M884.16,523.43,880,557.23l-31.59-3.66-6.23-26.44Z" fill="#cacee5" stroke="#30409a" stroke-miterlimit="10" stroke-width="2"/>
                            <path d="M986.62,522.82l15.07,1.34-18.48,44.32-10.87-1.55-.93,2.48-40.69-5,17.13-41Z" fill="#cacee5" stroke="#30409a" stroke-miterlimit="10" stroke-width="2"/>
                            <path class="is-empty" d="M1214.72,545.15c-.49-.06-24.12,60.13-24.12,60.13l-58-7.51,1.43-2.36-10.31-3.21-1.62,2.89-43-10.76-19.43-2,19.43-51.29Z" fill="#cacee5" stroke="#30409a" stroke-miterlimit="10" stroke-width="2"/>
                            <path class="is-empty" d="M1336.76,557.84c-.48-.05-17.46,60.41-18,60.74s-128.2-13.3-128.2-13.3l24.12-60.13Z" fill="#cacee5" stroke="#30409a" stroke-miterlimit="10" stroke-width="2"/>
                            <path class="is-empty" d="M1355.21,485.4l-17,66.56-192.47-20-68.57-7.09-90.17-8H961.65l106.24-53.7,69.34,6.82v-2.5l136.84,10.31-2,4.66,12.47,1.49,2.5-4.82Z" fill="#cacee5" stroke="#30409a" stroke-miterlimit="10" stroke-width="2"/>
                            <path d="M1440.84,492.55l-.33,4.49,12.8,1v-4.16l108.91,9.48.66,4.32,46.06,2.5,50.71,46.38L1648,584.2l-293.77-30.57L1372,486.56Z" fill="#cacee5" stroke="#30409a" stroke-miterlimit="10" stroke-width="2"/>
                            <path d="M1585.49,488.23c-.49-.17-140.83-12.47-140.83-12.47v-3.33l-28.26-1.66v2.83l-210.17-18.13v-3L1179,450.32V453l-84-6.82L1098.49,306l173.92,14.3-.17,3.66,27.6,1.83v-3.32l99.76,9.64,9.81-4Z" fill="#cacee5" stroke="#30409a" stroke-miterlimit="10" stroke-width="2"/>
                            <path d="M1312.81,302.5l-4.16,3.49-18.45-1.66-.17-3.16-13-1-.5,2.66L1195.09,296l.83-2.83L1183.78,292l-.83,3.16-83.13-7,.5-9.81-8.32-.16,3-51.05,231.94,25.44,51.71,47.22Z" fill="#cacee5" stroke="#30409a" stroke-miterlimit="10" stroke-width="2"/>
                            <path d="M1070.06,230.18l-2.5,49.54-3.49-.33-.5,7.48,4,.67-1.83,35.75h-3.82l-.17,6.65,4,.66-3,80.95h-4.22v8.84h3.39L1059.75,456s-116.32,55.22-116.32,55.54S940,215.75,940,215.75Z" fill="#cacee5" stroke="#30409a" stroke-miterlimit="10" stroke-width="2"/>
                            <path d="M1143.89,618.59l-1.73,3.76v27.8l-3.63,2.45-32.24,33.91-4.73,2.34-57.21-2.06-5.87.52s36.51-84,37.17-84.47Z" fill="#cacee5" stroke="#30409a" stroke-miterlimit="10" stroke-width="2"/>
                            <path d="M998.74,727.08S863.29,574,864.39,574.69s211.26,28.15,211.26,28.15l-37.17,84.47-7.72,3.22s-6.32,4.76-6.54,5.42S998.74,727.08,998.74,727.08Z" fill="#cacee5" stroke="#30409a" stroke-miterlimit="10" stroke-width="2"/>
                            <path d="M1262.76,632.11,1249.7,679.5l-103.35-30-4.19.69v-27.8l16.27,1.11.92-3.27Z" fill="#cacee5" stroke="#30409a" stroke-miterlimit="10" stroke-width="2"/>
                            <path d="M1321.51,645.84l-13.06,45.33-32.77-4-26-7.63,13.06-47.39,19.31,2.56-2.24,4.31Z" fill="#cacee5" stroke="#30409a" stroke-miterlimit="10" stroke-width="2"/>
                            <path d="M1363.83,563.6l-.47,1.72,11.06,1.32.86-1.26,281.88,29.26-14.59,37.56-134.39,69.59-5.65.66-67.1-16.77-6.88-.37-6.46,3.19L1409,698.87l-9,3.52-87.34-10.7s38.1-128.09,38.76-128.09Z" fill="#cacee5" stroke="#30409a" stroke-miterlimit="10" stroke-width="2"/>
                            <path d="M1090.51,935.83l-17.43,24L1012,924.13l54.79-31.75Z" fill="#cacee5" stroke="#30409a" stroke-miterlimit="10" stroke-width="2"/>
                            <path d="M1023.2,849.31l-2.53,1.17,6.43,5.54,2.44-1.11,31.92,27.93,5.33,9.54L1012,924.13l-70-42.27L909.88,844.6c-.28-.33,80.64-24.94,80.64-24.94Z" fill="#cacee5" stroke="#30409a" stroke-miterlimit="10" stroke-width="2"/>
                            <path d="M975,739.41l3.77,3.32,8,25.94L964.36,803l-69.17,18-39-45Z" fill="#cacee5" stroke="#30409a" stroke-miterlimit="10" stroke-width="2"/>
                            <path d="M856.18,776,828,748.05l-7.54-12.63L939.75,700,975,739.41Z" fill="#cacee5" stroke="#30409a" stroke-miterlimit="10" stroke-width="2"/>
                            <path d="M897.74,653.17l42,46.78L820.48,735.42l-14-19.51-15.08-30.82Z" fill="#cacee5" stroke="#30409a" stroke-miterlimit="10" stroke-width="2"/>
                            <path d="M766.83,639.2c1.11-.22,93.34-27.71,93.34-27.71l37.57,41.68-106.3,31.92Z" fill="#cacee5" stroke="#30409a" stroke-miterlimit="10" stroke-width="2"/>
                            <path d="M750,606.17c.67,0,84-25,84-25l26.16,30.37L766.83,639.2Z" fill="#cacee5" stroke="#30409a" stroke-miterlimit="10" stroke-width="2"/>
                            <path d="M779.47,557.23s35.69-3.16,36.36-4,2.66,11.68,2.66,11.68L834,581.12l-84,25L729.15,566Z" fill="#cacee5" stroke="#30409a" stroke-miterlimit="10" stroke-width="2"/>
                            <path d="M787.21,438.43l-3.31.58,1.78,5.77,3.77-.23,15.63,67.6-4.33-.64,3.33,11.31h4.65l3.55,21.63-52.1,5.44-35.91,7.34L692,492.49l14.78-6.16c1.13-.47-21.38-35.5-21.38-35.5l-15.23,1.27-13.32-28.39L781.58,414Z" fill="#cacee5" stroke="#30409a" stroke-miterlimit="10" stroke-width="2"/>
                            <path d="M626.06,299.34l.23-2.11,115.49,16.52,3.77,17.3,15.74-1.33,3.09,10.07-3.31.35,1.33,6.42L766,346,781.58,414l-124.71,9.75-60.3-115.94,5.68-12.19Z" fill="#cacee5" stroke="#30409a" stroke-miterlimit="10" stroke-width="2"/>
                            <path d="M766.17,200.69l-4.88,12.42,12,30.9-2.44,4.16L659.53,231.73l28.6-43.13Z" fill="#cacee5" stroke="#30409a" stroke-miterlimit="10" stroke-width="2"/>
                            <path d="M621.85,278.19l31-47.35,117.94,17.33L769.77,250l6.94,1L760.4,297.79Z" fill="#cacee5" stroke="#30409a" stroke-miterlimit="10" stroke-width="2"/>
                            <path d="M444.93,272.52l92.67,14-39.24,33.69-82.69,29.05-4-3.77Z" fill="#cacee5" stroke="#30409a" stroke-miterlimit="10" stroke-width="2"/>
                            <path d="M411.68,345.46l4,3.77L299.08,389l-34.14-5.28,24.74-55.08Z" fill="#cacee5" stroke="#30409a" stroke-miterlimit="10" stroke-width="2"/>
                            <path d="M269.57,329.94c-.66,0-21.92,51.08-21.92,51.08L147.4,365.53l20.7-38.87h6.37l5.1-10.47Z" fill="#cacee5" stroke="#30409a" stroke-miterlimit="10" stroke-width="2"/>
                            <path d="M299.5,252.57c-.44.66-17.29,40.12-17.29,40.12l-10.42-1.33-3.32,10.2,8.64,2-3.32,7.31L187,297.57,214.21,239Z" fill="#cacee5" stroke="#30409a" stroke-miterlimit="10" stroke-width="2"/>
                            <path d="M1079.18,531.05c-.78-.07-19.43,51.29-19.43,51.29l-77.4-11.84,19.34-46.34Z" fill="#cacee5" stroke="#30409a" stroke-miterlimit="10" stroke-width="2"/>
                        </g>
                    </svg>
                </div>
            </div>
            <div class="b-area-planoplan">
                <iframe src="https://widget.planoplan.com/eb7000978bd630361458292a84f3b2fc" frameborder="0"></iframe>
            </div>
            <section class="b-area-descr">
                <div class="b-area-descr__title">
                    <h2>Инженерная инфраструктура</h2>
                </div>
                <div class="b-area-descr__img">
                    <img src="/images/infrastructure/novoorl-engine.png" alt="Фото линии электропередач">
                </div>
                <div class="b-area-descr__block">
                    <div class="b-area-descr__text b-area-descr__text_with_marker">
                        <p>Подготовленная инженерная инфраструктура обеспечивает компаниям-резидентам возможность технологического присоединения к инженерным сетям. Точки для подключения к инженерным сетям находятся вблизи границ участка резидента.</p>
                        <div class="b-area-descr__main-feature">
                            <h3 class="b-area-descr__main-feature-title">30% экономия инвестиций</h3>
                            <div class="b-area-descr__main-feature-text">в создание научно-производственной базы</div>
                        </div>
                    </div>
                </div>
                <ul class="b-area-descr__icons-list b-area-engine-list">
                    <li class="b-area-engine-item b-area-engine-item_icon_electricity">
                        <h4 class="b-area-engine-item__title">Электроснабжение</h4>
                        <div class="b-area-engine-item__text">
                            <p>ПС-94 «Стенд» (ПС-110/10 кВ), присоединенная мощность 35,816 МВА.</p>
                            <p>На территории площадки построена система электроснабжения в объеме 4 РТП, 20 ТП мощностью 2(4)х1250 кВА и КЛ 10/0,4кВ.</p>
                            <p>Категория надежности электроснабжения II.</p>
                            <p>Ведется работа по увеличению присоединяемой мощности на 10МВА, по существующим кабельным линиям.</p>
                        </div>
                    </li>
                    <li class="b-area-engine-item b-area-engine-item_icon_heating">
                        <h4 class="b-area-engine-item__title">Теплоснабжение</h4>
                        <div class="b-area-engine-item__text">
                            <p>Теплоноситель поставляется напрямую от Коломяжской котельной, разрешенный объем 69,2 Гкал (поставщик – ГУП «ТЭК СПб»).</p>
                        </div>
                    </li>
                    <li class="b-area-engine-item b-area-engine-item_icon_water">
                        <h4 class="b-area-engine-item__title">Водоснабжение</h4>
                        <div class="b-area-engine-item__text">
                            <p>Водоснабжение обеспечивает ГУП «Водоканал Санкт-Петербурга». 2550 м³ в сутки</p>
                        </div>
                    </li>
                    <li class="b-area-engine-item b-area-engine-item_icon_sanitation">
                        <h4 class="b-area-engine-item__title">Канализация</h4>
                        <div class="b-area-engine-item__text">
                            <p>Предусмотрены хозяйственно-бытовая и ливневая канализации.</p>
                        </div>
                    </li>
                    <li class="b-area-engine-item b-area-engine-item_icon_network">
                        <h4 class="b-area-engine-item__title">Сети связи</h4>
                        <div class="b-area-engine-item__text">
                            <p>Система кабельной канализации между узлами связи операторов и объектами резидентов общей протяжённостью более 15 км.</p>
                        </div>
                    </li>
                    <li class="b-area-engine-item b-area-engine-item_icon_security">
                        <h4 class="b-area-engine-item__title">Комплексная безопасность</h4>
                        <div class="b-area-engine-item__text">
                            <p>Режим свободной таможенной зоны, а также требования безопасности промышленных объектов, размещенных на территории ОЭЗ, круглосуточно обеспечиваются техническими средствами интегрированной системы безопасности на обеих площадках.</p>
                        </div>
                    </li>
                </ul>
            </section>
            <section class="b-area-descr b-area-descr_theme_grey">
                {% include "../components/animation-line/animation-line.twig" %}
                <div class="b-area-descr__title">
                    <h2>Таможенный пост</h2>
                </div>
                <div class="b-area-descr__img">
                    <img src="/images/infrastructure/novoorl_customs.png" alt="Таможенный пост">
                </div>
                <div class="b-area-descr__block">
                    <div class="b-area-descr__text">
                        <p>На территории ОЭЗ «Санкт-Петербург» применяется таможенная процедура «свободная таможенная зона», позволяющая на льготных условиях ввозить оборудование и компоненты для резидентов ОЭЗ.</p>
                    </div>
                    <h3 class="b-area-descr__subtitle">На площадке «Нойдорф» действует Петродворцовый таможенный пост</h3>
                    <ul class="b-area-descr__list">
                        <li class="b-area-descr__item">2 автомобильных контрольно-пропускных пункта</li>
                        <li class="b-area-descr__item">1 зона таможенного контроля</li>
                        <li class="b-area-descr__item">Стоянка на 6 большегрузных автомобилей</li>
                        <li class="b-area-descr__item">Досмотровая площадка с навесом</li>
                        <li class="b-area-descr__item">Автомобильные весы с установкой радиационного контроля «Янтарь»</li>
                    </ul>
                    <h3 class="b-area-descr__subtitle">Преимущества импорта для резидентов ОЭЗ:</h3>
                    <ul class="b-area-descr__big-list">
                        <li class="b-area-descr__big-item"><strong>Отсрочка выплаты</strong> таможенных пошлин</li>
                        <li class="b-area-descr__big-item"><strong>Отсутствие затрат</strong> на склад временного хранения</li>
                        <li class="b-area-descr__big-item"><strong>Выплата пошлины</strong> происходит либо целиком за окончательный продукт, либо только за его иностранные компоненты</li>
                        <li class="b-area-descr__big-item"><strong>Собственный таможенный пост</strong></li>
                    </ul>
                    <h3 class="b-area-descr__subtitle">Преимущества экспорта для резидентов ОЭЗ:</h3>
                    <div>Возможность бесплатного использования рабочей силы, территории и ресурсов РФ</div>
                </div>
            </section>
            <section class="b-area-centre">
                <div class="b-area-centre__title">
                    <h2>ЦТТ «Новоорловский»</h2>
                </div>
                {% include '../components/glide-carousel/glide-carousel.twig' with {
                    modify: "j-area-slider",
                    slides: [
                        {
                            img: "/images/infrastructure/novoorl-slide-1.jpg",
                            text: "Здание административно-делового центра. Главный вход."
                        },
                        {
                            img: "/images/infrastructure/novoorl-slide-1.jpg",
                            text: "Здание административно-делового центра. Главный вход."
                        }
                    ],
                    arrow: true,
                    dots: true
                } %}
                <ul class="b-area-centre__list">
                    <li class="b-area-centre__item">
                        <div class="b-area-centre__item-title">B+</div>
                        <div class="b-area-centre__item-text">Класс</div>
                    </li>
                    <li class="b-area-centre__item">
                        <div class="b-area-centre__item-title">9 этажей</div>
                        <div class="b-area-centre__item-text">Этажность</div>
                    </li>
                    <li class="b-area-centre__item">
                        <div class="b-area-centre__item-title">15 601 м²</div>
                        <div class="b-area-centre__item-text">Общая площадь</div>
                    </li>
                    <li class="b-area-centre__item">
                        <div class="b-area-centre__item-title">по запросу</div>
                        <div class="b-area-centre__item-text">Свободная площадь</div>
                    </li>
                    <li class="b-area-centre__item">
                        <div class="b-area-centre__item-title">170 мест</div>
                        <div class="b-area-centre__item-text">Открытая парковка</div>
                    </li>
                    <li class="b-area-centre__item">
                        <div class="b-area-centre__item-title">3 метра</div>
                        <div class="b-area-centre__item-text">Высота потолков</div>
                    </li>
                    <li class="b-area-centre__item">
                        <div class="b-area-centre__item-title">100 Вт/1 м²</div>
                        <div class="b-area-centre__item-text">Энергетическая мощность</div>
                    </li>
                    <li class="b-area-centre__item">
                        <div class="b-area-centre__item-title">300 кг/1 м²</div>
                        <div class="b-area-centre__item-text">Нагрузка на перекрытия</div>
                    </li>
                </ul>
            </section>
            <section class="b-advantages b-advantages_theme_gradient">
                <div class="b-advantages__img">
                    <img src="/images/infrastructure/novoorl_business.png " alt="Помещение бизнес центра">
                </div>
                <div class="b-advantages__block">
                    <div class="b-advantages__title">
                        <h2>В бизнес-центре</h2>
                    </div>
                    <ul class="b-advantages__list">
                        <li class="b-advantages__item">Офисные помещения с отделкой</li>
                        <li class="b-advantages__item">Открытый наземный и подземный паркинг</li>
                        <li class="b-advantages__item">Интернет и телефония</li>
                        <li class="b-advantages__item">Центр обработки данных </li>
                        <li class="b-advantages__item">Кафе и конференц-зал</li>
                        <li class="b-advantages__item">Уборка офисов</li>
                    </ul>
                </div>
            </section>
            <section class="b-advantages">
                <div class="b-advantages__img">
                    <img src="/images/infrastructure/novoorl_comfort.png" alt="Помещение бизнес центра">
                </div>
                <div class="b-advantages__block">
                    <div class="b-advantages__title">
                        <h2>Комфорт и безопасность</h2>
                    </div>
                    <ul class="b-advantages__list">
                        <li class="b-advantages__item">Приточно-вытяжная система вентиляции</li>
                        <li class="b-advantages__item">Централизованная система кондиционирования воздуха</li>
                        <li class="b-advantages__item">Система оповещения пожарной безопасности</li>
                    </ul>
                </div>
            </section>
            <section class="b-advantages b-advantages_theme_gradient">
                <div class="b-advantages__img">
                    <img src="/images/infrastructure/novoorl_security.png " alt="Фото контрольно-пропускного пункта">
                </div>
                <div class="b-advantages__block">
                    <div class="b-advantages__title">
                        <h2>Круглосуточная охрана</h2>
                    </div>
                    <div class="b-advantages__text">
                        <p>В особой экономической зоне действует система контрольно-пропускных пунктов (КПП), предотвращающая свободное проникновение посторонних лиц на территорию. Проезд автотранспорта сторонних организаций и служб доставки осуществляется по предварительному согласованию с диспетчерской службой Управляющей компании. Кроме того, оба входа в бизнес-центр оборудованы системой контроля и управлением доступа в здание.</p>
                    </div>
                    <ul class="b-advantages__list">
                        <li class="b-advantages__item">Видеонаблюдение и Система оповещения пожарной безопасности</li>
                        <li class="b-advantages__item">Система КПП и система контроля доступа</li>
                        <li class="b-advantages__item">Охрана 24 часа</li>
                    </ul>
                </div>
            </section>
        </div>
    </div>
{% endblock %}
