{% extends "./layout/_layout.twig" %}
{% block title %} <title>Заголовок</title> {% endblock %}

{% block content %}
    {# Блок с анимацией #}

    {% include "../components/animation-line/animation-line.twig" %}

    <div class="l-investors">
        <div class="l-investors__top">
            <h1 class="b-title">Инвесторам</h1>

            {% include '../components/investor-info/investor-info.twig' with {
                title: "Особая экономическая зона технико-внедренческого типа",
                img: "/images/investors-info/investors-info-1.png",
                text: "Резиденты ОЭЗ «Санкт-Петербург» должны осуществлять технико-внедренческую деятельность, под которой подразумевается: инновационная деятельность, создание, производство и реализация научно-технической продукции, создание и реализация программ для электронных вычислительных машин, баз данных, топологий интегральных микросхем, информационных систем, а также оказание услуг по их внедрению и обслуживанию.",
                anchors: [
                    {
                        text: "Приоритетные направления",
                        link: "investors-priorities"
                    },{
                        text: "Преимущества локации",
                        link: "investors-advantage"
                    },{
                        text: "Льготы и преференции",
                        link: "investors-privileges"
                    },{
                        text: "Как стать резидентом",
                        link: "investors-resident"
                    },{
                        text: "Документы и презентации",
                        link: "investors-documents"
                    },{
                        text: "Отдел по работе с резидентами",
                        link: "investors-department"
                    }
                ]
            } %}

        </div>

        <div class="l-investors__priorities" id="investors-priorities">

            {% include '../components/priorities-direction/priorities-direction.twig' with {
                title: "Приоритетные направления",
                data: [
                    {
                        img: "./media/priorities-1.svg",
                        caption: "Фармацевтика <br>и биотехнологии",
                        linkText: "18 резидентов"
                    },{
                        img: "./media/priorities-2.svg",
                        caption: "Информационные технологии <br>и телекоммуникации",
                        linkText: "12 резидентов"
                    },{
                        img: "./media/priorities-3.svg",
                        caption: "Приборостроение",
                        linkText: "10 резидентов"
                    },{
                        img: "./media/priorities-4.svg",
                        caption: "Высокотехнологичные <br>производства",
                        linkText: "6 резидентов"
                    },{
                        img: "./media/priorities-5.svg",
                        caption: "Микроэлектроника",
                        linkText: "4 резидентов"
                    }
                ]
            } %}

        </div>

        <div class="l-investors__advantage" id="investors-advantage">

            {% include '../components/advantage-location/advantage-location.twig' %}

        </div>

        <div class="l-investors__privileges" id="investors-privileges">
            {% include '../components/investor-info/investor-info.twig' with {
                modify: "b-investors-info_big_title",
                title: "Льготы и преференции ",
                img: "/images/investors-info/investors-1.png",
                text: "Для резидентов ОЭЗ действует особый режим осуществления предпринимательской деятельности. Резиденты получают доступ к готовой бизнес-инфраструктуре, льготные условия подключения к инженерным сетям, льготные условия аренды, налоговые льготы и таможенные преференции. Что позволяет инвестору существенным образом снижать издержки на запуск нового производства.",
                anchors: [
                    {
                        text: "Налоговые льготы",
                        link: "investors-taxes"
                    },{
                        text: "Пониженные ставки страховых взносов",
                        link: "investors-rate"
                    },{
                        text: "Таможенные преференции",
                        link: "investors-post"
                    },{
                        text: "Льготные условия выкупа земельного участка",
                        link: "investors-conditions"
                    },{
                        text: "Готовая инженерная инфраструктура",
                        link: "investors-infrastructure"
                    },{
                        text: "Стабильность и безопасность",
                        link: "investors-benefits"
                    }
                ]
            } %}
        </div>

        <div class="l-investors__taxes">
            {% include '../components/income-tax/income-tax.twig' %}
        </div>

        <div class="l-investors__rate" id="investors-rate">
            {% include '../components/reduced-rates/reduced-rates.twig' %}
        </div>

        <div class="l-investors__post" id="investors-post">
            {% include '../components/invest-post/invest-post.twig' %}
        </div>

        <div class="l-investors__conditions" id="investors-conditions">
            {% include '../components/invest-conditions/invest-conditions.twig' %}
        </div>

        <div class="l-investors__infrastructure" id="investors-infrastructure">
            {% include '../components/invest-infr/invest-infr.twig' %}
        </div>

        <div class="l-investors__benefits" id="investors-benefits">
            {% include '../components/invest-benefits/invest-benefits.twig' %}
        </div>

        <div class="l-investors__resident" id="investors-resident">
            {% include '../components/invest-resident/invest-resident.twig' %}
        </div>

        <div class="l-investors__documents" id="investors-documents">

            <div class="b-invest-documents">
                <h2 class="b-invest-documents__title">Документы и презентации</h2>

                <div class="b-invest-documents__file">

                    {% include '../components/files-list/files-list.twig' with {
                        modify: "b-files-list_theme_border",
                        files: [
                            {
                                type: "pdf",
                                name: "Презентация компании",
                                size: "5,5 мб",
                                date: "12.12.2018"
                            },
                            {
                                type: "link",
                                name: "Видео о компании",
                                size: "41,2 мб",
                                date: "24.12.2018"
                            }
                        ]
                    } %}

                </div>
            </div>

        </div>

        <div class="l-investors__department" id="investors-department">

            <div class="b-invest-depart">
                <h2 class="b-invest-depart__title">Отдел по работе с резидентами</h2>

                <div class="b-invest-depart__text">Обратитесь за консультацией по процедуре получения статуса резидента ОЭЗ «Санкт-Петербург»</div>

                <div class="b-invest-depart__contacts">

                    {% include '../components/contact-list/contact-list.twig' with {
                        contacts: [
                            {
                                name: "Станислав Гармаш",
                                prof: "Заместитель Генерального директора по работе с инвесторами",
                                phone: "+7 (812) 380-49-29, доб. 5500",
                                mail: "sgarmash@spbsez.ru"
                            },{
                                name: "Андрей Иванов",
                                prof: "Начальник управления по работе с инвесторами",
                                phone: "+7 (812) 380-49-29, доб. 5004",
                                mail: "aivanov@spbsez.ru"
                            },{
                                name: "Полина Ульзутуева",
                                prof: "Начальник управления по работе с инвесторами",
                                phone: "+7 (812) 380-49-29, доб. 5003",
                                mail: "pulzutueva@spbsez.ru"
                            },{
                                name: "Алена Голубева ",
                                prof: "Главный специалист отдела по работе с инвесторами",
                                phone: "+7 (812) 380-49-29, доб. 5512",
                                mail: "agolubeva@spbsez.ru"
                            },{
                                name: "Диана Уличева",
                                prof: "Главный специалист отдела по работе с инвесторами",
                                phone: "+7 (812) 380-49-29, доб. 5007",
                                mail: "dulicheva@spbsez.ru"
                            },
                        ]
                    } %}

                </div>

                <div class="b-invest-depart__button">
                    <a href="#" class="button j-message-button" data-href="#message">Написать сообщение</a>
                </div>
            </div>

        </div>

    </div>
{% endblock %}
