{% extends "./layout/_layout.twig" %}
{% block title %} <title>Восстановление пароля</title> {% endblock %}

{% block content %}
    {% include "../components/lk-login-nav/lk-login-nav.twig" %}

    <div class="l-password-recovery-step4">

        <div class="b-title b-password-recovery-step4-title">
            <h1>Ваш пароль успешно сохранен</h1>
        </div>

        <div class="password-recovery-block">
            <a href="#" class="button password-recovery__button">
                Войти в личный кабинет
            </a>
        </div>

    </div>
{% endblock %}
