{% extends "./layout/_layout.twig" %}
{% block title %} <title>Восстановление пароля</title> {% endblock %}

{% block content %}
    {% include "../components/lk-login-nav/lk-login-nav.twig" %}

    <div class="l-password-recovery">

        <div class="b-title b-password-recovery-title">
            <h1>Восстановление пароля</h1>
        </div>

        <form action="" method="post" enctype="multipart/form-data" class="password-recovery-form">
            <div class="password-recovery-form__desc">
                Укажите электронную почту, на который зарегистрирован ваш аккаунт – мы вышлем ссылку на восстановление пароля.
            </div>
            <div class="b-form-block-wrap password-recovery-form-block-wrap">
                <!--
                         Для вывода ошибки и текста подсказки добавить класс b-form-block-error - на блок с классом b-form-block
                         Для правильно заполненного блока добавить класс b-form-block-success - на блок с классом b-form-block
                         -->
                <div class="b-form-block b-form-block-error">
                    {% include "../components/forms/email/email.twig" with {
                        id: "email",
                        name: "email",
                        required: "true"
                    } %}
                    <label for="email" class="b-form-block__label">
                        Эл. почта
                    </label>
                    <span class="b-form-block__error-text">
                        Данная эл. почта не зарегистрирована
                    </span>
                </div>
            </div>
            <div class="password-recovery-form-block">
                <button type="submit" class="button password-recovery-form__button">
                    Восстановить пароль
                </button>
            </div>
        </form>

    </div>
{% endblock %}
