{% extends "./layout/_layout.twig" %}
{% block title %} <title>Восстановление пароля</title> {% endblock %}

{% block content %}
    {% include "../components/lk-login-nav/lk-login-nav.twig" %}

    <div class="l-new-password">

        <div class="b-title l-new-password-title">
            <h1>Ввод нового пароля</h1>
        </div>

        <form action="" method="post" enctype="multipart/form-data" class="password-recovery-form">
            <div class="b-form-block-wrap password-recovery-form-block-wrap">
                <div class="b-form-block-wrap">
                    <!--
                         Для вывода ошибки и текста подсказки добавить класс b-form-block-error - на блок с классом b-form-block
                         Для правильно заполненного блока добавить класс b-form-block-success - на блок с классом b-form-block
                         -->
                    <div class="b-form-block">
                        {% include "../components/forms/password/password.twig" with {
                            id: "password",
                            name: "password",
                            required: "true"
                        } %}
                        <label for="password" class="b-form-block__label">
                            Новый пароль
                        </label>
                        <span class="b-form-block__error-text">
                            Текст подсказки
                        </span>
                    </div>
                    <div class="b-form-block">
                        {% include "../components/forms/password/password.twig" with {
                            id: "new-password",
                            name: "new-password",
                            required: "true"
                        } %}
                        <label for="new-password" class="b-form-block__label">
                            Повторите пароль
                        </label>
                        <span class="b-form-block__error-text">
                            Текст подсказки
                        </span>
                    </div>
                </div>
            </div>
            <div class="password-recovery-form-block">
                <button type="submit" class="button password-recovery-form__button">
                    Сохранить
                </button>
            </div>
        </form>

    </div>
{% endblock %}
