{% extends "./layout/_layout.twig" %}
{% block title %} <title>Восстановление пароля</title> {% endblock %}

{% block content %}
    {% include "../components/lk-login-nav/lk-login-nav.twig" %}

    <div class="l-password-recovery-step3">

        <div class="b-title b-password-recovery-step3-title">
            <h1>Восстановление пароля</h1>
        </div>

        <div class="b-password-recovery-step3__desc">
            Мы выслали ссылку на восстановление пароля на адрес ivanov.sergey@biocad.ru
        </div>

        <div class="password-recovery-block">
            <a href="#" class="button password-recovery__button">
                Войти в личный кабинет
            </a>
        </div>

    </div>
{% endblock %}
