.l-password-recovery {
    @include padding-level(bottom, pink);
    @include prefix(2, 36);
    @include suffix(2, 36);

    h1 {
        @include font-size("h1-inner");
    }

    @media #{$laptop} {
        @include prefix(3, 36);
        @include suffix(3, 36);
    }

    @media #{$fullhd} {
        @include prefix(4, 36);
        @include suffix(4, 36);
    }
}

.password-recovery-form {
    @media #{$laptop} {
        @include column(18, 30);
    }

    @media #{$fullhd} {
        @include column(18, 28);
    }
}

.password-recovery-form-block-wrap {
    max-width: 480px;
}

.password-recovery-desc {
    @include font-size("p2");
    margin-bottom: 20px;

    @media #{$laptop} {
        margin-bottom: 40px;
    }
}

.password-recovery-desc_is_success {
    margin-bottom: 36px;

    @media #{$laptop} {
        margin-bottom: 64px;
    }
}

.password-recovery-form-block {
    margin-top: 20px;

    @media #{$laptop} {
        margin-top: 40px;
    }
}

.password-recovery-block_is_hidden {
    display: none;
}