{% extends "./layout/_layout.twig" %}
{% block title %} <title>Заголовок</title> {% endblock %}

{% block content %}
    <div class="l-personal-data">
        <div class="l-personal-data__title b-title"><h1>Согласие на обработку персональных данных</h1></div>
        <div class="l-personal-data__content">
            <p>Предоставляя свои персональные данные Пользователь даёт согласие на обработку, хранение и использование своих персональных данных на основании ФЗ № 152-ФЗ  «О персональных данных» от 27.07.2006 г. в  целях, указанных в соответствующих разделах сайта, в т.ч. для обеспечения доступа к размещенным на сайте материалам в системе управления сайтом, для обеспечения доступа на территорию с помощью систем контроля доступа и управления движением, передача третьим лицам: сотрудникам охранного предприятия для проверки прав допуска на территорию или представителям резидентов для принятия решения о приглашении кандидатов на вакантные должности</p>
            <p>Под персональными данными подразумевается любая информация личного характера, позволяющая установить личность Пользователя такая как:</p>
            <ul>
                <li>Фамилия, Имя, Отчество</li>
                <li>Контактный телефон</li>
                <li>Адрес электронной почты</li>
                <li>Государственный номер и марка автомобиля</li>
            </ul>
            <p>Персональные данные Пользователей хранятся исключительно на электронных носителях и обрабатываются с использованием автоматизированных систем, за исключением случаев, когда неавтоматизированная обработка персональных данных необходима в связи с исполнением требований законодательства. Передача персональных данных пользователей третьим лицам осуществляется в соответствии с требованиями действующего законодательства.</p>
            <p>Настоящим Пользователь подтверждает, что в случае предоставления им данных третьих лиц Оператору, Пользователь подтверждает получение им согласия этих лиц на обработку их персональных данных или наличие у Пользователя полномочий на выражение согласия от имени таких лиц.</p>
        </div>
    </div>
{% endblock %}
