{% extends "./layout/_layout.twig" %}
{% block title %} <title>Заголовок</title> {% endblock %}

{% block content %}
    <div class="l-personal-data">
        <div class="l-personal-data__title b-title"><h1>Политика АО «ОЭЗ «Санкт-Петербург» в отношении обработки персональных данных</h1></div>
        <div class="l-personal-data__content">
            <ol class="b-privacy-list">
                <li><h3 class="b-privacy-list__subtitle">Общие положения</h3>
                    <ol class="b-privacy-list__sublist">
                        <li>Настоящая Политика в отношении обработки персональных данных (далее -Политика) определяет политику АО «ОЭЗ «Санкт-Петербург» в отношении обработки и обеспечения безопасности персональных данных. Политика Оператора применяется ко всей информации, которую Оператор может получить о посетителях веб-сайта <i>www.spbsez.ru</i>. Персональные данные обрабатываются в соответствии с ФЗ «О персональных данных» № 152-ФЗ.</li>
                        <li>Политика разработана в соответствии с законодательством Российской Федерации в области персональных данных.</li>
                        <li>Целью настоящей политики является установление основных принципов и подходов к обработке и обеспечению защиты персональных данных в АО «ОЭЗ «Санкт-Петербург», являющемся оператором персональных данных.</li>
                        <li>Действие Политики распространяется на все процессы АО «ОЭЗ «Санкт-Петербург», связанные с обработкой персональных данных.</li>
                        <li>Пересмотр настоящей Политики может осуществляться по усмотрению АО «ОЭЗ «Санкт-Петербург» на плановой и внеплановой основе, а также в случаях изменения законодательства Российской Федерации в области персональных данных.</li>
                        <li>Актуальная редакция Политики размещается на сайте АО «ОЭЗ «Санкт-Петербург» в информационно-телекоммуникационной сети Интернет в общем доступе и вступает в силу с момента размещения.</li>
                    </ol>
                </li>
                <li><h3 class="b-privacy-list__subtitle">Основные понятия, используемые в Политике</h3>
                    <ol>
                        <li>Веб-сайт – совокупность графических и информационных материалов, а также программ для ЭВМ и баз данных, обеспечивающих их доступность в сети интернет по сетевому адресу <i>www.spbsez.ru;</i></li>
                        <li>Пользователь – любой посетитель веб-сайта <i>www.spbsez.ru;</i></li>
                        <li>Персональные данные – любая информация, относящаяся к Пользователю веб-сайта <i>www.spbsez.ru;</i></li>
                        <li>Обработка персональных данных – любое действие с персональными данными, совершаемые с использованием ЭВМ, равно как и без их использования;</li>
                        <li>Обезличивание персональных данных – действия, результатом которых является невозможность без использования дополнительной информации определить принадлежность персональных данных конкретному Пользователю или лицу;</li>
                        <li>Распространение персональных данных – любые действия, результатом которых является раскрытие персональных данных неопределенному кругу лиц;</li>
                        <li>Предоставление персональных данных – любые действия, результатом которых является раскрытие персональных данных определенному кругу лиц;</li>
                        <li>Уничтожение персональных данных – любые действия, результатом которых является безвозвратное уничтожение персональных на ЭВМ или любых других носителях</li>
                    </ol>
                </li>
                <li><h3 class="b-privacy-list__subtitle">Принципы обработки персональных данных</h3>
                    <ol>
                        <li>Обработка персональных данных в АО «ОЭЗ «Санкт-Петербург» осуществляется на законной и справедливой основе.</li>
                        <li>Обработка персональных данных ограничивается достижением конкретных, заранее определенных и законных целей. Не допускается обработка персональных данных, несовместимая с целями сбора персональных данных.</li>
                        <li>Не допускается объединение баз данных, содержащих персональные данные, обработка которых осуществляется в целях, несовместимых между собой.</li>
                        <li>При обработке персональных данных обеспечены точность, достаточность и актуальность персональных данных по отношению к целям обработки, обеспечены меры по удалению или уточнению неполных или неточных данных.</li>
                        <li>Хранение персональных данных осуществляется в форме, позволяющей определить субъекта персональных данных, не дольше, чем этого требуют цели обработки персональных данных, если иной срок не установлен действующим законодательством или договором с субъектом персональных данных. Обрабатываемые персональные данные подлежат уничтожению либо обезличиванию по достижении целей обработки или в случае утраты необходимости в достижении этих целей, если иное не предусмотрено действующим законодательством.</li>
                        <li>При обработке персональных данных АО «ОЭЗ «Санкт-Петербург» обеспечивает их безопасность и конфиденциальность, не раскрывает и не распространяет третьим лицам персональные данные без согласия субъекта персональных данных, если иное не предусмотрено действующим законодательством.</li>
                    </ol>
                </li>
                <li><h3 class="b-privacy-list__subtitle">Цели обработки персональных данных</h3>
                    <ol>
                        <li>Обработка персональных данных в информационных системах АО «ОЭЗ «Санкт-Петербург» осуществляется в целях, определенных регламентами и правилами информационных систем, а также осуществления уставной деятельности АО «ОЭЗ «Санкт-Петербург» и действующим законодательством.</li>
                        <li>Обработка персональных данных осуществляется с целью обеспечения доступа к размещенным на сайте материалам в системе управления сайтом, для обеспечения доступа на территорию с помощью систем контроля доступа и управления движением, передачи третьим лицам: сотрудникам охранного предприятия для проверки прав допуска на территорию или представителям резидентов для принятия решения о приглашении кандидатов на вакантные должности.</li>
                        <li>Также Оператор имеет право направлять Пользователю уведомления о размещении на сайте новой информации и различных событиях/мероприятиях, проводимых АО «ОЭЗ «Санкт-Петербург». Пользователь всегда может отказаться от получения информационных сообщений, направив Оператору письмо на адрес support@spbsez.ru.</li>
                        <li>Обезличенные данные Пользователей, собираемые с помощью сервисов интернет-статистики, служат для сбора информации о действиях Пользователей на сайте, улучшения качества сайта и его содержания.</li>
                    </ol>
                </li>
                <li><h3 class="b-privacy-list__subtitle">Правила обработки персональных данных</h3>
                    <ol>
                        <li>Обработка персональных данных в АО «ОЭЗ «Санкт-Петербург» осуществляется с согласия субъекта персональных данных кроме случаев, установленных действующим законодательством. Оператор обрабатывает персональные данные Пользователя только в случае их отправки Пользователем через формы, расположенные на сайте www.spbsez.ru. Отправляя свои персональные данные Оператору, Пользователь выражает свое согласие с данной Политикой.</li>
                        <li>Предоставляя данные третьих лиц, необходимые для использования веб-сайта, Пользователь подтверждает получение им согласия этих лиц на обработку их персональных данных или наличие у Пользователя полномочий на выражение согласия от имени таких лиц.</li>
                        <li>АО «ОЭЗ «Санкт-Петербург» не собирает и не обрабатывает биометрические персональные данные, а также персональные данные специальных категорий, касающиеся расовой, национальной принадлежности, политических взглядов, религиозных или философских убеждений, состояния здоровья, интимной жизни.</li>
                        <li>АО «ОЭЗ «Санкт-Петербург» не размещает персональные данные в общедоступных источниках без предварительного согласия субъекта персональных данных, если иное не определено действующим законодательством.</li>
                        <li>Обработка персональных данных в АО «ОЭЗ «Санкт-Петербург» может осуществляться как с применением, так и без применения средств автоматизации.</li>
                        <li>Работники АО «ОЭЗ «Санкт-Петербург» имеют доступ к персональным данным субъектов в соответствии с их должностными обязанностями.</li>
                        <li>Передача персональных данных субъектов третьим лицам осуществляется в соответствии с требованиями действующего законодательства.</li>
                        <li>АО «ОЭЗ «Санкт-Петербург» вправе поручить обработку персональных данных третьей стороне с согласия субъекта персональных данных и в иных случаях, предусмотренных действующим законодательством, на основании заключаемого с этой стороной договора. Третья сторона, осуществляющая обработку персональных данных по поручению АО «ОЭЗ «Санкт-Петербург», обязана выполнять требования по обеспечению уровня защищенности персональных данных, установленные действующим законодательством.</li>
                        <li>Срок обработки персональных данных является неограниченным. Пользователь может в любой момент отозвать свое согласие на обработку персональных данных, направив Оператору уведомление с помощью электронной почты на электронный адрес Оператора support@spbsez.ru, с пометкой «Отзыв согласия на обработку персональных данных».</li>
                    </ol>
                </li>
                <li><h3 class="b-privacy-list__subtitle">Реализуемые требования по обеспечению безопасности персональных данных</h3>
                    <ol>
                        <li>Безопасность персональных данных, обрабатываемых в АО «ОЭЗ «Санкт-Петербург», обеспечивается выполнением согласованных мероприятий, направленных на предотвращение, устранение угроз безопасности персональных данных и минимизацию возможного ущерба, а также мероприятий по восстановлению данных и работы информационных систем в случае реализации угроз.</li>
                        <li>АО «ОЭЗ «Санкт-Петербург» принимает необходимые и достаточные правовые, организационные и технические меры или обеспечивает их принятие для защиты персональных данных от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, предоставления, распространения персональных данных, а также от иных неправомерных действий в отношении персональных данных.</li>
                    </ol>
                </li>
                <li><h3 class="b-privacy-list__subtitle">Права субъектов персональных данных</h3>
                    <ol>
                        <li>Субъект персональных данных имеет все права на получение информации, касающейся обработки его персональных данных, установленные действующим законодательством.</li>
                        <li>Субъект персональных данных вправе требовать уточнения его персональных данных, их блокирования или уничтожения в случае, если персональные данные являются неполными, устаревшими, неточными, незаконно полученными или не являются необходимыми для заявленной цели обработки, а также принимать предусмотренные действующим законодательством меры по защите своих прав.</li>
                    </ol>
                </li>
                <li><h3 class="b-privacy-list__subtitle">Информация об операторе персональных данных</h3>
                    <ol>
                        <li>Полное наименование: Акционерное общество «Особая экономическая зона «Санкт-Петербург», сокращенное наименование: АО «ОЭЗ «Санкт-Петербург», ИНН: 7819036901, адрес местонахождения: 198515, г.Санкт-Петербург, поселок Стрельна, ул. Связи, д.34, лит.А, ком.135</li>
                    </ol>
                </li>
            </ol>
        </div>
    </div>
{% endblock %}
