.l-profile-administrators {
    @include prefix(2, 36);
    @include suffix(2, 36);
    @include padding-level(bottom, pink);

    h1 {
        @include font-size("h1-inner");
    }

    @media #{$laptop} {
        @include prefix(3, 36);
        @include suffix(3, 36);
    }

    @media #{$fullhd} {
        @include prefix(4, 36);
        @include suffix(4, 36);
    }
}

.b-empty-page {
    display: none;
    @include font-size("p1");
    @include margin-level(bottom, green);

    &.is-active {
        display: block;
    }

    p {
        font-size: inherit;
    }

    .b-profile-add {
        @include padding-level(top, green);
    }
}

.b-profile-add {
    .b-profile-add__input-file {
        display: none;
    }
}

.b-empty-page_padding_top {
    @include margin-level(top, green);
}

.b-profile-admin-title {
    padding-right: 25px;

    @media #{$tablet-portrait} {
        padding-right: 35px;
    }
}

.b-profile-block__delete {
    @include transition(border);
    position: absolute;
    top: 0;
    right: 0;
    width: 21px;
    height: 21px;
    background-image: url("/images/home/delete-icon.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    background-color: $white;
    border: 1px solid $grey;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
        border-color: $blue;
    }

    @media #{$tablet-portrait} {
        width: 31px;
        height: 31px;
    }
}

.b-select-accordion {
    position: relative;
}

.b-select-accordion__list {
    //display: none;
    position: absolute;
    top: calc(100% + 8px);
    left: -1px;
    z-index: 1;
    width: calc(100% + 2px);
    background-color: $white;
    border: 1px solid $light-grey;
    box-shadow: 0 10px 20px $grey;
    padding: 24px 40px 32px;
}

.b-select-accordion__list-title {
    @include font-size("p1");
    font-weight: 700;
    padding-bottom: 16px;
}

.b-select-accordion__list-item {
    margin-bottom: 13px;
}

.button.b-select-accordion__button {
    min-width: 85px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    padding: 0;
    margin-top: 12px;

    &:after {
        display: none;
    }
}