{% extends "./layout/_layout.twig" %}
{% block title %} <title>Профиль</title> {% endblock %}

{% block content %}
    {% include '../components/lk-nav/lk-nav.twig' %}

    <div class="l-profile">

        <div class="b-title b-add-request-title">
            <h1>Профиль</h1>
        </div>

        {# Блок ссылок #}

        {% embed '../components/accordion-links/accordion-links.twig' with {
            title: 'Личные данные',
            modify: "b-profile__links",
            items: [{
                active: "is-active",
                text: "Личные данные"
            },{
                text: "Документы"
            },{
                text: "Администраторы"
            }]
        } %}
            {% block content %}
                <li class="b-links-mobile-item">
                    <a href="#" class="b-links-mobile-link">
                        Документы
                    </a>
                </li>
                <li class="b-links-mobile-item">
                    <a href="#" class="b-links-mobile-link">
                        Администраторы
                    </a>
                </li>
            {% endblock %}

        {% endembed %}

        <div class="j-profile-info">
            {# Блок администратор #}

            <div class="b-profile-block">
                <div class="b-profile-block__title">
                    <h4>Администратор</h4>
                </div>
                <div class="b-profile-block__input-wrap j-profile-info-administrator">
                    <!--
                     Для вывода ошибки и текста подсказки добавить класс b-form-block-error - на блок с классом b-form-block
                     Для правильно заполненного блока добавить класс b-form-block-success - на блок с классом b-form-block
                     -->

                    <div class="b-form-block">
                        {% include "../components/forms/input-text/input-text.twig" with {
                            id: "profile-name",
                            name: "profile-name"
                        } %}

                        <label for="profile-name" class="b-form-block__label">
                            ФИО
                        </label>
                        <span class="b-form-block__error-text">
                            Текст подсказки
                        </span>
                    </div>

                    <div class="b-form-block">
                        {% include "../components/forms/email/email.twig" with {
                            id: "profile-email",
                            name: "profile-email"
                        } %}

                        <label for="profile-email" class="b-form-block__label">
                            Эл.почта
                        </label>
                        <span class="b-form-block__error-text">
                            Текст подсказки
                        </span>
                    </div>

                    <div class="b-form-block">
                        {% include "../components/forms/telephone/telephone.twig" with {
                            id: "profile-phone",
                            name: "profile-phone"
                        } %}

                        <label for="profile-phone" class="b-form-block__label">
                            Телефон
                        </label>
                        <span class="b-form-block__error-text">
                            Текст подсказки
                        </span>
                    </div>

                    <div class="b-form-block">
                        {% include "../components/forms/input-text/input-text.twig" with {
                            id: "profile-status",
                            name: "profile-status"
                        } %}

                        <label for="profile-status" class="b-form-block__label">
                            Статус
                        </label>
                        <span class="b-form-block__error-text">
                            Текст подсказки
                        </span>
                    </div>

                </div>
            </div>

            {# Блок Компания #}

            <div class="b-profile-block">
                <div class="b-profile-block__title">
                    <h4>Компания</h4>
                </div>
                <div class="b-profile-block__input-wrap j-profile-info-company">

                    <div class="b-form-block">
                        {% include "../components/forms/input-text/input-text.twig" with {
                            id: "company-resident",
                            name: "company-resident"
                        } %}

                        <label for="company-resident" class="b-form-block__label">
                            Резидент
                        </label>
                        <span class="b-form-block__error-text">
                            Текст подсказки
                        </span>
                    </div>

                    <div class="b-form-block">
                        {% include "../components/forms/input-text/input-text.twig" with {
                            id: "company-inn",
                            name: "company-inn"
                        } %}

                        <label for="company-inn" class="b-form-block__label">
                            ИНН
                        </label>
                        <span class="b-form-block__error-text">
                            Текст подсказки
                        </span>
                    </div>

                    <div class="b-form-block">
                        {% include "../components/forms/input-text/input-text.twig" with {
                            id: "company-legal-address",
                            name: "company-legal-address"
                        } %}

                        <label for="company-legal-address" class="b-form-block__label">
                            Юр.адрес
                        </label>
                        <span class="b-form-block__error-text">
                            Текст подсказки
                        </span>
                    </div>

                    <div class="b-form-block">
                        {% include "../components/forms/input-text/input-text.twig" with {
                            id: "company-postal-address",
                            name: "company-postal-address"
                        } %}

                        <label for="company-postal-address" class="b-form-block__label">
                            Почтовый адрес
                        </label>
                        <span class="b-form-block__error-text">
                            Текст подсказки
                        </span>
                    </div>

                    <div class="b-form-block">
                        {% include "../components/forms/telephone/telephone.twig" with {
                            id: "company-phone",
                            name: "company-phone"
                        } %}

                        <label for="company-phone" class="b-form-block__label">
                            Телефон
                        </label>
                        <span class="b-form-block__error-text">
                            Текст подсказки
                        </span>
                    </div>

                    <div class="b-form-block">
                        {% include "../components/forms/telephone/telephone.twig" with {
                            id: "company-fax",
                            name: "company-fax"
                        } %}

                        <label for="company-fax" class="b-form-block__label">
                            Факс
                        </label>
                        <span class="b-form-block__error-text">
                            Текст подсказки
                        </span>
                    </div>

                    <div class="b-form-block">
                        {% include "../components/forms/email/email.twig" with {
                            id: "company-email",
                            name: "company-email"
                        } %}

                        <label for="company-email" class="b-form-block__label">
                            Электронная почта
                        </label>
                        <span class="b-form-block__error-text">
                            Текст подсказки
                        </span>
                    </div>

                    <!--
                        Для добавления полоски вверху блока и инпутом добавить класс b-form-block_theme_grey
                        к классу b-form-block
                    -->
                    <div class="b-form-block b-form-block_theme_grey">
                        {% include "../components/forms/input-text/input-text.twig" with {
                            id: "company-ceo",
                            name: "company-ceo"
                        } %}

                        <label for="company-director" class="b-form-block__label">
                            ФИО генерального директора
                        </label>
                        <span class="b-form-block__error-text">
                            Текст подсказки
                        </span>
                    </div>
                </div>
            </div>

            {# Блок Контактное лицо проекта #}

            <div class="j-profile-info-contacts"></div>

            <div class="b-profile-add">
                <button class="button-add j-add-contact" type="button">Добавить еще</button>
            </div>
        </div>
    </div>
    <div class="l-profile-logout">
        {% include "../components/logout/logout.twig" %}
    </div>
{% endblock %}
