{% extends "./layout/_layout.twig" %}
{% block title %} <title>Сообщение</title> {% endblock %}

{% block content %}
    {% include '../components/lk-nav/lk-nav.twig' %}

    <div class="l-profile-message-item">

        <div class="b-title b-profile-message-item-title">
            <h1>Сообщения от ОЭЗ</h1>
        </div>

        <div class="b-profile-message-item-back">
            <a href="#" class="b-profile-message-item-back__button">
                Назад к сообщениям
            </a>
        </div>

        <div class="b-profile-message-item-block">
            <time datetime="" class="b-profile-message-item-block__date">24.12.208, 13:02</time>
            <h2 class="b-profile-message-item-block__title">
                Презентация Фонда развития промышленности о механизме действия постановления Правительства РФ от 03.01.2014 №3
            </h2>
            <div class="b-profile-message-item-block__desc">
                &laquo;Предоставление субсидий предприятиям на&nbsp;возмещение частизатрат на&nbsp;уплату процентов по&nbsp;кредитам, полученным в&nbsp;2014&nbsp;&mdash; 2019 годах&nbsp;и (или) выплату купонного дохода по&nbsp;облигациям, выпущенным в&nbsp;2017&nbsp;&mdash; 2019 годах в&nbsp;рамках реализации комплексных инвестиционных проектов по&nbsp;приоритетным направлениям гражданской промышленности&raquo;
            </div>
            <div class="b-profile-message-item-block__files">
                <h3 class="b-profile-message-item-block__files-title">Прикрепленные файлы</h3>
                <ul class="b-profile-message-item-block__files-wrap">
                    <!-- Здесь для подгрузки правильной икоки для файла у блока .b-profile-message-item-block__file-item
                     должен быть класс модификатор типа b-profile-message-item-block__file-item_ext_[расширение файла]
                     Также как это реализовано на странице загрузки докиментов в профиле-->
                    <li class="b-profile-message-item-block__file-item b-profile-message-item-block__file-item_ext_jpg">
                        <h4>постановление.jpg</h4>
                        <a href="#" class="b-link-line">Скачать</a>
                    </li>
                    <li class="b-profile-message-item-block__file-item  b-profile-message-item-block__file-item_ext_doc">
                        <h4>постановление 2 Правительства РФ от 03.01.2014 № 3</h4>
                        <a href="#" class="b-link-line">Скачать</a>
                    </li>
                </ul>
            </div>
        </div>
        
    </div>
{% endblock %}
