{% extends "./layout/_layout.twig" %}
{% block title %} <title>Подача отчета</title> {% endblock %}

{% block content %}
    <div class="l-report-form">
        <div class="b-title b-reports-title">
            <h1>Отчет&nbsp;о деятельности резидента</h1>
        </div>

        <h2 class="b-report-subtitle">Отчеты за 2018 год</h2>

        <div class="b-inputs-row b-report-oez">
            <div class="b-input-block">
                {% include "../components/forms/input-text/input-text.twig" with {
                    id: "resident-name",
                    name: "resident-name"
                } %}
                <label class="b-input-block__label" for="resident-name">Наименование резидента ОЭЗ</label>
            </div>
            <div class="b-input-block">
                {% include "../components/forms/input-text/input-text.twig" with {
                    id: "oez-name",
                    name: "oez-name"
                } %}
                <label class="b-input-block__label" for="resident-name">Наименование ОЭЗ</label>
            </div>
        </div>
        <div class="b-report-steps">
            <div class="b-report-steps__mobile"></div>
            <div class="b-report-steps__tabs"></div>
        </div>
        <button class="button button_icon_check b-report-approve" type="button">Подтвердить данные формы</button>

        {% include "../components/reports/report-form.twig" %}

        <button class="button button_without_icon" type="button" disabled>Отправить отчет</button>
    </div>
{% endblock %}
