.l-report-form {
    @include prefix(2, 36);
    @include suffix(2, 36);
    @include padding-level(bottom, pink);

    h1 {
        @include font-size("h1-inner");
    }

    @media #{$laptop} {
        //@include push(3, 36);
        //@include suffix(3, 36);
        //@include post(3, 36);
        @include prefix(3, 36);
        @include suffix(3, 36);
        //max-width: 1280px;
        /*padding-right: 0;
        padding-left: 0;*/
    }

    @media #{$fullhd} {
        @include push(4, 36);
        @include post(4, 36);
        padding-left: 0;
        padding-right: 0;
    }
}

.b-reports-subtitle {
    @include font-size("h2");
    @include margin-level(bottom, yellow);
}

.b-report-form {
    @include padding-level(top, blue);
    @include padding-level(bottom, green);
    max-width: 1280px;
}

.b-reports-filter + .b-report-form {
    padding-top: 0;
}

.b-report-form__title {
    @include font-size("h2");
    @include margin-level(bottom, yellow);
}

.b-report-form__subtitle {
    @include font-size("p2");
    @include margin-level(bottom, yellow);
}

.b-report-form__title + .b-report-form__subtitle {
    margin-top: -8px;
}

.b-report-submit {
    max-width: 1280px;
}

.b-inputs-row {
    //border: 1px solid $grey;
    //border-radius: 4px;
    display: flex;
    flex-wrap: wrap;

    .b-input-block {
        width: 100%;

        &:first-child {
            border-radius: 4px 4px 0 0;
            border-bottom-width: 0;
        }

        &:last-child {
            border-radius: 0 0 4px 4px;
        }

        @media #{$laptop} {
            width: 50%;

            &:first-child {
                border-radius: 4px 0 0 4px;
                border-right: 0;
                border-bottom-width: 1px;
            }

            &:last-child {
                border-radius: 0 4px 4px 0;
            }
        }
    }
}

.b-innovations-block .b-input-block + .b-input-block:not(:first-child),
.b-inputs-row + .b-inputs-row:not(:first-child) {
    margin-top: 9px;
}

.b-input-block {
    @include transition(background);
    display: flex;
    flex-direction: column;
    position: relative;
    //height: 64px;
    border: 1px solid $grey;
    //border-bottom-width: 0;
    background-color: $white;
    border-radius: 4px;
    //padding: 30px 0 12px 0;

    /*&:first-child {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

    &:last-child {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border-bottom-width: 1px;
    }*/

    &:hover {
        background-color: $bg-select;
    }

    .b-pseudo-input,
    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="tel"],
    textarea {
        @include font-size("p2");
        font-family: inherit;
        color: $black;
        background-color: transparent;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 12px;
        order: 1;

        &:focus {
            outline: 0;

            + .b-input-block__label {
                color: $black;
            }
        }

        &.is-valid,
        &.is-success {
            color: $blue;
        }
    }

    textarea {
        resize: vertical;
    }

    select {
        background-color: transparent;
        border: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    .b-select {
        padding-bottom: 12px;
        order: 1;
    }

    @media #{$tablet-portrait} {
        //padding-top: 28px;
    }

    @media #{$laptop} {
        //height: 72px;
        //padding-top: 32px;
    }

    @media #{$laptop-wide} {
        //height: 80px;
        //padding-top: 36px;
    }
}

[data-read-only] .b-input-block:hover {
    background-color: $white;
}

.b-input-block_is_disabled {
    display: none;

    input {
        display: none;
    }
}

.b-input-block_is_untouched {
    .b-select .chosen-container-single .chosen-single span,
    .b-pseudo-input,
    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="tel"],
    textarea {
        color: rgba($black, 0.48);
    }
}

/*.b-input-block + .b-input-block {
    border-top-width: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}*/

.b-input-group {
    .b-input-block {
        border-bottom-width: 0;
        border-radius: 0;

        &:first-child {
            //border-radius: 4px 4px 0 0;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
        }

        &:last-child {
            //border-radius: 0 0 4px 4px;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            border-bottom-width: 1px;
        }
    }
}

.b-input-block__label {
    @include font-size("p4");
    display: block;
    order: 0;
    padding-top: 12px;
    color: rgba($black, 0.72);
    //opacity: 0.72;
    padding-left: 16px;
    padding-right: 16px;

    @media #{$tablet-portrait} {
        padding-top: 11px;
    }

    @media #{$laptop} {
        padding-top: 15px;
    }

    @media #{$laptop-wide} {
        padding-top: 14px;
    }

    @media #{$fullhd} {
        padding-top: 11px;
    }
}

.b-report-oez {
    @include margin-level(bottom, green);
    max-width: 1280px;
}

.b-report-block {
    border-radius: 4px;
    background-color: $dark-white;
    border: 1px solid transparent;

    &:not(:last-child) {
        @include margin-level(bottom, green);
    }

    &_status_approved {
        border-color: rgba($green, 0.32);
        background-color: rgba($green, 0.08);

        .b-report-block__header:after {
            content: "";
            display: block;
            position: absolute;
            top: 24px;
            right: 6.25%;
            width: 24px;
            height: 24px;
            border-radius: 100%;
            background-color: $green;
            background-image: url("/images/forms/check-bold.svg");
            background-repeat: no-repeat;
            background-position: 50%;
            background-size: 10px;

            @media #{$tablet-portrait} {
                right: calc(3.12% - 10px);
            }

            @media #{$laptop} {
                right: calc(3.33% - 16px);
                top: calc(50% - 16px);
                width: 36px;
                height: 36px;
                background-size: 15px;
            }

            @media #{$fullhd} {
                top: calc(50% - 24px);
                right: calc(4.16667% - 24px);
                width: 48px;
                height: 48px;
                background-size: 20px;
            }
        }
    }

    &_status_rejected {
        border-color: rgba($red, 0.32);
        background-color: rgba($red, 0.08);
    }
}

.b-report-block__header {
    @include prefix(2, 32);
    @include suffix(2, 32);
    @include padding-level(top, dark-yellow);
    @include padding-level(bottom, dark-yellow);
    font-family: $font-bold;
    font-weight: 700;
    border-bottom: 2px solid $white;
    position: relative;

    @media #{$tablet-portrait} {
        display: flex;
        padding-left: 0;
    }

    @media #{$laptop} {
        //@include prefix(2, 30);
        @include suffix(2, 30);
    }

    @media #{$fullhd} {
        //@include prefix(2, 24);
        padding-left: 0;
        @include suffix(2, 24);
    }

    &:before {
        content: attr(data-number);
        @include font-size("h4");
        font-family: $font-bold;
        font-weight: 700;
        display: block;
        color: $blue;

        @media #{$mobile-only} {
            padding-bottom: 8px;
        }

        @media #{$tablet-portrait} {
            flex-basis: column(4, 28);
            flex-shrink: 0;
            text-align: center;
        }

        @media #{$laptop} {
            flex-basis: column(2, 30);
        }

        @media #{$fullhd} {
            flex-basis: column(2, 24);
        }
    }
}

.b-report-block__title {
    @include font-size("p1");
    margin-bottom: 0;
}

.b-report-block__body {
    @include padding-level(top, dark-yellow);
    @include padding-level(bottom, green);
    @include prefix(2, 32);
    @include suffix(2, 32);
    display: flex;
    flex-direction: column;

    @media #{$tablet-portrait} {
        @include prefix(2, 30);
        @include suffix(2, 30);
    }

    @media #{$fullhd} {
        @include prefix(2, 24);
        @include suffix(2, 24);
    }
}

.b-report-block__confirm {
    @include transition(background-color, color);
    height: 37px;
    margin-top: 27px;
    padding: 7px 30px 9px 22px;
    border: 1px solid $red;
    background-color: $white;
    border-radius: 4px;
    font-size: 16px;
    line-height: 21px;
    cursor: pointer;

    &:active {
        box-shadow: inset 0 2px 4px rgba($red, 0.48);
    }

    @media #{$tablet-portrait} {
        &:hover {
            color: $red;
            background-color: lighten($red, 60%);
        }
    }
}

.b-radio-row {
    display: flex;

    .b-custom-radio {
        @include post(3, 28);
    }

    @media #{$tablet-portrait} {
        .b-custom-radio {
            margin-right: 65px;
        }
    }
}

.b-radio-row + .b-input-block {
    margin-top: 20px;
}

.b-report-block__subtitle {
    @include font-size("p2");
    margin-bottom: 16px;
}

.b-inputs-row + .b-report-block__subtitle {
    @include padding-level(top, yellow);
}

.b-report-block__extra-fields:not(:last-child) {
    @include margin-level(bottom, yellow);
}


.b-report-stage-select {
    &:not(:last-child) {
        margin-bottom: 9px;
    }
}

.b-report-block__add {
    @include margin-level(top, yellow);
    min-width: auto;
    text-align: left;
    line-height: 1;
    margin-right: auto;

    &:after {
        height: 20px;
        top: calc(50% - 10px);
    }
}

.b-help {
    display: inline-block;
    width: 24px;
    height: 24px;
    text-align: center;
    vertical-align: center;
    margin-left: 10px;
    line-height: 24px;
    background-color: $white;
    border-radius: 100%;
    cursor: default;
    user-select: none;
    border: none;
    overflow: hidden;

    &:before {
        content: '?';
        display: block;
        font-size: 16px;
        line-height: 24px;
        width: 24px;
        height: 24px;
        font-family: $font-bold;
        color: $blue;
    }

    &:hover {
        background-color: $bg-select;
    }

    @media #{$mobile-only} {
        width: 18px;
        height: 18px;
        line-height: 18px;

        &:before {
            width: 18px;
            height: 18px;
            font-size: 14px;
            line-height: 18px;
        }
    }
}

label .b-help {
    border: 1px solid $light-grey;
}

.button_without_icon {
    width: 100%;
    padding-right: 26px;
    text-align: center;

    &:after {
        display: none;
    }
}

.b-mini-filter.b-reports-filter {
    margin-bottom: 0;
    @include padding-level(bottom, green);

    &_position_bottom {
        @include padding-level(bottom, cyan);
    }
}

.b-reports-filter .b-mini-filter__group {
    margin-bottom: 0;
}

.b-report-form__add-result {
    @include margin-level(bottom, green);
}

.b-report-form__delete {
    @include transition(border);
    display: block;
    width: 21px;
    height: 21px;
    margin-left: auto;
    margin-bottom: 9px;
    background-image: url("/images/home/delete-icon.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    background-color: $white;
    border: 1px solid $grey;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
        border-color: $blue;
    }

    &:not(:first-child) {
        margin-top: 9px;
    }

    @media #{$tablet-portrait} {
        width: 31px;
        height: 31px;
    }
}

.b-report-block__delete {
    @include transition(color);
    @include margin-level(top, dark-yellow);
    position: relative;
    display: inline-block;
    vertical-align: top;
    min-width: 190px;
    height: 48px;
    margin-left: auto;
    padding-right: 45px;
    padding-left: 30px;
    font-size: 14px;
    line-height: 48px;
    color: $black;
    text-decoration: none;
    border-radius: 4px;
    border: 1px solid $grey;
    background-color: transparent;
    cursor: pointer;

    &:after {
        @include transition(right, transform);
        transform: rotate(45deg);
        content: "+";
        font-size: 20px;
        position: absolute;
        top: 0;
        right: 15%;
    }

    &:hover {
        color: $blue;

        &:after {
            right: 7%;
            transform: rotate(135deg);
        }
    }

    &:active {
        box-shadow: inset 0 2px 4px rgba($blue, 0.48);
    }

    @media #{$tablet-portrait} {
        height: 56px;
        font-size: 18px;
        line-height: 56px;
        padding-right: 80px;
        padding-left: 30px;

        &:after {
            font-size: 24px;
        }
    }
}
