.l-residents {
    @include padding-level(bottom, pink);
    @include prefix(2, 36);
    @include suffix(2, 36);

    h1 {
        @include font-size("h1-inner");
    }

    @media #{$laptop} {
        @include prefix(3, 36);
        @include suffix(3, 36);
    }

    @media #{$fullhd} {
        @include prefix(4, 36);
        @include suffix(4, 36);
    }
}

.b-residents-title {
    @include padding-level(top, blue);
}

.b-residents-content {
    @media #{$tablet-portrait} {
        display: flex;
        flex-wrap: wrap;
        border-left: 1px solid $grey;
    }
}

.b-resident {
    @include margin-level(bottom, cyan);
    display: none;


    @media #{$tablet-portrait} {
        margin-bottom: 0;
    }

    @media #{$tablet-only} {
        width: 50%;
    }

    @media #{$laptop} {
        width: 33%;
    }
}

.all-categories .b-resident {
    display: block;
}

.category-1 .b-resident_category_1,
.category-2 .b-resident_category_2,
.category-3 .b-resident_category_3,
.category-4 .b-resident_category_4,
.category-5 .b-resident_category_5,
.category-6 .b-resident_category_6,
.category-7 .b-resident_category_7,
.category-8 .b-resident_category_8,
.category-9 .b-resident_category_9,
.category-10 .b-resident_category_10 {
    display: block;
}

.b-resident__inner {
    @include padding-level(bottom, cyan);
    height: 420px;
    border: 1px solid $grey;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    background: $white;

    @media #{$tablet-portrait} {
        height: 480px;
        border-radius: 0;
        border-left: none;
        margin-top: -1px;
    }

    @media #{$laptop} {
        height: 600px;
    }

    @media #{$fullhd} {
        @include padding-level(bottom, green);
        height: 729px;
    }

    @media #{$ie} {
        align-items: flex-start;
    }
}

.b-resident_is_overflowed {
    cursor: pointer;

    .b-resident__description:after {
        //content: "";
        //display: block;
        //position: absolute;
        //bottom: 0;
        //width: 100%;
        //height: 45px;
        //background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .99) 90%, #ffffff 100%);
    }
}

.b-resident_is_expanded {
    position: relative;

    .b-resident__inner {
        position: absolute;
        top: 0;
        left: 0;
        height: auto;
        width: 100%;
        min-height: 100%;
        z-index: 10;
        box-shadow: 0 10px 20px rgba($blue, 0.2);
    }

    .b-resident__description {
        max-height: none;

        &:after {
            display: none;
        }
    }
}

.b-resident__logo {
    max-height: 220px;
    margin-left: auto;
    margin-right: auto;

    @media #{$fullhd} {
        max-height: 280px;
    }

    @media #{$ie} {
        height: auto;
    }
}

.b-resident__title {
    @include font-size("h4");
    @include padding-level(bottom, red);
    @include prefix(2, 32);
    @include suffix(2, 32);
    font-family: $font-bold;
    font-weight: 700;
    margin-bottom: 0;

    @media #{$laptop} {
        @include prefix(3, 32);
        @include suffix(3, 32);
    }

    @media #{$fullhd} {
        @include prefix(1, 9);
        @include suffix(1, 9);
    }

    @media #{$ie} {
        flex: 1 0 auto;
        width: 100%;
    }
}

.b-resident__category {
    @include font-size("p4");
    @include padding-level(bottom, yellow);
    @include prefix(2, 32);
    @include suffix(2, 32);

    @media #{$laptop} {
        @include prefix(3, 32);
        @include suffix(3, 32);
    }

    @media #{$fullhd} {
        @include prefix(1, 9);
        @include suffix(1, 9);
    }

    @media #{$ie} {
        width: 100%;
    }
}

.b-resident__description {
    @include font-size("p3");
    @include prefix(2, 32);
    @include suffix(2, 32);
    overflow: hidden;
    margin-bottom: 15px;
    position: relative;
    flex-grow: 1;

    @media #{$laptop} {
        @include prefix(3, 32);
        @include suffix(3, 32);
    }

    @media #{$fullhd} {
        @include prefix(1, 9);
        @include suffix(1, 9);
    }

    @media #{$ie} {
        width: 100%;
    }
}

.b-resident__links {
    @include prefix(2, 32);
    @include suffix(2, 32);
    margin-top: auto;

    @media #{$laptop} {
        @include prefix(3, 32);
        @include suffix(3, 32);
    }

    @media #{$fullhd} {
        @include prefix(1, 9);
        @include suffix(1, 9);
    }
}

.b-resident__site-link {
    @include font-size("p4");
    height: 18px;
    padding-left: 40px;
    background-image: url("/images/residents/clip.svg");
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: 18px 9px;
    margin-bottom: 8px;
}

.b-resident__page-link {
    @include font-size("p4");
    height: 18px;
    padding-left: 40px;
    background-image: url("/images/residents/marker.svg");
    background-repeat: no-repeat;
    background-position: 3px 50%;
    background-size: 13px 18px;

    span {
        color: $blue;
        cursor: default;
    }
}
