{% extends "./layout/_layout.twig" %}
{% block title %} <title>Сообщения от ОЭЗ</title> {% endblock %}

{% block content %}

    <div class="l-profile-messages">

        <div class="b-title b-profile-message-title">
            <h1>Результаты поиска:</h1>
        </div>


        <div class="b-message-block-wrap">

            <div class="b-message-block">
                <div class="b-message-block__item">
                    <div class="b-message-block__item-title">
                        <a href="#" class="b-link-line">Федеральный закон О промышленной безопасности опасных производственных объектов  N 116 ФЗ</a>
                    </div>
                    <div class="b-message-block__item-desc">
                        <span class="b-message-block__item-time">11:30</span>
                        <time datetime="2017-12-26" class="b-message-block__item-date">26.12.2017</time>
                    </div>
                </div>
                <div class="b-message-block__item">
                    <div class="b-message-block__item-title">
                        <a href="#" class="b-link-line">Федеральный закон О промышленной безопасности опасных производственных объектов  N 116 ФЗ</a>
                    </div>
                    <div class="b-message-block__item-desc">
                        <span class="b-message-block__item-time">11:30</span>
                        <time datetime="2017-12-26" class="b-message-block__item-date">26.12.2017</time>
                    </div>
                </div>
                <div class="b-message-block__item">
                    <div class="b-message-block__item-title">
                        <a href="#" class="b-link-line">Федеральный закон О промышленной безопасности опасных производственных объектов  N 116 ФЗ</a>
                    </div>
                    <div class="b-message-block__item-desc">
                        <span class="b-message-block__item-time">11:30</span>
                        <time datetime="2017-12-26" class="b-message-block__item-date">26.12.2017</time>
                    </div>
                </div>
                <div class="b-message-block__item">
                    <div class="b-message-block__item-title">
                        <a href="#" class="b-link-line">Федеральный закон О промышленной безопасности опасных производственных объектов  N 116 ФЗ</a>
                    </div>
                    <div class="b-message-block__item-desc">
                        <span class="b-message-block__item-time">11:30</span>
                        <time datetime="2017-12-26" class="b-message-block__item-date">26.12.2017</time>
                    </div>
                </div>
                <div class="b-message-block__item">
                    <div class="b-message-block__item-title">
                        <a href="#" class="b-link-line">Федеральный закон О промышленной безопасности опасных производственных объектов  N 116 ФЗ</a>
                    </div>
                    <div class="b-message-block__item-desc">
                        <span class="b-message-block__item-time">11:30</span>
                        <time datetime="2017-12-26" class="b-message-block__item-date">26.12.2017</time>
                    </div>
                </div>
                <div class="b-message-block__item">
                    <div class="b-message-block__item-title">
                        <a href="#" class="b-link-line">Федеральный закон О промышленной безопасности опасных производственных объектов  N 116 ФЗ</a>
                    </div>
                    <div class="b-message-block__item-desc">
                        <span class="b-message-block__item-time">11:30</span>
                        <time datetime="2017-12-26" class="b-message-block__item-date">26.12.2017</time>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
