.l-vacancies {
    @include padding-level(top, blue);
    @include padding-level(bottom, violet);
    @include prefix(2, 36);
    @include suffix(2, 36);

    @media #{$laptop} {
        @include prefix(3, 36);
        @include suffix(11, 36);
    }

    @media #{$fullhd} {
        @include prefix(4, 36);
        @include suffix(12, 36);
    }
}

.b-vacancies-title {
    @include padding-level(bottom, cyan);

    h1 {
        @include font-size("h1");
        margin-bottom: 0;
    }
}

.b-vacancies-description {
    @include padding-level(bottom, cyan);
    p {
        @include font-size('p1');
    }

    p:not(:last-child) {
        @include padding-level(bottom, green);
    }
}

.b-vacancies-list {
    border-radius: 4px;
    border: 1px solid $grey;
    background-color: $white;
}

.b-vacancy__header {
    @include transition(color);
    @include font-size('p2');
    @include prefix(2, 32);
    @include suffix(2, 32);
    position: relative;
    //padding: 21px 30px 18px 19px;
    padding-top: 21px;
    padding-bottom: 18px;
    margin-bottom: 0;
    font-family: $font-bold;
    font-weight: 700;
    color: $blue;
    cursor: pointer;

    &:after {
        @include transition(transform);
        content: "";
        display: block;
        width: 13px;
        height: 8px;
        right: 17px;
        position: absolute;
        top: 29px;
        background-image: url("/images/home/arrow-down.svg");
        background-position: 0 50%;
        background-repeat: no-repeat;
        background-color: transparent;
        background-size: contain;
    }

    /*@media #{$tablet-portrait} {
        //padding-right: 50px;
    }*/

    @media #{$tablet-portrait} {
        @include prefix(1, 32);
        @include suffix(1, 32);
        padding-top: 24px;
        padding-bottom: 21px;
    }

    @media #{$laptop} {
        @include prefix(1, 22);
        @include suffix(1, 22);
    }

    @media #{$fullhd} {
        @include prefix(1, 20);
        @include suffix(1, 20);
        padding-top: 23px;
        padding-bottom: 27px;
    }
}

.b-vacancy__header:after {
    @media #{$tablet-portrait} {
        right: 24px;
    }

    @media #{$laptop} {
        top: 33px;
    }

    @media #{$laptop} {
        right: 31px;
    }
}

.b-vacancy_is_open {
    .b-vacancy__header {
        @include padding-level(top, yellow);
        @include padding-level(bottom, yellow);
        @include font-size('h4');
        font-family: $font;
        font-weight: 500;
        color: $black;
        //padding-right: 50px;

        &:after {
            transform: rotate(180deg);
            top: 38px;
        }

        /*@media #{$laptop} {
            padding-left: 35px;
        }

        @media #{$fullhd} {
            padding-left: 54px;
        }*/
    }
}

.b-vacancy__content-wrapper {
    @include transition(height);
    overflow: hidden;
    position: relative;
    z-index: 2;
    height: 0;
}

.b-vacancy:not(:last-child) .b-vacancy__content-wrapper {
    border-bottom: 1px solid $grey;
}

.b-vacancy__content {
    @include padding-level(bottom, blue);
    @include font-size('p2');
    @include prefix(2, 32);
    @include suffix(2, 32);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;

    @media #{$tablet-portrait} {
        @include prefix(1, 32);
        @include suffix(1, 32);
    }

    @media #{$laptop} {
        @include prefix(1, 22);
        @include suffix(1, 22);
    }

    @media #{$fullhd} {
        @include prefix(1, 20);
        @include suffix(1, 20);
    }
}

.b-vacancy__salary {
    @include padding-level(bottom, yellow);
    @include font-size('h4');
    font-family: $font-bold;
    font-weight: 700;
}

.b-vacancy__characteristics {
    overflow: hidden;
}
.b-vacancy__characteristic {
    float: left;

    &:first-child {
        @include padding-level(bottom, yellow);
        min-width: 20%;
        padding-right: 4%;
    }
}

.b-vacancy__characteristic-name {
    @include font-size('p4');
    font-family: $font-bold;
    font-weight: 700;
    white-space: nowrap;
    padding-bottom: 6px;
}

.b-vacancy__characteristic-value {

}

.b-vacancy-description {
    @include padding-level(bottom, green);

    p:not(:last-child) {
        @include padding-level(bottom, green);
    }
}

.b-vacancy__subtitle {
    @include padding-level(bottom, yellow);
    @include font-size('h4');
    margin-bottom: 0;
}

.b-vacancy__description {
    @include padding-level(bottom, green);

    li {
        padding-left: 22px;
        position: relative;

        &:not(:last-child) {
            padding-bottom: 10px;
        }

        &:before {
            content: "—";
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            @include font-size('p2');
            font-family: $font-bold;
            font-weight: 700;
            color: $blue;
        }

        @media #{$tablet-portrait} {
            padding-left: 30px;
        }

        @media #{$laptop} {
            padding-left: 35px;
        }
    }
}

.button.b-vacancy__button {
    font-family: $font;
    min-width: 244px;
    padding-left: 17px;

    @media #{$tablet-portrait} {
        min-width: 355px;
        padding-left: 32px;
    }
}

.b-vacancies-empty {
    @include font-size('h4');
    font-family: $font-bold;
    font-weight: 700;
    display: none;
}

.b-vacancies-empty.is-active {
    display: block;
}

// Стили для попапа
.b-vacancies-popup {
    display: none;
}

.b-vacancies-popup__header  {
    @include padding-level(bottom, yellow);
    @include font-size('h4');
    margin-bottom: 0;
}

.b-vacancy-response-form {
    display: flex;
    flex-direction: column;
}

.b-vacancy-response-form__inputs {
    @include padding-level(bottom, green);
    display: flex;
    flex-direction: column;
}

.b-vacancy-response-form__note {
    order: 100;
    opacity: .72;
    padding-left: 16px;
    padding-top: 5px;
    font-size: 14px;

    @media #{$laptop} {
        font-size: 16px;
    }
}

.b-vacancies-popup__success {
    display: flex;
    flex-direction: column;
}

.b-vacancies-popup__text {
    @include padding-level(bottom, green);
}

.b-vacancy__button {
    max-width: 355px;
}
