<div class="b-invest-resident">
    <h2 class="b-invest-resident__title" id="investors-resident">Как стать резидентом: 3 шага</h2>

    <div class="b-invest-resident__descs">
        <div class="b-invest-resident__desc">
            <span class="b-invest-resident__desc-title">Условия</span>
            <div class="b-invest-resident__desc-text">ИП или коммерческая организация, зарегистрированная в Санкт-Петербурге</div>
        </div>

        <div class="b-invest-resident__desc">
            <span class="b-invest-resident__desc-title">Деятельность</span>
            <div class="b-invest-resident__desc-text">технико-внедренческая</div>
        </div>
    </div>

    <div class="b-invest-resident__steps">

        <div class="b-invest-resident__step">
            <div class="b-invest-resident__step-title">Подача <span>01</span></div>

            <div class="b-invest-resident__step-content">
                <div class="b-invest-resident__step-text">
                    Подача заявки и пакета документов в Комитет по промышленной политике и инновациям Санкт-Петербурга
                </div>

                <div class="b-invest-resident__step-tag">
                    <span>
                        {% include '../news/media/time.svg.twig' with {
                            fill: "#fff"
                        }%}
                        40 рабочих дней
                    </span>
                </div>

            </div>
        </div>

        <div class="b-invest-resident__step">
            <div class="b-invest-resident__step-title">Рассмотрение <span>02</span></div>
            <div class="b-invest-resident__step-content">
                <div class="b-invest-resident__step-text">
                    Рассмотрение заявки на Экспертном совете ОЭЗ
                </div>

                <div class="b-invest-resident__step-tag">
                    <span>
                        {% include '../news/media/time.svg.twig' with {
                            fill: "#fff"
                        }%}
                        15 рабочих дней
                    </span>
                </div>

            </div>
        </div>

        <div class="b-invest-resident__step">
            <div class="b-invest-resident__step-title">Подписание <span>03</span></div>
            <div class="b-invest-resident__step-content">
                <div class="b-invest-resident__step-text">
                    Подписание соглашения об осуществлении деятельности
                </div>

                <div class="b-invest-resident__step-tag">
                    <span>
                        {% include '../news/media/time.svg.twig' with {
                            fill: "#fff"
                        }%}
                        В течение недели
                    </span>
                </div>

            </div>
        </div>

    </div>

    <div class="b-invest-resident__package">
        <h4 class="b-invest-resident__package-title">Пакет документов для подачи в Комитет</h4>

        <div class="b-invest-resident__lists">

            <div class="b-invest-resident__list">
                <ol class="b-invest-resident__list-num">
                    <li>Заявка <a href="#" class="b-link-line">Скачать типовую форму заявки</a></li>
                    <li>Копия свидетельства о государственной регистрации</li>
                    <li>Копия свидетельства о постановке на учет в налоговом органе</li>
                    <li>Копии учредительных документов</li>
                    <li>Бизнес-план <a href="#" class="b-link-line">Скачать форму бизнес-плана</a></li>
                </ol>
            </div>

            <div class="b-invest-resident__list">
                <span class="b-invest-resident__list-title">Заявка должна содержать сведения:</span>
                <ul class="b-invest-resident__list-line">
                    <li>о предполагаемой деятельности заявителя</li>
                    <li>о необходимом государственном и муниципальном имуществе</li>
                    <li>о площади необходимого земельного участка</li>
                    <li>об объеме инвестиций и капитальных вложений</li>
                    <li>о потребности в энергоресурсах</li>
                </ul>
            </div>

        </div>
    </div>

</div>
