<div class="b-map__zoom">
    <button class="b-map__zoom-button b-map__zoom-button-plus">
        {% include "./zoom-plus.svg.twig" %}
    </button>
    <button class="b-map__zoom-button b-map__zoom-button-minus">
        {% include "./zoom-minus.svg.twig" %}
    </button>
</div>
