.b-report-block {
    display: block;
    margin-bottom: 40px;
}

.b-report-block__body {
    display: flex;
    align-items: flex-start;
}

.b-input-block {
    margin: 10px;
    text-align: left;
    border-radius: 3px;
    border: 1px solid #ccc;
    padding: 10px;
}

.b-input-block div.row-header {
    margin-bottom: 10px;
    font-weight: bold;
}

.b-input-block div.row-value {
    border: 1px solid #e7ebec;
    border-radius: 3px;
    background: #f9fbfb;
    margin-bottom: 10px;
    color: #c0c0c0;
    padding: 3px;
}

.b-input-block div input {
    width: 90%;
}