<div class="b-profile-document-error is-active">
    <div class="b-profile-document-error__close"></div>
    <p>
        К сожалению, вы выбрали недопустимый формат файла. Попробуйте другой
    </p>
</div>