<div class="b-functions">
    <div class="b-functions__title b-title">
        <h2>Функции управляющей компании</h2>
    </div>
    <div class="b-functions__wrapper">
        <div class="b-functions__item b-functions__item_investors">
            <h3 class="b-functions__item-title b-functions__item-title_investors">Привлечение инвесторов</h3>
            <div class="b-functions__text_investors">
                <p>
                    Привлечение потенциальных инвесторов к развитию инновационной деятельности на территории ОЭЗ
                </p>
            </div>
        </div>
        <div class="b-functions__item b-functions__item_work">
            <h3 class="b-functions__item-title">Работа с резидентами</h3>
            <div class="b-functions__text">
                <p>
                    Организационное сопровождение деятельности резидентов
                </p>
            </div>
        </div>
        <div class="b-functions__item b-functions__item_development">
            <h3 class="b-functions__item-title b-functions__item-title_development">Девелопмент</h3>
            <div class="b-functions__text_development">
                <p>
                    Проектирование и строительство объектов инфраструктуры ОЭЗ
                </p>
            </div>
        </div>
        <div class="b-functions__item">
            <h3 class="b-functions__item-title">Менеджмент</h3>
            <div class="b-functions__text">
                <p>
                    Управление и эксплуатация объектов инженерной, транспортной и иной инфраструктуры особых экономических зон
                </p>
            </div>
        </div>
    </div>
</div>