<div class="b-lk-nav">
    <ul class="b-lk-nav__list">
        <li class="b-lk-nav__item">
            <a href="#" class="b-lk-nav__link b-link-line">
                Профиль
            </a>
        </li>
        <li class="b-lk-nav__item">
            <a href="#" class="b-lk-nav__link b-link-line">
                Подача отчета
            </a>
        </li>
        <li class="b-lk-nav__item">
            <a href="#" class="b-lk-nav__link b-link-line">
                Сообщения от ОЭЗ
            </a>
        </li>
        <li class="b-lk-nav__item is-active">
            <a href="#" class="b-lk-nav__link b-link-line">
                Подать заявку
            </a>
        </li>
    </ul>
</div>