<div class="b-lk-nav">
    <ul class="b-lk-nav__list">
        <li class="b-lk-nav__item">
            <a href="#" class="b-lk-nav__link b-link-line">
                Профиль
            </a>
        </li>
        <li class="b-lk-nav__item">
            <a href="#" class="b-lk-nav__link b-link-line">
                Подача отчета
            </a>
        </li>
        <!-- Для отображения счетчика новых сообщений добавить класс is-new-message -->
        <li class="b-lk-nav__item b-lk-nav__item-message is-active is-new-message">
            <a href="#" class="b-lk-nav__link b-link-line">
                Сообщения от ОЭЗ
                <span class="b-lk-nav__item-new-message">1</span>
            </a>
        </li>
        <li class="b-lk-nav__item">
            <a href="#" class="b-lk-nav__link b-link-line">
                Подать заявку
            </a>
        </li>
    </ul>
</div>
