<div class="b-invest-post">
    <div class="b-invest-post__content" id="investors-post">

        <h2 class="b-invest-post__title">Таможенный пост</h2>

        <div class="b-invest-post__description">
            На территории ОЭЗ «Санкт-Петербург» применяется таможенная процедура «свободная таможенная зона», позволяющая на льготных условиях ввозить оборудование и компоненты для резидентов ОЭЗ.
        </div>

        <h3 class="b-invest-post__caption">На площадке «Нойдорф» действует Петродворцовый таможенный пост</h3>

        <ul class="b-invest-post__list">
            <li>2 автомобильных контрольно-пропускных пункта</li>
            <li>1 зона таможенного контроля</li>
            <li>Стоянка на 6 большегрузных автомобилей</li>
            <li>Досмотровая площадка с навесом</li>
            <li>Автомобильные весы с установкой радиационного контроля «Янтарь»</li>
        </ul>

        <h3 class="b-invest-post__caption">На площадке «Нойдорф» действует Петродворцовый таможенный пост</h3>

        <ul class="b-invest-post__list b-invest-post__list_theme_two">
            <li><strong>Отсрочка выплаты</strong> таможенных пошлин</li>
            <li><strong>Отсутствие затрат</strong> на склад временного хранения</li>
            <li><strong>Гибкая система уплаты таможенных платежей:</strong> выплата таможенной пошлины и НДС происходит либо целиком за окончательный продукт либо только за его иностранные компоненты</li>
            <li><strong>Возможность беспошлинного размещения иностранных товаров</strong> на территории ОЭЗ практически неограниченное количество времени</li>
            <li><strong>Собственный таможенный пост</strong></li>
        </ul>
        
    </div>
    <div class="b-invest-post__img">
        <img src="/images/investors-info/investors-2.png" alt="">
    </div>
    
</div>
