.b-links {
    @include margin-level(bottom, cyan);
}

.b-links-mobile {
    background-color: $bg-grey;
    border-radius: 8px;
    padding-left: 4px;
    padding-top: 4px;
    padding-bottom: 4px;

    @media #{$tablet-portrait} {
        display: none;
    }
}

.b-links-mobile-header {
    position: relative;
}

.b-links__link-mobile {
    @include column(26.5, 32);
    @include font-size("p3");
    display: block;
    color: $black;
    background-color: $white;
    border-radius: 8px;
    padding: 9px 15px;
    box-shadow: 0 1px 2px $dark-grey;
}

.b-links__link-icon {
    @include post(2, 32);
    display: block;
    width: 12px;
    height: 7px;
    background-image: url("/images/home/arrow-down.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -3.5px;
}

.b-links-mobile-body {
    padding-top: 15px;
    padding-bottom: 15px;
}

.b-links-mobile-item {
    padding-left: 15px;
}

.b-links-mobile-link {
    @include font-size("p3");
    display: block;
    color: $blue;
    margin-bottom: 5px;

    &:last-child {
        margin-bottom: 0;
    }
}

.b-links-desctop {
    display: none;
    background-color: $bg-grey;
    border-radius: 8px;
    padding: 4px;
    padding-bottom: 0;

    @media #{$tablet-portrait} {
        display: inline-block;
        vertical-align: top;
    }
}

.b-links__link {
    @include font-size("p3");
    display: inline-block;
    vertical-align: top;
    color: $blue;
    text-align: center;
    border-radius: 4px;
    padding: 8px 16px;
    margin-right: 16px;
    margin-bottom: 4px;

    &:last-child {
        margin-right: 0;
    }

    &.is-active {
        color: $black;
        background-color: $white;
        box-shadow: 0 1px 2px $dark-grey;
    }

    @media #{$laptop} {
        padding-left: 24px;
        padding-right: 24px;
    }
}
