<div class="b-visual__filter">
    <form action="#" method="post">
        <div class="b-filter__row">
            <label for="floor-1">1-комн.</label>
            <input type="checkbox" name="floors[1]" id="floor-1">
        </div>
        <div class="b-filter__row">
            <label for="floor-2">2-комн.</label>
            <input type="checkbox" name="floors[2]" id="floor-2">
        </div>
        <div class="b-filter__row">
            <label for="floor-3">3-комн.</label>
            <input type="checkbox" name="floors[3]" id="floor-3">
        </div>
    </form>
</div>