<div class="b-animation-lines j-animation-lines">
    <div class="b-animmation-lines__line"></div>
    <div class="b-animmation-lines__line"></div>
    <div class="b-animmation-lines__line"></div>
    <div class="b-animmation-lines__line"></div>
    <div class="b-animmation-lines__line"></div>
    <div class="b-animmation-lines__line"></div>
    <div class="b-animmation-lines__line"></div>
    <div class="b-animmation-lines__line"></div>
    <div class="b-animmation-lines__line"></div>
    <div class="b-animmation-lines__line"></div>
    <div class="b-animmation-lines__line"></div>
    <div class="b-animmation-lines__line"></div>
    <div class="b-animmation-lines__line"></div>
    <div class="b-animmation-lines__line"></div>
    <div class="b-animmation-lines__line"></div>
    <div class="b-animmation-lines__line"></div>
    <div class="b-animmation-lines__line"></div>
    <div class="b-animmation-lines__line"></div>
    <div class="b-animmation-lines__line"></div>
    <div class="b-animmation-lines__line"></div>
    <div class="b-animmation-lines__line"></div>
    <div class="b-animmation-lines__line"></div>
    <div class="b-animmation-lines__line"></div>
    <div class="b-animmation-lines__line"></div>
    <div class="b-animmation-lines__line"></div>
    <div class="b-animmation-lines__line"></div>
    <div class="b-animmation-lines__line"></div>
    <div class="b-animmation-lines__line"></div>
</div>
