<div class="b-expanded-menu  j-expanded-menu">
    <div class="b-expanded-menu__header">Отрасли <span class="b-expanded-menu__item-counter"></span></div>
    <ul class="b-expanded-menu__list">
        <li class="b-expanded-menu__item" data-category-id="1"><span class="b-expanded-menu__item-text">Фармацевтика биотехнологии</span>&nbsp;<span class="b-expanded-menu__counter">20</span></li>
        <li class="b-expanded-menu__item" data-category-id="2"><span class="b-expanded-menu__item-text">Приборостроение</span>&nbsp;<span class="b-expanded-menu__counter">12</span></li>
        <li class="b-expanded-menu__item" data-category-id="3"><span class="b-expanded-menu__item-text">Информационные технологии и телекоммуникации</span>&nbsp;<span class="b-expanded-menu__counter">5</span></li>
        <li class="b-expanded-menu__item" data-category-id="4"><span class="b-expanded-menu__item-text">Высокотехнологичные производства</span>&nbsp;<span class="b-expanded-menu__counter">4</span></li>
        <li class="b-expanded-menu__item" data-category-id="5"><span class="b-expanded-menu__item-text">Микроэлектроника</span>&nbsp;<span class="b-expanded-menu__counter">4</span></li>
    </ul>
</div>

<div class="b-filters j-filters">
    <div class="b-filters__item" data-category-id="1">Фармацевтика и биотехнологии<span class="b-filters__counter">20</span></div>
    <div class="b-filters__item" data-category-id="2">Приборостроение<span class="b-filters__counter">12</span></div>
    <div class="b-filters__item" data-category-id="3">Информационные технологии и телекоммуникации<span class="b-filters__counter">5</span></div>
    <div class="b-filters__item" data-category-id="4">Высокотехнологичные производства<span class="b-filters__counter">4</span></div>
    <div class="b-filters__item" data-category-id="5">Микроэлектроника<span class="b-filters__counter">11</span></div>
</div>
