<div class="b-vacancy j-vacancy">
    <h2 class="b-vacancy__header">{{ title }}</h2>
    <div class="b-vacancy__content-wrapper">
        <div class="b-vacancy__content">
            <div class="b-vacancy__salary">до 100 000 ₽</div>
            <div class="b-vacancy__characteristics">
                <div class="b-vacancy__characteristic">
                    <div class="b-vacancy__characteristic-name">Опыт работы</div>
                    <div class="b-vacancy__characteristic-value">3-6 лет</div>
                </div>
                <div class="b-vacancy__characteristic">
                    <div class="b-vacancy__characteristic-name">Занятость</div>
                    <div class="b-vacancy__characteristic-value">Полная, полный день</div>
                </div>
            </div>
            <div class="b-vacancy-description">
                <p>В дочернюю компанию ОЭЗ «Санкт-Петербург» требуется ведущий инженер (слаботочные системы/сети), с большим опытом работы в функции генерального подрядчика. Работа на территории компании, Санкт-Петербург в офисе</p>
            </div>
            <h3 class="b-vacancy__subtitle">Обязанности</h3>
            <div class="b-vacancy__description">
                <ul>
                    <li>Работа с государственными органами</li>
                    <li>Организация и ведение деловых переговоров</li>
                    <li>Оформления официальной деловой переписки</li>
                    <li>Работа со схематическими, картографическими и презентационными материалами</li>
                    <li>Работа с информационно-правовыми системами (консультант плюс, гарант и т.д.)</li>
                    <li>Работа с электронным документооборотом</li>
                    <li>Создание, ведение и анализ информационных баз</li>
                    <li>Организация и контроль работы подрядчика</li>
                    <li>Планирование работ по срокам</li>
                    <li>Формирование календарно-сетевого графика</li>
                    <li>Контроль выполнения сроков в соответствии с графиком работ</li>
                    <li>Работа с ИТД.</li>
                </ul>
            </div>

            <h3 class="b-vacancy__subtitle">Требования</h3>
            <div class="b-vacancy__description">
                <ul>
                    <li>Высшее строительное/инженерное образование</li>
                    <li>Опыт работы в строительстве на аналогичной должности не менее 2-3 лет</li>
                    <li>Знание программ: Microsoft Office Word, Microsoft Office Excel, AutoCAD, Internet</li>
                    <li>Знание основных поставщиков оборудования и материалов слаботочных систем/сетей</li>
                    <li>Успешный опыт анализа коммерческих предложений, выбора подрядных организаций</li>
                    <li>Отличные технические навыки по направлению слаботочные системы/сети.</li>
                </ul>
            </div>
            <h3 class="b-vacancy__subtitle">Условия</h3>
            <div class="b-vacancy__description">
                <ul>
                    <li>Работа в крупной и стабильной компании</li>
                    <li>Карьерный рост</li>
                    <li>Развитие профессиональных знаний и навыков</li>
                    <li>Огромные проекты федерального масштаба</li>
                    <li>Молодая, амбициозная, проектно-ориентированная команда</li>
                    <li>Компенсация жилья, для иногородних кандидатов.</li>
                </ul>
            </div>
            <button class="button b-vacancy__button j-vacancy-button" type="button" data-href="#popup" data-id="{{ id }}">Откликнуться на вакансию</button>
        </div>
    </div>
</div>
