<section class="b-ask-for-advice">
    <div class="b-ask-for-advice__title b-title">
        <h2>Стать резидентом</h2>
    </div>
    <div class="b-ask-for-advice__text">
        <p>Обратитесь за консультацией по процедуре получения статуса резидента ОЭЗ «Санкт-Петербург» к нашим специалистам</p>
    </div>
    <a href="#" class="b-ask-for-advice__link button">Контакты отдела</a>
</section>