<div class="b-map" data-send="/test/ajax/map.js">
    <div class="b-map__routes">
        {% include "../map-routes/map-routes.twig" %}
    </div>
    <div class="b-map__content"></div>
    <div class="b-map__spacer"></div>
</div>
