<div class="b-load-result b-load-result_theme_input j-preloader">
    <div class="b-load-result__icon">
        <svg width="20px" height="20px" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g>
                <path d="M10,19.5 C4.75329488,19.5 0.5,15.2467051 0.5,10 C0.5,4.75329488 4.75329488,0.5 10,0.5 C15.2467051,0.5 19.5,4.75329488 19.5,10 C19.5,15.2467051 15.2467051,19.5 10,19.5 Z M10,16.5 C13.5898509,16.5 16.5,13.5898509 16.5,10 C16.5,6.41014913 13.5898509,3.5 10,3.5 C6.41014913,3.5 3.5,6.41014913 3.5,10 C3.5,13.5898509 6.41014913,16.5 10,16.5 Z" fill="#85D2D8"></path>
                <path d="M19.5,10 L16.5,10 C16.5,6.41014913 13.5898509,3.5 10,3.5 L10,0.5 C15.2467051,0.5 19.5,4.75329488 19.5,10 Z" fill="#00A1AD"></path>
            </g>
        </svg>
    </div>
</div>
