<li class="b-search__result-item b-search__result-more">
    <a href="{{ LINK }}" class="b-search__result-text j-search-link">{{ NAME }}</a>
    {% if section %}
        <span class="b-search__result-title">
            {{ section }}
        </span>
    {% endif %}
</li>
