{% if deletable %}
    <button type="button" class="b-report-form__delete j-delete-group" data-id="{{ ID }}"></button>
{% endif %}
<div class="b-inputs-row"  data-id="{{ ID }}">
    <div class="b-input-block ">
        {% include "../../forms/input-text/input-text.twig" with {
            id: "export-countries["~ ID ~"]",
            name: "export-countries["~ ID ~"]"
        } %}
        <label class="b-input-block__label" for="export-countries[{{ ID }}]">Страны</label>
    </div>
    <div class="b-input-block ">
        {% include "../../forms/input-text/input-text.twig" with {
            id: "export-code["~ ID ~"]",
            name: "export-code["~ ID ~"]"
        } %}
        <label class="b-input-block__label" for="export-code[{{ ID }}]">Код ТН ВЭД</label>
    </div>
</div>
