<div class="b-report-form__title">Дополнительные показатели функционирования резидентов
    ОЭЗ ППТ, ТВТ и ПТ</div>
{# 1 #}
<section class="b-report-block j-report-block">
    <div class="b-report-block__header" data-number="1">
        <h3 class="b-report-block__title">Сумма нематериальных активов,&#160;млн&#160;₽
            <div class="b-help j-help">Сумма нематериальных активов</div>
        </h3>
    </div>
    <div class="b-report-block__body">
        <div class="b-input-block b-input-block_is_untouched">
            {% include "../../forms/input-text/input-text.twig" with {
                id: "intangible-assets",
                name: "intangible-assets"
            } %}
            <label class="b-input-block__label" for="intangible-assets">Сумма нематериальных активов,&#160;млн&#160;₽</label>
        </div>
    </div>
</section>
{# 2 #}
<section class="b-report-block j-report-block">
    <div class="b-report-block__header" data-number="2">
        <h3 class="b-report-block__title">Количество сотрудников, имеющих ученые степени доктора и кандидата наук в общей численности сотрудников предприятия, ед.</h3>
    </div>
    <div class="b-report-block__body">
        <div class="b-input-block b-input-block_is_untouched">
            {% include "../../forms/input-text/input-text.twig" with {
                id: "degrees-employees",
                name: "degrees-employees"
            } %}
            <label class="b-input-block__label" for="degrees-employees">Сотрудники компании-резидента находящиеся в штате</label>
        </div>
    </div>
</section>
