<div class="b-report-form__title">Дополнительные показатели функционирования резидентов
    ОЭЗ ППТ, ТВТ и ПТ</div>
{# 1 #}
<section class="b-report-block j-report-block" id="block-1">
    <div class="b-report-block__header" data-number="1">
        <h3 class="b-report-block__title">Объем экспортируемой продукции, произведенной на территории ОЭЗ,&#160;млн&#160;₽</h3>
    </div>
    <div class="b-report-block__body">
        <div class="b-inputs-row">
            <div class="b-input-block ">
                {% include "../../forms/input-text/input-text.twig" with {
                    id: "export-volume-all",
                    name: "export-volume-all",
                    modify: "b-input-text_type_numeric"
                } %}
                <label class="b-input-block__label" for="export-volume-all">С начала деятельности в качестве резидента,&#160;млн&#160;₽</label>
            </div>
            <div class="b-input-block ">
                {% include "../../forms/input-text/input-text.twig" with {
                    id: "export-volume-year",
                    name: "export-volume-year",
                    modify: "b-input-text_type_numeric"
                } %}
                <label class="b-input-block__label" for="export-volume-year">С начала текущего года,&#160;млн&#160;₽</label>
            </div>
        </div>
    </div>
</section>
{# 2 #}
<section class="b-report-block j-report-block" id="block-2">
    <div class="b-report-block__header" data-number="2">
        <h3 class="b-report-block__title">Страны, в которые экспортируется продукция</h3>
    </div>
    <div class="b-report-block__body">
        <div class="j-export-groups-block"></div>
        {% if not readonly %}
        <button class="button-add button-add_theme_white b-report-block__add j-export-group-add" type="button">
            Добавить еще группу «Страны-Код ТН ВЭД»
        </button>
        {% endif %}
    </div>
</section>
{# 3 #}
<section class="b-report-block j-report-block" id="block-3">
    <div class="b-report-block__header" data-number="3">
        <h3 class="b-report-block__title">Относится ли производство к высокотехнологичным секторам экономики
            <div class="b-help j-help">К сектору высокотехнологичных отраслей относят виды экономической деятельности, характеризующиеся высоким уровнем технологического развития. В эту группировку традиционно включаются производственные виды экономической деятельности. К числу наукоемких видов экономической деятельности обычно относят виды экономической деятельности, производящие услуги. В качестве критерия отнесения к числу высокотехнологичных и наукоемких отраслей применяют степень прямого и косвенного использования результатов НИОКР в том или ином виде экономической деятельности (Приказ Росстата от 28.02.2013 г. № 81).</div>
        </h3>
    </div>
    <div class="b-report-block__body">
        <div class="b-radio-row">
            {% include "../../forms/custom-radio/custom-radio.twig" with {
                id: "high-tech-production-yes",
                name: "high-tech-production",
                value: "yes",
                text: "Да"
            } %}

            {% include "../../forms/custom-radio/custom-radio.twig" with {
                id: "high-tech-production-no",
                name: "high-tech-production",
                value: "no",
                text: "Нет"
            } %}
        </div>
    </div>
</section>
{# 4 #}
<section class="b-report-block j-report-block" id="block-4">
    <div class="b-report-block__header" data-number="4">
        <h3 class="b-report-block__title">Наименование технологических инноваций
            <div class="b-help j-help">Технологические инновации представляют собой конечный результат инновационной деятельности, получивший воплощение в виде нового либо усовершенствованного продукта или услуги, внедренных на рынке, нового либо усовершенствованного процесса или способа производства (передачи) услуг, используемых в практической деятельности. Технологическими инновациями могут быть как те продукты, процессы, услуги и методы, которые организация разрабатывает впервые, так и те, которые перенимаются ею у других организаций (Приказ Росстата от 6.09.2012 г. № 481).</div>
        </h3>
    </div>
    <div class="b-report-block__body">
        <div class="b-innovations-block j-innovations-block"></div>
        {% if not readonly %}
        <button class="button-add button-add_theme_white b-report-block__add j-innovation-add" type="button">
            Добавить еще технологическую инновацию
        </button>
        {% endif %}
    </div>
</section>
{# 5 #}
<section class="b-report-block j-report-block" id="block-5">
    <div class="b-report-block__header" data-number="5">
        <h3 class="b-report-block__title">Количество созданных высокопроизводительных рабочих мест (ед., при наличии)
            <div class="b-help j-help">К высокопроизводительным рабочим местам относятся все занятые рабочие места предприятий (организаций), в которых добавленная стоимость в расчете на одно рабочее место превышает установленный критерий (Приказ Росстата от 21.02.2013 N 70).</div>
        </h3>
    </div>
    <div class="b-report-block__body">
        <div class="b-input-block ">
            {% include "../../forms/input-text/input-text.twig" with {
                id: "high-productive-jobs",
                name: "high-productive-jobs",
                modify: "b-input-text_type_numeric"
            } %}
            <label class="b-input-block__label" for="high-productive-jobs">Количество рабочих мест</label>
        </div>
    </div>
</section>

