<div class="b-report-form__title">Результаты интеллектуальной деятельности (далее — ИД)</div>
<div class="b-report-form__subtitle">Охраняемые результаты интеллектуальной деятельности и средства индивидуализации (ст. 1225 Гражданского кодекса РФ)</div>

<button class="button-add  b-report-form__add-result j-add-result" type="button">Добавить ещё результат</button>

