<div class="b-input-group b-report-block__extra-fields j-permission-form">
    <div class="b-input-block b-input-block_is_untouched">
        {% include "../../forms/input-text/input-text.twig" with {
            id: "construction-permit["~ id ~"]",
            name: "construction-permit["~ id ~"]"
        } %}
        <label class="b-input-block__label" for="construction-permit">Номер разрешения</label>
    </div>
    {% include "../../forms/file/file.twig" with {
        class: "b-input-block j-construction-permit-file",
        id: "construction-permit-file["~ id ~"]",
        name: "construction-permit-file["~ id ~"]",
        label: "Прикрепите файл разрешения"
    } %}
    <div class="b-input-block b-input-block_is_untouched">
        {% include "../../forms/input-text/input-text.twig" with {
            id: "construction-permit-date["~ id ~"]",
            name: "construction-permit-date["~ id ~"]"
        } %}
        <label class="b-input-block__label" for="construction-permit-date">Дата документа</label>
    </div>
</div>