{% if deletable %}
    <button type="button" class="b-report-form__delete j-delete-stage" data-stage-id="{{ stageID }}"></button>
{% endif %}
<div class="b-input-block b-report-stage-select b-input-block_is_untouched j-reports-form-select" data-stage-id="{{ stageID }}">
    {% include "../../forms/select/select.twig" with {
        id: "construction-stage["~ stageID ~"]",
        name: "construction-stage["~ stageID ~"]",
        placeholder: true,
        placeholderText: " ",
        options: [{
            value: 'stage1',
            text: 'Заключение договора аренды'
        },{
            value: 'stage2',
            text: 'Землеустроительные работы'
        },{
            value: 'stage3',
            text: 'Проектирование'
        },{
            value: 'stage4',
            text: 'Строительство'
        },{
            value: 'stage5',
            text: 'Получение разрешения на ввод в эксплуатацию'
        },{
            value: 'stage6',
            text: 'Операционная деятельность'
        },{
            value: 'stage7',
            text: 'Строительство не предусмотрено'
        }]
    } %}
    <label class="b-input-block__label" for="construction-stage[{{ stageID }}]">
        Стадия строительства
    </label>
</div>
