<div class="b-infra-points__tooltip" style="top: 0; left: 0">
    <span class="b-infra-points__icon-wrapper">
        <img src="{{ icon }}" alt="Иконки">
    </span>
    <div>{{ tooltip }}</div>
</div>
