<div class="b-account__tooltip">
    <div class="b-account__tooltip-block">
        <ul class="b-account__tooltip-list">
            <li class="b-account__tooltip-item">
                <a href="#" class="b-account__tooltip-link">
                    Профиль
                </a>
            </li>

            <li class="b-account__tooltip-item">
                <a href="#" class="b-account__tooltip-link">
                    Подача отчета
                </a>
            </li>

            <li class="b-account__tooltip-item">
                <a href="#" class="b-account__tooltip-link">
                    Сообщение от ОЭЗ
                </a>
            </li>

            <li class="b-account__tooltip-item">
                <a href="#" class="b-account__tooltip-link">
                    Подать заявку
                </a>
            </li>
        </ul>
    </div>
</div>
