<div class="b-account__tooltip">
    <div class="b-account__tooltip-block">
        <ul class="b-account__tooltip-list">
            <li class="b-account__tooltip-item">
                <a href="#" class="b-account__tooltip-link">
                    Профиль
                </a>
            </li>

            <li class="b-account__tooltip-item">
                <a href="#" class="b-account__tooltip-link">
                    Подача отчета
                </a>
            </li>

            <!-- Для отображения счетчика новых сообщений добавить класс is-new-message -->
            <li class="b-account__tooltip-item b-account__tooltip-item-message is-new-message">
                <a href="#" class="b-account__tooltip-link">
                    Сообщение от ОЭЗ
                    <span class="b-account__tooltip-item-new-message">1</span>
                </a>
            </li>

            <li class="b-account__tooltip-item">
                <a href="#" class="b-account__tooltip-link">
                    Подать заявку
                </a>
            </li>
        </ul>
    </div>
</div>
