{#тело слайдера#}
<div class="b-slider__wrapper">

</div>

{#стрелки#}
<div class="b-slider__arrows">
    <button class="b-slider__arrow slider__arrow-left">
        {% include "./media/arrow-left.svg.twig" %}
    </button>
    <button class="b-slider__arrow slider__arrow-right">
        {% include "./media/arrow-right.svg.twig" %}
    </button>
</div>

{#точки#}
<div class="b-slider__dots">

</div>
