{% for procurement in elements %}
    <!-- не передаётся значение - было бы неплохо разобраться, в чём дело -->
    {% set procurement = elements[loop.index0] %}
    <div class="b-disclosure-content-item j-disclosure-content-item">
        <div class="b-disclosure-content-item__title">
            <a href="{{ procurement.LINK }}" class="b-link-line">{{ procurement.NAME }}</a>
        </div>
        <div class="b-disclosure-content-item__desc">
            <time datetime="{{ procurement.DATE_SHOW_FORMAT }}" class="b-disclosure-content-item__date">{{ procurement.DATE_SHOW_FORMAT_HUMAN }}</time>
        </div>
    </div>
{% endfor %}
