@font-face {
    font-family: "BrutalType-Bold";
    src: url("Brutal-Type-Bold/Brutal-Type-Bold.eot");
    src: url("Brutal-Type-Bold/Brutal-Type-Bold.eot?#iefix") format("embedded-opentype"),
         url("Brutal-Type-Bold/Brutal-Type-Bold.woff2") format("woff2"),
         url("Brutal-Type-Bold/Brutal-Type-Bold.woff") format("woff"),
         url("Brutal-Type-Bold/Brutal-Type-Bold.ttf") format("ttf"),
         url("Brutal-Type-Bold/Brutal-Type-Bold.svg#BrutalType-Bold") format("svg");
    font-style: normal;
    font-weight: 700;
}