<div class="b-vacancies-popup__success">
    <h3 class="b-vacancies-popup__header">Отклик на вакансию</h3>
    <div class="b-vacancies-popup__text">
        Отдел кадров обработает ваше сообщение в течение 3-х дней. Ответ пришлет на эл. почту
    </div>
    <button class="button b-vacancy__button j-vacancy-popup__close">Другие вакансии</button>
</div>
