<div class="b-vacancies-popup__success">
    <h3 class="b-vacancies-popup__header"></h3>
    <div class="b-vacancies-popup__text">

    </div>
    <button class="button b-vacancy__button j-vacancy-popup__close"></button>
</div>
