<ul class="b-map-routes j-map-routes">
    <li class="b-map-routes__item">
        <button class="b-map-routes__button" data-route-from="55.547975, 37.554802">до метро</button>
    </li>
    <li class="b-map-routes__item">
        <button class="b-map-routes__button" data-route-from="55.576639, 37.591333">до МКАД</button>
    </li>
    <li class="b-map-routes__item">
        <button class="b-map-routes__button" data-route-from="55.541448, 37.569217">до ж/д Бутово</button>
    </li>
</ul>
